<%- include("../partials/head") %>
<link rel="stylesheet" href="/css/calendar_core.min.css">
<link rel="stylesheet" href="/css/calendar_daygrid.min.css">
<style>
    hr{
       margin:  0 !important;
   }

   .timetable-container {
       width: var(--timetableWidth);
       background: #e6e6e6;
       /* border: 2px solid;    */
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       margin: auto;
       
   }

   .room-no {
       min-width: var(--roomNoWidth);
       max-width: var(--roomNoWidth);
       background: #006faa;
       color: #fff;
       /* border-right: 1px solid; */
       border-bottom: 1px solid;
       text-align: center;
       padding: 99px 0px;
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       
   }

   .room-slots {
       width: var(--roomSlotWidth);
       min-height: 150px;
       position: relative;
       background-size: var(--breakIntervalWidth);
       background-image:
           linear-gradient(to right, grey 1px, transparent 1px)
   }



   .room {
       border: 1px solid black;
       min-height: 200px;
       max-height: 200px;
   }

   .event {
       position: absolute;
        /* width: var(--eventWidth); */
       background: #ffffff;
       word-break: break-word;
       height: 100%;
       text-align: center;
       /* overflow: hidden; */
       padding-right: calc(var(--breakIntervalWidth) + 2px);
       padding-left:  2px;
       padding-top: 5px;
       font-size: 14px;
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       
   }

   .pending-event{
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       position: relative;
       margin: 2px auto;
       border-radius: 0.25rem;
       
   }

   .selected-pending-event{
       border: 2px solid #d53439;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }

   .selected-pending-event .pending-list-bullet{
       color: #d53439;
   }
   

   .pen-element{
       position: absolute;
       width:169px; 
       height:200px;
       border-left:1px solid rgb(255, 86, 86); 
       border-right:1px solid rgb(255, 86, 86);
       box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
   }

  
   /* .event:nth-child(even) .start-time{
       background-color: #dc3545 !important;
 
   }

   .event:nth-child(even) .end-time{
       background: #dc3545 !important;
   } */
  

   .start-time{
       position: absolute;
       left: 0;
       bottom: 0;
       border-radius: 0!important;
       font-size: 0.75rem;
   }

   .end-time{
       position: absolute;
       right: var(--breakIntervalWidth);
       bottom: 0;
       border-radius: 0!important;
       font-size: 0.75rem;
   }

   .fa-arrows-left-right{
       position: absolute;
       right: calc(var(--breakIntervalWidth) + 78px - 7px);
       bottom: 0;
   }

   .break {
       position: absolute;
       height: 100%;
       width: var(--breakIntervalWidth);
       background-size: 3px;
       background: repeating-linear-gradient(45deg, #e9ecef, #adb5bd 15px);
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;  
       
   }

   .fixed-break{
       position: absolute;
       height: 100%;
       /* background-color: #006faa; */
       width: var(--fixedBreakWidth);
       background-size: 3px;
       background: repeating-linear-gradient(251deg, #212121, #444141 12px);
       color: #fff;
       font-size: 1.1rem;
       padding: 99px 8px;
       text-align: center;
       line-height: 1;
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
   }

   .occupied-event{
       position: absolute;
       background: repeating-linear-gradient(225deg, #9cceff, #fcfcfc 10px);
       height: 100%;
       text-align: center;
       padding: 99px 0px;
       font-weight: bold;
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
   }
</style>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notification icon-->
<!--HEADER END-->

<div class="main-content">
      <!--DASHBOARD CONTENT START-->
      <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
     </div>
 

    <!--DASHBOARD CONTENT START-->
    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Time Sheet for Whole Semester</h5>
            </div>
        </div>

        <div class="card-body">
            <div id='calendar'></div>
        </div>
    </div>
</div>


<div class="modal fade" id="timetable-details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="timetable-detailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="timetable-detailsLabel">Timetable Sheet <span class="timetable-date"></span> <i class="fa-solid fa-calendar-day"></i></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body time-sheet-modal">
            <div class="card table-card mb-1 timetable-filter-container"> 
                <div class="card-body" id="timetable-filter">
                    
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <select name="room-name" id="room-name" class="form-select">
                                
                                <option selected disabled value>--Select Room--</option>
                            
                                <% for(let room of roomListStr){%>
                                    <option value="<%- room.id%>"> <%- room.room_number%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-12 border d-none option-container">
        
                        </div>
                        <div class="ms-auto table-searchbar-container col-md-4 col-sm-12"><button type="button"><i class="fas fa-search"></i> </button><input
                            type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="table-responsive timetable-container" >
                
            </div>
        </div>
       
      </div>
    </div>
</div> 
<!--DASHBOARD CONTENT END-->




    <%- include("../partials/footer") %>
    <script src="/js/calendar_core.min.js"></script>
	<script src="/js/calendar_daygrid.min.js"></script>
    <script>
        $(document).ready(function () {

            //ROOM FILTER
            $('#room-name').on('change', function (){

            let spanAppendCheck = true;
            let spanFilterList = $(document).find('.span-filter');
            $('.option-container').removeClass('d-none');
            if(spanFilterList.length > 0){

                spanFilterList.each((index, element) => {
                    if($(element).attr('data-room-lid') == $(this).val()){

                        spanAppendCheck = false

                    }
                })
            }

            if(spanAppendCheck){
                $('.option-container').append(`<span class="span-filter" data-room-lid="${$('#room-name option:selected').val()}">${$('#room-name option:selected').text()}<i class="fa-solid fa-xmark ms-auto ps-2 room-span-remove"></i></span>`);
            }

            filterRoom()

            })

            $(document).on('click','.room-span-remove', function(){
            $(this).parent().remove();
            filterRoom()
            })

            function filterRoom(){

            $(document).find('.room[data-room-lid]').addClass('d-none')
            $(document).find('.span-filter').each(function (index, spanElement) {

                $(document).find('.room[data-room-lid]').each(function (index, RoomElement) {

                    if($(spanElement).attr('data-room-lid') == $(RoomElement).attr('data-room-lid')){
                        $(RoomElement).removeClass('d-none');
                    }
                })

            })

            if( $(document).find('.span-filter').length < 1){
                
                $(document).find('.room[data-room-lid]').removeClass('d-none')
            }
            }
            
            // SEARCH
        $('#searchkeyword').on('input', function () {

        let searchStr = $(this).val().toLowerCase()

        if (searchStr.length > 0) {
            $(document).find('.room[data-room-no]').addClass('d-none')
            $(document).find('.room[data-room-no]').each(function (index, element) {
                $(element).find('.event').each(function (index, element) {
                    if ($(element).text().toLowerCase().includes(searchStr)) {
                        $(element).addClass('event-info').parent().parent().removeClass('d-none')
                    } else {
                        $(element).removeClass('event-info')
                    }
                })

            })
        } else {
            $('.room[data-room-no]').removeClass('d-none')
            $('.room[data-room-no] .event').removeClass('event-info')
        }

        filterRoom()

        })
            //Calendar Utils Functions
            function getMonth() {
                let date = calendar.state.currentDate
                let monthInt = date.getMonth();
                return monthInt
              }

            function convertDate(cDate, splitChar) {

                if (splitChar == '/') {
                //31/08/2021
                let arr = cDate.split('/');
                return `${arr[2]}-${arr[1]}-${arr[0]}`
                }
                else if (splitChar == '-') {
                //2021-11-06
                let arr = cDate.split('-');
                return `${arr[2]}/${arr[1]}/${arr[0]}`
                }
            }

            //INITIALIZE calendar
            let calendar;

            if ($('#calendar').length >= 1) {
                var calendarEl = document.getElementById('calendar');

                calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['dayGrid'],
                    validRange: {
                    start: '<%- academicDate.start_date %>',
                    end: '<%- academicDate.end_date %>'
                    }
                });

                calendar.render();
            }

            $('#calendar table td').css('padding-top', '75px')

            checkLectureDaysAjax();

            function checkLectureDaysAjax(){
           
                let ApiObj = {
                        url: '/admin/timesheet/check-days-lecture',
                        type: 'POST',
                        data: {
                            monthInt: getMonth() + 1
                        },
                        dataType: 'JSON'
                    }

                    ajaxApi(ApiObj).then(result => {
            
                        let dateList = result.dateList
                        for (let date of dateList) {
                            $(`#calendar td .fc-day[data-date='${date.dateStr}']`).append(
                            '<i class="fa-solid fa-circle-check text-success"></i>')
                        }
                        $('#calendar table td').css('padding-top', '75px')
                
                    }).catch(error => {
                        console.log('error--> lecture date check')
                    })
            }

            $('.fc-next-button, .fc-prev-button, .fc-today-button').click(function () {

                checkLectureDaysAjax();

                showTimesheetModal()
            })

            let timeJson = JSON.parse(`<%- timeSlotList%>`);
            const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
            function showTimesheetModal() {
                $('.fc-day, .fc-day-top, .fc-past, .fc-future').click(function () {

                    let thisDate = $(this).data('date').trim();
                    let dateClass = new Date($(this).data('date'));
                    let date = dateClass.getDate($(this).data('date'));
                    let month = dateClass.getMonth($(this).data('date')) + 1;
                    let year = dateClass.getFullYear($(this).data('date'));
                    let day = dateClass.getDay($(this).data('date'));
                    let formatDate = `${date}-${month}-${year} (${weekday[day]})` 
                    console.log('formated dtae::', formatDate)
                    console.log('selected date: ', $(this).data('date'))

                    let ApiObj = {
                        url: '/admin/timesheet/getSimulatedData',
                        type: 'POST',
                        data: {
                        selectedDate: thisDate,
                        dayLid: day+1
                        },
                        dataType: 'JSON'
                    }

                    ajaxApi(ApiObj).then(result => {
            
                        
                        console.log('promise all data', result)
                        timeTableDisplay(result.data, result.breakData);
                        $('.timetable-date').text(formatDate)
                        $('#timetable-details').modal('show');
                
                    }).catch(error => {
                        console.log('error--> lecture list data')
                    })
                })
            }

            showTimesheetModal()
              
            let roomJson = JSON.parse(`<%-roomList%>`) 
            let timeTablestartSlot = timeJson[0].id;
            let fixedBreakSlotStart = 115
            let fixedBreakSlotStart2 = 175
            let cssRoot = document.querySelector(':root');
            let styleRoot = getComputedStyle(cssRoot);
            

            let timetableProp = {
                totalSlots: 116,
                pxPerSlot: 15,
                roomNoWidth: 50,
            }

            cssRoot.style.setProperty('--timetableWidth', `${timetableProp.totalSlots * timetableProp.pxPerSlot + 50 + 2 }px`);
            cssRoot.style.setProperty('--roomNoWidth', `${timetableProp.roomNoWidth}px`);
            cssRoot.style.setProperty('--breakIntervalWidth', `${timetableProp.pxPerSlot}px`);
            cssRoot.style.setProperty('--eventWidth', `${(timetableProp.pxPerSlot * 12) + timetableProp.pxPerSlot }px`);
            cssRoot.style.setProperty('--roomSlotWidth', `${timetableProp.totalSlots * timetableProp.pxPerSlot}px`);

            function timeTableDisplay(eventListJson, breakData) {
                let fixedBreadWidth;
                let roomSlot;
                let eventStartSlot;
                let eventLeftPosition;
                let roomHtml = ``;

                for (let room of roomJson) {

                    roomHtml += `<div class="d-flex room" data-room-lid="${room.id}" data-room-no="${room.room_number}">
                        <div class="room-no" data-room-lid="${room.id}" data-room-type-lid="${room.room_type_id}">
                            ${room.room_number}
                        </div>
                        <div class="room-slots">

                        </div>
                        </div>`
                }
                
                let timeTableBox = document.querySelector('.timetable-container');
                timeTableBox.innerHTML = roomHtml;

                let eventWidth;

                for (let event of eventListJson) {
    
                    if (!event.is_break) {

                        roomSlot = document.querySelector(`.room[data-room-lid = "${event.room_lid}"] .room-slots`)

                        eventStartSlot = event.start_time_lid;
                        eventLeftPosition = (eventStartSlot - timeTablestartSlot) * timetableProp.pxPerSlot

                        let breakElement = (eventLeftPosition + (timetableProp.pxPerSlot * 13) >= (timetableProp
                                .totalSlots * timetableProp.pxPerSlot)) || event.end_time_lid == fixedBreakSlotStart ?
                            `<div class="break d-none" style="left: ${timetableProp.pxPerSlot * 12}px; top: 0; bottom:0; width:${timetableProp.pxPerSlot}px"></div>` :
                            `<div class="break" style="left: ${timetableProp.pxPerSlot * 12}px; top: 0; bottom:0; width:${timetableProp.pxPerSlot}px"></div>`

                    

                        if(event.end_time_lid === (116 - 1) || event.end_time_lid === (176 - 1) || event.end_time_lid === (207 - 1)) {
                            eventWidth = (event.end_time_lid - event.start_time_lid + 1) * timetableProp.pxPerSlot;
                        } else {
                            eventWidth = (event.end_time_lid - event.start_time_lid + 2) * timetableProp.pxPerSlot;
                        }
                        // eventWidth = 169;

                        //  eventWidth = (eventLeftPosition + (timetableProp.pxPerSlot * 13) >= (timetableProp.totalSlots * timetableProp.pxPerSlot)) || event.end_time_lid == fixedBreakSlotStart ?
                        // `${(event.end_time_lid - event.start_time_lid + 1) * timetableProp.pxPerSlot}px;` :
                        // `${(event.end_time_lid - event.start_time_lid + 2) * timetableProp.pxPerSlot}px;` 


                        let roomSlotItem = document.createElement('div');
                        roomSlotItem.setAttribute("class", "event room-slot-item")
                        roomSlotItem.setAttribute("style",
                            `left: ${eventLeftPosition}px ;top: 0; text-align:center; width:${eventWidth}px;`
                            )
                        roomSlotItem.setAttribute("data-event-lid", `${event.event_lid}`)
                        roomSlotItem.setAttribute("data-room-lid", `${event.room_lid}`)
                        roomSlotItem.setAttribute("data-module-name", `${event.module_name}`)
                        roomSlotItem.setAttribute("data-module-lid", `${event.course_lid}`)
                        roomSlotItem.setAttribute("data-division-name", `${event.division}`)
                        roomSlotItem.setAttribute("data-batch-name", `${event.batch}`)
                        roomSlotItem.setAttribute("data-event-type-lid", `${event.event_type_lid}`)
                        roomSlotItem.setAttribute("data-session-name", `${event.acad_session}`)
                        roomSlotItem.setAttribute("data-session-lid", `${event.acad_session_lid}`)
                        roomSlotItem.setAttribute("data-program-name", `${event.program_name}`)
                        roomSlotItem.setAttribute("data-program-lid", `${event.program_lid}`)
                        roomSlotItem.setAttribute("data-start-time", `${event.start_time_lid}`)
                        roomSlotItem.setAttribute("data-end-time", `${event.end_time_lid}`)
                        roomSlotItem.setAttribute("data-faculty-lid", `${event.faculty_lid ? event.faculty_lid : ''}`)
                        roomSlotItem.setAttribute("data-faculty-name", `${event.faculty_name ? event.faculty_name : ''}`)

                        roomSlotItem.innerHTML =
                            `${event.program_name} - ${event.acad_session} <br><hr> ${event.module_name} <br><hr> ${event.division} - ${event.batch} (${event.event_type_name})<br><hr> ${event.faculty_name} <br><hr> ${event.sap_flag}<span class="badge bg-info start-time">${timeJson[eventStartSlot - timeTablestartSlot].start_time}</span>
                        <i class="fa-solid fa-arrows-left-right"></i><span class="badge bg-info end-time">${timeJson[eventStartSlot - timeTablestartSlot + 11].end_time}</span> ${breakElement}`;

                        roomSlot.append(roomSlotItem);
                    } 
                }
                for (let data of breakData) {

                    roomSlot = document.querySelector(`.room[data-room-lid = "${data.room_lid}"] .room-slots`);
                    eventLeftPosition = (data.start_slot - timeTablestartSlot) * timetableProp.pxPerSlot;

                    let fixedBreak = document.createElement('div');
                    fixedBreak.setAttribute("class", "fixed-break room-slot-item")
                    fixedBreak.setAttribute("style", `left: ${eventLeftPosition}px; top: 0;`)
                    fixedBreak.setAttribute("data-break", `${data.is_break}`)
                    fixedBreak.setAttribute("data-break-id", `${data.break_id}`)
                    fixedBreak.innerText = 'BREAK';
                    fixedBreadWidth = (data.end_slot - data.start_slot) * timetableProp.pxPerSlot + timetableProp
                        .pxPerSlot;

                    roomSlot.append(fixedBreak);
                }
                
                cssRoot.style.setProperty('--fixedBreakWidth', `${fixedBreadWidth}px`);
            }

       
        })
    </script>
    <%- include("../partials/footerEnd") %>