<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
    <!--DASHBOARD CONTENT START-->
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h1 class="f-20">Resend Event To SAP</h1>
        </div>
        <div class="card-body">
           <table class="table">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% let event; for(event of failedEvents) { %>
                        <tr>
                            <td><%- event.eventName %></td>
                            <td><%- event.remarks %></td>
                            <td><button>Edit</button></td>
                        </tr>
                   <% } %>
                </tbody>
           </table>
        </div>
    </div>

    <!--DASHBOARD CONTENT END-->

   <%- include("../partials/footer") %>
    <script>
        $(document).ready(function () {

           

        })
    </script>
    <%- include("../partials/footerEnd") %>