<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!-- MAIN-CONTENT -->
<div class="main-content">
    <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>
    <%- include("../partials/faculty-menu") %>
    <!--DASHBOARD CONTENT START-->

    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Faculty Allocation Status</h5>
            </div>
            <div>
                <button class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#add-facultybatch-modal"><i
                        class="fas fa-plus"></i></button>
                <!-- <button class="btn ms-auto delete-facultybatch add-btn "><i class="fas fa-trash"></i></button>
                <button class="btn ms-auto bulk-delete-facultybatch add-btn "><img src="/icons/delete.png" alt=""
                        width="24px" height="32px"></button> -->
            </div>
        </div>
        <div class="card-body table-responsive">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
            <table class="table custom_row" id="facultyBatch">
               
            </table>
            <div class="d-flex justify-content-between faculty-allocation-container">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Monday</strong></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Tuesday</strong></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Wednesday</strong></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Thursday</strong></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Friday</strong></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Saturday</strong></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square text-success"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Sunday</strong></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square text-danger"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                            <td><i class="fa-solid fa-square"></i></td>
                        </tr>
                    </tbody>

                </table>
               
            </div>
        </div>
    </div>
</div>



<%- include("../partials/footer") %>

<script src="/js/dashboardscript.js"></script>
<script src="/js/leftsidebartoggle.js"></script>
<script>

$(document).ready(function(){

    })

</script>
<%- include("../partials/footerEnd") %>