<%- include("../partials/head") %>
<style>
         hr{
            margin:  0 !important;
        }

        .timetable-container {
            width: var(--timetableWidth);
            background: #e6e6e6;
            /* border: 2px solid;    */
        }

        .day-name {
            min-width: var(--roomNoWidth);
            max-width: var(--roomNoWidth);
            background: #006faa;
            color: #fff;
            border-bottom: 1px solid;
            text-align: center;
            padding: 10px 0px;
        }

        .room-slots {
            width: var(--roomSlotWidth);
            min-height: 10px;
            position: relative;
            background-size: var(--breakIntervalWidth);
            background-image:
                linear-gradient(to right, grey 1px, transparent 1px)
        }


        .room {
            border: 1px solid black;
            line-height: 0px;
        }

        .event {
            position: absolute;
             /* width: var(--eventWidth); */
            background: #ffffff;
            word-break: break-word;
            height: 100%;
            /* overflow: hidden; */
            padding-right: calc(var(--breakIntervalWidth) + 2px);
            padding-left:  2px;
            padding-top: 5px;
            font-size: 14px;
        }

    
       

        /* .event:nth-child(even) .start-time{
            background-color: #dc3545 !important;
      
        }

        .event:nth-child(even) .end-time{
            background: #dc3545 !important;
        } */
       

        .start-time{
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 0!important;
            font-size: 0.75rem;
        }

        .end-time{
            position: absolute;
            right: var(--breakIntervalWidth);
            bottom: 0;
            border-radius: 0!important;
            font-size: 0.75rem;
        }

        .fa-arrows-left-right{
            position: absolute;
            right: calc(var(--breakIntervalWidth) + 78px - 7px);
            bottom: 0;
        }

        .break {
            position: absolute;
            height: 100%;
            width: var(--breakIntervalWidth);
            background-size: 3px;
            background: repeating-linear-gradient(45deg, #e9ecef, #adb5bd 15px);  
        }

        .fixed-break{
            position: absolute;
            height: 100%;
            /* background-color: #006faa; */
            width: var(--fixedBreakWidth);
            background-size: 3px;
            background: repeating-linear-gradient(251deg, #212121, #444141 12px);
            color: #fff;
            font-size: 3rem;
            padding: 1px 18px;
            text-align: center;
            line-height: 1.1;

        }

        .occupied-event{
            position: absolute;
            background: repeating-linear-gradient(225deg, #9cceff, #fcfcfc 10px);
            height: 100%;
            text-align: center;
            padding: 125px 0px;
            font-weight: bold;
        }
</style>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!-- MAIN-CONTENT -->
<div class="main-content">
    <div class="breadcrumbs-container">

        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
            <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
            <%} }%>
        </ul>
    </div>
    <%- include("../partials/faculty-menu") %>
    <!--DASHBOARD CONTENT START-->

    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Faculty Allocation Status</h5>
            </div>
            <div>
                <!-- <button class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#add-facultybatch-modal"><i
                        class="fas fa-plus"></i></button> -->
                <!-- <button class="btn ms-auto delete-facultybatch add-btn "><i class="fas fa-trash"></i></button>
                <button class="btn ms-auto bulk-delete-facultybatch add-btn "><img src="/icons/delete.png" alt=""
                        width="24px" height="32px"></button> -->
            </div>
        </div>
        <div class="card-body table-responsive">
            <div class="row">
                <div class="col-md-4 mb-5">
            <select class="form-select select2" id="facultyName">
                        <option>Select faculty</option>
                        <%for(let faculty of facultyList){%>
                        <option value="<%-faculty.id%>"><%-faculty.faculty_name%> (<%-faculty.faculty_id%>)</option>
                        <%}%>
            </select>
            <div class="form-check form-check-inline mt-3">
                <input class="form-check-input" type="checkbox" id="showDetails">
                <label class="form-check-label" for="showDetails">Show Details</label>
            </div>
                </div>
            </div>

             <div class="timetable-container" style="overflow-x: auto;">
       
            </div>

            <!-- <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div> -->
            <!-- <table class="table custom_row" id="facultyBatch">
               
            </table> -->
            <!-- <div class="d-flex justify-content-between faculty-allocation-container">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Monday</strong></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Tuesday</strong></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Wednesday</strong></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Thursday</strong></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Friday</strong></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Saturday</strong></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                        </tr>
                        <tr>
                            <td><strong>Sunday</strong></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-booked"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                            <td><i class="fa-solid fa-square faculty-available"></i></td>
                        </tr>
                    </tbody>

                </table>
               
            </div> -->
       
       
        </div>
    </div>
</div>



<%- include("../partials/footer") %>

                        <script src="/js/dashboardscript.js"></script>
                        <script src="/js/leftsidebartoggle.js"></script>
                         <script>
                            $(document).ready(function () {
                                $(".select2").select2()
                                $("#facultyName").on('change', function () {
                                    $("#showDetails").prop('checked',false)
                                    let faculty_id = $(this).val()
                                    console.log('faculty_id:::::', faculty_id)
                                    let ApiObj = {
                                        url: '/admin/faculties/allocation-status',
                                        type: 'POST',
                                        data: {
                                            faculty_id: faculty_id
                                        },
                                        dataType: 'JSON'
                                    }
                                    ajaxApi(ApiObj).then(result => {
                                        console.log('Result::::::::::::',result)
                                        timeTableDisplay(result.daysdata, result.bookedSlot, result.availableSlot)
                                    }).catch(error => {
                                        console.log('Error::::::::::::',error)
                                    })
                                })


                                //SHOW DETAILS IF CHECKED 
                                $("#showDetails").on('click',function(){
                                    if ($(this).is(':checked')) {
                                        $(".slotStatusWithDetails").removeClass('d-none')
                                        $(".slotStatusWithDetails").css('line-height','1.5')
                                        $(".day-name").css('padding','100px 0px')
                                        $(".slotStatusWithDetails").css('padding-top','15px')
                                        console.log('CHECKED::::::::>>')
                                    }else{
                                        $(".slotStatusWithDetails").addClass('d-none')
                                        console.log('UNCHECKED::::::::>>')
                                        $(".slotStatusWithDetails").css('line-height','0')
                                        $(".day-name").css('padding','10px 0px')
                                    }
                                })

                            })

                                let  slugName = `<%-locals.slug %>`
                                let  userId = `<%-locals.userId %>`
                                console.log('slugName::::::::::::>>',slugName)
                                console.log('userId::::::::::::>>',userId)
                        
                                //DISPLAYING TIMETABLE AND DRAG EVENTS
                                let eventListJson;
                                
          
         let cssRoot = document.querySelector(':root');
        let styleRoot = getComputedStyle(cssRoot);

        let timetableProp = {
            totalSlots: 116,
            pxPerSlot: 13,
            roomNoWidth: 150,
            
        }
        cssRoot.style.setProperty('--timetableWidth', `${timetableProp.totalSlots * timetableProp.pxPerSlot + 50 }px`);
        cssRoot.style.setProperty('--roomNoWidth', `${timetableProp.roomNoWidth}px`);
        cssRoot.style.setProperty('--breakIntervalWidth', `${timetableProp.pxPerSlot}px`);
        cssRoot.style.setProperty('--eventWidth', `${(timetableProp.pxPerSlot * 12) + timetableProp.pxPerSlot }px`);
        cssRoot.style.setProperty('--roomSlotWidth', `${timetableProp.totalSlots * timetableProp.pxPerSlot}px`);
        
        
        
        let timeJson = JSON.parse(`<%- timeSlotList%>`);
        console.log('time slot list::', timeJson)

 
        let timeTablestartSlot = timeJson[0].id;
        console.log('timeTablestartSlot::::::::::>',timeTablestartSlot)
        let fixedBreakSlotStart = 115

        function timeTableDisplay(dayJson, bookedSlot, availableSlot){
            let fixedBreadWidth ;
            let roomSlot;
            let eventStartSlot;
            let eventLeftPosition;
            let dayHtml = ``;
                for( let day of dayJson ){
                    dayHtml +=`<div class="d-flex room" day-lid="${day.id}">
                    <div class="day-name" day-lid="${day.id}" >
                        ${day.day_name}
                    </div>
                    <div class="room-slots">

                    </div>
                    </div>`
                }
                
                let timeTableBox = document.querySelector('.timetable-container');
                timeTableBox.innerHTML = dayHtml;

            console.log('Faculty Slot')
            for( let event of bookedSlot) {
            console.log('allEventListJson:::::::::::',event)
                if(!event.is_break){
              
               //let dyayay =  document.querySelector(`.room .day-name[day-lid = "${event.day_lid}"]`).classList.remove('bg-success')

                roomSlot = document.querySelector(`.room[day-lid = "${event.day_lid}"] .room-slots`)
              
               
                eventStartSlot = event.start_slot;
                eventLeftPosition =   (eventStartSlot - timeTablestartSlot) * timetableProp.pxPerSlot

                let breakElement = (eventLeftPosition + (timetableProp.pxPerSlot * 13) >= (timetableProp.totalSlots * timetableProp.pxPerSlot)) || event.end_slot == fixedBreakSlotStart ?
                `<div class="break d-none" style="left: ${timetableProp.pxPerSlot * 12}px; top: 0; bottom:0; width:${timetableProp.pxPerSlot}px"></div>` :
                `<div class="break" style="left: ${timetableProp.pxPerSlot * 12}px; top: 0; bottom:0; width:${timetableProp.pxPerSlot}px"></div>`
                    

                let roomSlotItem = document.createElement('div');
                roomSlotItem.setAttribute("class",`event room-slot-item bg-danger`)
                roomSlotItem.setAttribute("style",`left: ${eventLeftPosition}px ;top: 0; text-align:center; width:${(event.end_slot - event.start_slot + 2) * timetableProp.pxPerSlot}px;`)
                roomSlotItem.setAttribute("data-event-lid",`${event.event_lid}`)
                roomSlotItem.setAttribute("data-module-name",`${event.module_name}`)
                roomSlotItem.setAttribute("data-module-lid",`${event.course_lid}`)
                roomSlotItem.setAttribute("data-division-name",`${event.division}`)
                roomSlotItem.setAttribute("data-batch-name",`${event.batch}`)
                roomSlotItem.setAttribute("data-event-type-lid",`${event.event_type_lid}`)
                roomSlotItem.setAttribute("data-session-name",`${event.acad_session}`)
                roomSlotItem.setAttribute("data-session-lid",`${event.acad_wsession_lid}`)
                roomSlotItem.setAttribute("data-program-name",`${event.program_name}`)
                roomSlotItem.setAttribute("data-program-lid",`${event.program_lid}`)
                roomSlotItem.setAttribute("data-start-time",`${event.start_slot}`)
                roomSlotItem.setAttribute("data-end-time",`${event.end_slot}`)
                roomSlotItem.setAttribute("data-faculty-lid",`${event.faculty_lid ? event.faculty_lid : ''}`)
                roomSlotItem.innerHTML = `<div class="slotStatusWithDetails d-none text-white">${event.program_name} - ${event.acad_session} <br><hr> ${event.module_name} <br><hr> ${event.division} - ${event.batch} (${event.event_type})</div> <span class="badge  start-time">${timeJson[eventStartSlot - timeTablestartSlot].start_time}</span>
                <i class="fa-solid fa-arrows-left-right text-white"></i><span class="badge  end-time">${timeJson[eventStartSlot - timeTablestartSlot + 11].end_time}</span> ${breakElement}`;
                console.log('roomSlotItem:::::',roomSlotItem)
                roomSlot.append(roomSlotItem);
                }
                else {
                   console.log('HERE FALSE')
                    roomSlot = document.querySelector(`.room[day-lid = "${event.day_lid}"] .room-slots`)
                    eventStartSlot = event.start_slot;
                    eventLeftPosition =   (eventStartSlot - timeTablestartSlot) * timetableProp.pxPerSlot;

                    let fixedBreak = document.createElement('div');
                    fixedBreak.setAttribute("class","fixed-break room-slot-item")
                    fixedBreak.setAttribute("style",`left: ${eventLeftPosition}px; top: 0;`)
                    fixedBreak.setAttribute("data-break",`${event.is_break}`)
                    fixedBreak.innerText = 'BREAK';
                    fixedBreadWidth = (event.end_slot - event.start_slot) * timetableProp.pxPerSlot + timetableProp.pxPerSlot;
                    console.log('breakinterval count:::::', fixedBreadWidth)
                    
                    roomSlot.append(fixedBreak);
                }
            }

           // for(let event of availableSlot){

            // if(document.querySelector(`.event[data-event-lid="${event.event_lid}"]`)){
            //     console.log('event-count');
            // }
            // else{
                // if(!event.is_break){
                //     console.log('other events')
                //     roomSlot = document.querySelector(`.room[day-lid = "${event.day_lid}"] .room-slots`)
                //     eventStartSlot = event.start_slot;
                //     eventLeftPosition =   (eventStartSlot - timeTablestartSlot) * timetableProp.pxPerSlot
                //     let occRoomWidth = (eventLeftPosition + (timetableProp.pxPerSlot * 13) >= (timetableProp.totalSlots * timetableProp.pxPerSlot)) || event.end_slot == fixedBreakSlotStart ?
                //     `${timetableProp.pxPerSlot * 12}` :
                //     `${timetableProp.pxPerSlot * 13}`
                //     let occupiedRoomSlotItem = document.createElement('div');
                //     occupiedRoomSlotItem.setAttribute("class","occupied-event room-slot-item")
                //     occupiedRoomSlotItem.setAttribute("style",`left: ${eventLeftPosition}px ;top: 0; text-align:center; width: ${occRoomWidth}px`)
                //     occupiedRoomSlotItem.setAttribute("data-event-lid",`${event.event_lid}`)
                //     occupiedRoomSlotItem.setAttribute("data-module-name",`${event.module_name}`)
                //     occupiedRoomSlotItem.setAttribute("data-module-lid",`${event.course_lid}`)
                //     occupiedRoomSlotItem.setAttribute("data-division-name",`${event.division}`)
                //     occupiedRoomSlotItem.setAttribute("data-batch-name",`${event.batch}`)
                //     occupiedRoomSlotItem.setAttribute("data-event-type-lid",`${event.event_type_lid}`)
                //     occupiedRoomSlotItem.setAttribute("data-session-name",`${event.acad_session}`)
                //     occupiedRoomSlotItem.setAttribute("data-session-lid",`${event.acad_session_lid}`)
                //     occupiedRoomSlotItem.setAttribute("data-program-name",`${event.program_name}`)
                //     occupiedRoomSlotItem.setAttribute("data-program-lid",`${event.program_lid}`)
                //     occupiedRoomSlotItem.setAttribute("data-start-time",`${event.start_slot}`)
                //     occupiedRoomSlotItem.setAttribute("data-end-time",`${event.end_slot}`)
                //     occupiedRoomSlotItem.setAttribute("data-faculty-lid",`${event.faculty_lid ? event.faculty_lid : ''}`)
                //     occupiedRoomSlotItem.innerHTML = `AVAILABLE`;
                //     roomSlot.append(occupiedRoomSlotItem);
                // }
           // }
            //}
            cssRoot.style.setProperty('--fixedBreakWidth', `${fixedBreadWidth}px`);
        }
                    
                                function showError(errors) {
                                    console.log('error::::::::::', errors)
                                    let simpleAlert = new SimpleAlert();
                                    let obj = {
                                        title: errors.description,
                                        message: errors.data,
                                        type: 'alert-danger',
                                        buttons: {
                                            positive: {
                                                text: "Okay",
                                                action: function () {
                                                    document.querySelector('.simple-alert').remove();
                                                }
                                            },
                                            negative: {
                                                text: "Cancel",
                                                action: function () {
                                                    alert('Negative')
                                                }
                                            }
                                        }
                                    }
                                    simpleAlert.alert(obj);
                                }


                                function showSuccess(errors) {
                                    console.log('error::::::::::', errors)
                                    let simpleAlert = new SimpleAlert();
                                    let obj = {
                                        title: errors.description,
                                        message: errors.data,
                                        type: 'alert-success',
                                        buttons: {
                                            positive: {
                                                text: "Okay",
                                                action: function () {
                                                    document.querySelector('.simple-alert').remove();
                                                }
                                            },
                                            negative: {
                                                text: "Cancel",
                                                action: function () {
                                                    alert('Negative')
                                                }
                                            }
                                        }
                                    }
                                    simpleAlert.alert(obj);
                                }

                            // })
                        </script>
                        <%- include("../partials/footerEnd") %>