<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!-- MAIN-CONTENT -->
<div class="main-content">
    <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>
    <%- include("../partials/faculty-menu") %>
    <!--DASHBOARD CONTENT START-->
    <div class="errorHtml"></div>
    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Faculty Batch</h5>
            </div>
            <div>
                <button class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#add-facultybatch-modal"><i
                        class="fas fa-plus"></i></button>
                <!-- <button class="btn ms-auto delete-facultybatch add-btn "><i class="fas fa-trash"></i></button>
                <button class="btn ms-auto bulk-delete-facultybatch add-btn "><img src="/icons/delete.png" alt=""
                        width="24px" height="32px"></button> -->
            </div>
        </div>
        <div class="card-body table-responsive">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
            <table class="table custom_row" id="facultyBatch">
                <thead>
                    <th>Sr.No.</th>
                    <th>Faculty Name</th>
                    <th>Faculty Id</th>
                    <th>Batch</th>
                    <th>Action</th>
                </thead>
                <tbody> 
                   <%  let count =1; %>
                    <% for (let faculty of FacultyBatchList) { %>
                    <tr>
                        <td><%- count++ %></td>
                        <td><%- faculty.faculty_name %></td>
                        <td><%- faculty.faculty_id %></td>
                        <td><%- faculty.batch_lid %></td>
                        <td><i class="fas fa-edit text-dark cursor-pointer edit-facultybatch"
                                data-id="<%- faculty.id %>" data-faculty-lid="<%- faculty.faculty_lid %>" data-batch="<%- faculty.batch %>"></i>
                                <a class="delete-faculty" data-id="<%- faculty.id %>"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:<%- pageCount %>
                    </p>
                </div>
                <div>
                    <p id="pagination"></p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="add-facultybatch-modal" tabindex="-1" role="dialog" aria-labelledby="add-facultybatch-modal"
aria-hidden="true">
<div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content modal-inputform">
        <div class="modal-header  modal-inputform-header">
            <h5 class="modal-title text-dark" id="add-org-modal-title">ADD FACULTY DATE TIME</h5>
            <button type="button" class="btn fs-4 text-dark" data-bs-dismiss="modal" aria-label="Close"><i
                    class="fas fa-times"></i></button>

        </div>
        <!-- <form action="/management/campus/add" method="POST"> -->
        <div class="modal-body">
            <div id="errorHtml"></div>
         <div class="row">
             <div class="col-md-3 select-items">
            <div class="mb-3">
                <label class="form-label">Select Faculty</label>
                <select class="select2 modalSelect2" name="faculty_lid" id="faculty_lid">
                    <option value="">--select--</option>
                    <% for(faculty of facultyList) {%>
                    <option value="<%- faculty.id %>">
                        <%- faculty.faculty_name %>  (<%- faculty.faculty_id %>)</option>
                    <%}%>
                </select>

            </div>
            <div class="mb-3">
             <label class="form-label">Select Program</label>
                <select class="form-select" name="programName" id="programName"></select>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Acad Session</label>
                <select class="form-select" name="sessionName" id="sessionName"></select>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Module Name</label>
                <select class="form-select" name="moduleName" id="moduleName"></select>
            </div>
   
            <div class="mb-3">
                <label class="form-label">Select Division</label>
                <select class="form-select" name="end_time_id" id="end_time_id"></select>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Batch</label>
                <select class="form-select" name="end_time_id" id="end_time_id"></select>
            </div>

            <div class="mb-3 d-grid gap-2">
                <button class="btn btn-info text-light add-faculty-date-time" disabled>ADD FACULTY DATE TIME</button>
            </div>

            <div class="alert alert-success rounded-0" role="alert">
                Note: Select Faculty First.
              </div>

             </div>
             <div class="col-md-9 selected-items">
                <div class="table-responsive">
                    <table class="table table-bordered table-bordered" id="add-more-faculty-date-time-table">
                        <thead>
                            <th>Sr No.</th>
                            <th>Faculty Name</th>
                            <th>Faculty Id</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
             </div>
         </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn createfacultydatetime modal-inputform-btn">CREATE</button>
            <button type="button" class="btn updatefacultydatetime modal-inputform-btn d-none">UPDATE</button>
        </div>
    </div>
</div>
</div>


<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
<script src="/js/dashboardscript.js"></script>
<script src="/js/leftsidebartoggle.js"></script>
<script>

$(document).ready(function(){

    $('.select2').select2({
         dropdownParent: $('#add-facultybatch-modal')});

    $('#add-more-facultybatch-fields').on('click', function () {
        
        let lastTr = $('#add-more-facultybatch-table tbody tr:last-child')
        lastTr.find('.modalSelect2').select2('destroy');
        console.log('addd::::lastTr', lastTr)
        let faculty_lid = lastTr.find(`select[name="faculty_lid"]`).val();
        let batch_id = lastTr.find(`select[name="faculty_batch"]`).val();
        let clonedTr = lastTr.clone();
        clonedTr.find(`select[name="faculty_lid"]`).val(faculty_lid).trigger('change')
        clonedTr.find(`select[name="faculty_batch"]`).val(batch_id).trigger('change')
        
        lastTr.find('.modalSelect2').select2({
                    dropdownParent: $('#add-facultybatch-modal')
                });

            clonedTr.find('.modalSelect2').select2({
                    dropdownParent: $('#add-facultybatch-modal')
                });

        $('#add-more-facultybatch-table tbody').append(clonedTr)})

    })
            $('#add-more-facultybatch-table').on('click', '.remove-facultybatchfield', function () {
            let trLength = $('#add-more-facultybatch-table tbody tr').length;

            if (trLength > 1) {
                     $(this).closest('tr').remove()
                }
            else {
            alert('Cannot delete this.')
                }
            })
   

    $(".createfacultybatch").on('click', function () {
        console.log('click::::::>>')
        let facultyBatchElems = $('#add-more-facultybatch-table tbody tr');
        let facultyBatchCount = facultyBatchElems.length;
        let facultyBatchJson = [];
        facultyBatchElems.each(function (index, elem) {
            let faculty_lid = $(elem).find(`select[name="faculty_lid"]`).val()
            let faculty_batch = $(elem).find(`select[name="faculty_batch"]`).val();

            if (index < facultyBatchCount - 1) {
                let obj = {
                    faculty_lid: faculty_lid,
                    batch_lid:faculty_batch
                }
                facultyBatchJson.push(obj)
            } else {
                let obj = {
                    faculty_lid: faculty_lid,
                    batch_lid:faculty_batch
                }
                facultyBatchJson.push(obj)
            }
        })

        let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/batch/create',
                data: {
                    inputJSON: JSON.stringify(facultyBatchJson)
                },
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {
                console.log(result)
                showSuccess(result)
               // notify()

            }).catch(error => {
                showError(error.responseJSON)
            })
    })


            //search feature delay function is writter in script.js file which is located in public/js/script.js
            $('#searchkeyword').on('input', delay(function (e) {
            let keyword = $("#searchkeyword").val()
            $.ajax({
                type: "POST",
            url: "/admin/faculties/batch/search",
            data: {
                keyword: keyword
            },
            success: function (data) {
                console.log(data)
                showAjaxTable(data.data) // Facilty List
            }
        })
        }, 500));


        //Edit Read
        $("#facultyBatch").on('click','.edit-facultybatch', function(){
            $(".createfacultybatch").addClass('d-none')
            $("#add-more-facultybatch-fields").addClass('d-none')
            $(".updatefacultybatch").removeClass('d-none')
            let id = $(this).attr('data-id')
            let faculty_lid = $(this).attr('data-faculty-lid')
            let faculty_batch = $(this).attr('data-batch')
            $("#faculty_batch").val(faculty_batch).trigger('change')
            $("#faculty_lid").val(faculty_lid).trigger('change')
            $("#faculty_lid").attr("disabled", "disabled");
            $("#hidden_id").val(id)
            $("#add-facultybatch-modal").modal('show')
        })


        //Update
        $(".updatefacultybatch").on('click', function () {
        let facultyBatchElems = $('#add-more-facultybatch-table tbody tr');
        let facultyBatchCount = facultyBatchElems.length;
        let facultyBatchJson = [];
        let id = $("#hidden_id").val();
        facultyBatchElems.each(function (index, elem) {
            let faculty_lid = $(elem).find(`select[name="faculty_lid"]`).val()
            let faculty_batch = $(elem).find(`select[name="faculty_batch"]`).val();
            

            if (index < facultyBatchCount - 1) {
                let obj = {
                    id: id,
                    faculty_lid: faculty_lid,
                    batch_lid: faculty_batch
                }
                facultyBatchJson.push(obj)
            } else {
                let obj = {
                    id: id,
                    faculty_lid: faculty_lid,
                    batch_lid: faculty_batch
                }
                facultyBatchJson.push(obj)
            }
        })

        let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/batch/update',
                data: {
                    inputJSON: JSON.stringify(facultyBatchJson)
                },
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {
                console.log(result)
                showSuccess(result)
                //notify()
            }).catch(error => {
                showError(error.responseJSON)
            })
    })


            //Delete Faculty API
            $("#facultyBatch").on('click','.delete-faculty',function(){
            let id = $(this).attr("data-id");
            console.log('batculty batch id::', id)
            let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/batch/delete',
                data: {
                    id: id
                },
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {
                console.log('sucess:::::::::', result)
                showSuccess(result)
            }).catch(error => {
                showError(error.responseJSON)
            })
        })

    //PAGINATION
    let pageCount = `<%- pageCount %>`
    let pageNos = Math.ceil(Number(pageCount) / 10)
    console.log("Page Numbers", pageNos)
    $('#pagination').bootpag({
        total: pageNos,
        page: 1,
        maxVisible: 10,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active', 
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {
        console.log('pagination here!!')
        $.ajax({
            type: "POST",
            url: "/admin/faculties/batch/pagination",
            data: {
                pageNo: num
            },
            success: function (data) {
                console.log(data.data)
                showAjaxTable(data.data) 
            }
        })
    });


    // FILTER APIES
    $("#faculty_lid").on('change',function(){
        let faculty_lid =  $(this).val();
        let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/batch/program-by-facultyid',
                data: {
                    faculty_lid: faculty_lid
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                let programName = `<option value="">Select Program Name</option>`;
                if (result.result.length > 0) {
                    result.result.forEach(element => {
                        programName +=`<option value="${element.program_lid}">${element.program_name}</option>`;
                    });
                    $('.add-faculty-date-time').removeAttr('disabled')
                } else {
                    programName += `<option value="">No Program Found!</option>`;
                }
                $("#add-facultybatch-modal  #programName").html(programName).trigger('change')
            }).catch(error => {
                showError(error.responseJSON)
            })
    })


    $("#programName").on('change',function(){
        let program_lid =  $(this).val();
        let faculty_lid =  $("#faculty_lid").val();
        let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/batch/session-by-facultyid-and-programid',
                data: {
                    program_lid: program_lid,
                    faculty_lid: faculty_lid
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                let sessionName = `<option value="">Select Academic Session</option>`;
                if (result.result.length > 0) {
                    result.result.forEach(element => {
                        sessionName +=`<option value="${element.session_lid}">${element.acad_session}</option>`;
                    });
                } else {
                    sessionName += `<option value="">No Program Found!</option>`;
                }
                $("#add-facultybatch-modal  #sessionName").html(sessionName).trigger('change')
            }).catch(error => {
                showError(error.responseJSON)
            })
    })

    $("#sessionName").on('change',function(){
        let session_lid =  $(this).val();
        let faculty_lid =  $("#faculty_lid").val();
        let program_lid =  $("#programName").val();
        let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/batch/module-by-facultyid-programid-sessionid',
                data: {
                    program_lid: program_lid,
                    faculty_lid: faculty_lid,
                    session_lid: session_lid
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                let moduleName = `<option value="">Select Module Name</option>`;
                if (result.result.length > 0) {
                    result.result.forEach(element => {
                        moduleName +=`<option value="${element.id}">${element.module_name}</option>`;
                    });
                } else {
                    moduleName += `<option value="">No Module Found!</option>`;
                }
                $("#add-facultybatch-modal  #moduleName").html(moduleName).trigger('change')
            }).catch(error => {
                showError(error.responseJSON)
            })
    })


    function showAjaxTable(facultiesList) {
            let AjaxTable = `<table class="table custom_row" id="facultyBatch">
                <thead>
                    <th>Sr.No.</th>
                    <th>Faculty Name</th>
                    <th>Faculty Id</th>
                    <th>Batch</th>
                    <th>Action</th>
                </thead>
                <tbody> `;

            if (facultiesList.length > 0) {
                let count  = 1;
                for (faculty of facultiesList) {
                    AjaxTable +=
                    `<tr>
                        <td>${count++}</td>
                        <td>${faculty.faculty_name}</td>
                        <td>${faculty.faculty_id}</td>
                        <td>${faculty.batch_lid}</td>
                        <td><i class="fas fa-edit text-dark cursor-pointer edit-facultybatch"
                                data-id="${faculty.id}" data-faculty-lid="${faculty.faculty_lid}" data-batch="${faculty.batch_lid}"></i>
                                <a class="delete-faculty" data-faculty-id="${faculty.id}"><i class="fa fa-trash text-danger"></i></a></td>
                    </tr>`
                }
            } else {
                AjaxTable +=
                    ` <tr>
                         <td colspan="5">No Data Found</td>
                      </tr>`;
            }
            AjaxTable += `<tbody></table>`
            $("#facultyBatch").html(AjaxTable);
        }
    
    

    function showError(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: errors.data,
                type: 'alert-danger',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
        }


        function showSuccess(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: "",
                type: 'alert-success',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
        }



</script>
<%- include("../partials/footerEnd") %>