<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>


    <div class="errorHtml"></div>
    <!--DASHBOARD CONTENT START-->
    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Faculy Work Time Preference</h5>
            </div>
            <div>
                <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#add-facultypreference-modal"><i class="fas fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="card-body table-responsive">
            <div class="table-searchbar-container d-flex"><button type="button"><i class="fas fa-search"></i></button>
                <input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>

            <table class="table custom_row table-bordered" id="facultyWorkTimePreference">
                <thead>
                    <th>Sr.no.</th>
                    <th>Faculty Name</th>
                    <th>Faculty Id</th>
                    <th>Program Name</th>
                    <th>Program Id</th>
                    <th>Program Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% count = 1 %>
                  <% for(let list of facultyworktimepref){%>
                    <tr>
                        <td><%- count++ %></td>
                        <td><%- list.faculty_name %> </td>
                        <td><%- list.faculty_id %></td>
                        <td><%- list.program_name %></td>
                        <td><%- list.program_id %></td>
                        <td><%- list.day_name %></td>
                        <td><%- list.start_time %></td>
                        <td><%- list.end_time %></td>
                        <td>
                            <a class="edit-preference" data-id="<%- list.id %>" data-start-time-id="<%- list.start_time_id %>" data-end-time-id="<%- list.end_time_id %>" data-program-day-lid="<%-list.p_day_lid %>" data-faculty-work-lid="<%-list.faculty_work_lid%>"><i class="fa fa-edit"></i></a>
                            <a class="delete-faculty-preference" data-id="<%- list.id %>"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                   <%}%> 
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:<%- pageCount %>
                    </p>
                </div>
                <div>
                    <p id="pagination"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--ADD Modal -->
<div class="modal fade" id="add-facultypreference-modal" tabindex="-1" aria-labelledby="add-facultypreference-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content modal-inputform">
            <div class="modal-header modal-inputform-header">
                <h5 class="modal-title" id="add-facultypreference-modal-title">ADD FACULTY PREFERENCES</h5>
                <button type="button" class="btn fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="errorHtml"></div>
                <input type="hidden" id="hidden_id">
                <div class="table-responsive ">
                    <table class="table table-bordered" id="facultyworktimepreferencesTable">
                        <thead>
                            <th>Faculty Work</th>
                            <th>Program Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="select2 modalSelect2" name="faculty_work_lid" id="faculty_work_lid">
                                        <% for(faculty of facultyWorkList) {%>
                                        <option value="<%- faculty.id %>">
                                            <%- faculty.faculty_name %>-<%- faculty.faculty_id %></option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <select class="select2 modalSelect2" name="p_day_lid" id="p_day_lid">
                                        <% for(programday of programDayList) {%>
                                        <option value="<%- programday.id %>"><%- programday.program_name %> ( <%- programday.day_name %> )</option>
                                        <%}%>
                                    </select>
                                </td>
                                <td>
                                    <select class="select2 modalSelect2" name="start_time_id" id="start_time_id">
                                        <option value="">Select Start Time</option>
                                        <%for(let startlist of slotIntervalTimings){%>
                                            <option value="<%-startlist.id%>"><%- startlist.start_time %></option>
                                            <%}%>
                                </select>
                                </td>
                                <td>
                                    <select class="select2 modalSelect2" name="end_time_id" id="end_time_id">
                                        <option value="">Select End Time</option>
                                        <%for(let endlist of slotIntervalTimings){%>
                                            <option value="<%-endlist.id%>"><%- endlist.end_time %></option>
                                        <%}%>
                                </select>
                                </td>
                           

                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-facultyworktimepreference"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div id="errorMsg"></div>
                <button type="button" class="btn btn-success  btn-sm" id="add-more-facultyworktimepreferences"><i class="fas fa-plus"></i>Add More Fields</button>
                <button type="submit" class="btn  createFacultyWorkTimePref modal-inputform-btn">Create</button>
                <button type="submit" class="btn  updateFacultyWorkTimePref modal-inputform-btn d-none">Update</button>
            </div>
        </div>
    </div>
    </div>


    <%- include("../partials/footer") %>
    <script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
    <script>
        $(document).ready(function () {

    $('.select2').select2({
        dropdownParent: $('#add-facultypreference-modal')
    });

    $('.select2').select2({dropdownParent: $('#add-facultypreference-modal')});
       $('#add-more-facultyworktimepreferences').on('click', function () {
        let lastTr = $('#facultyworktimepreferencesTable tbody tr:last-child')
        lastTr.find('.modalSelect2').select2('destroy');
        let faculty_work_lid = lastTr.find(`select[name="faculty_work_lid"]`).val();
        let p_day_lid = lastTr.find(`select[name="p_day_lid"]`).val();
        let start_time_id = lastTr.find(`select[name="start_time_id"]`).val();
        let end_time_id = lastTr.find(`select[name="end_time_id"]`).val();  
        let clonedTr = lastTr.clone();
        clonedTr.find(`select[name="faculty_work_lid"]`).val(faculty_work_lid).trigger('change');
        clonedTr.find(`select[name="p_day_lid"]`).val(p_day_lid).trigger('change');
        clonedTr.find(`select[name="end_time_id"]`).val(end_time_id).trigger('change');
        clonedTr.find(`select[name="start_time_id"]`).val(start_time_id).trigger('change');
        clonedTr.find(`select[name="end_time_id"]`).val(end_time_id).trigger('change');

            lastTr.find('.modalSelect2').select2({
                    dropdownParent: $('#add-facultypreference-modal')
                });

            clonedTr.find('.modalSelect2').select2({
                    dropdownParent: $('#add-facultypreference-modal')
                });

        $('#facultyworktimepreferencesTable tbody').append(clonedTr);
    })


    $('#facultyworktimepreferencesTable').on('click', '.remove-facultyworktimepreference',
            function () {
            let trLength = $('#facultyworktimepreferencesTable tbody tr').length;
            if (trLength > 1) {
                    $(this).closest('tr').remove()
                }
            else {
                    alert('Cannot delete this room.')
                }
    })


    $(".createFacultyWorkTimePref").on('click', function () {
        let facultyWorkElems = $('#facultyworktimepreferencesTable tbody tr');
        let facultyWorkPrefCount = facultyWorkElems.length;
        let facultyWorkJSON = [];
        facultyWorkElems.each(function (index, elem) {
            let faculty_work_lid = $(elem).find(`select[name="faculty_work_lid"]`).val()
            let p_day_lid = $(elem).find(`select[name="p_day_lid"]`).val();
            let start_time_id = $(elem).find(`select[name="start_time_id"]`).val();
            let end_time_id = $(elem).find(`select[name="end_time_id"]`).val();

            if (index < facultyWorkPrefCount - 1) {
                let obj = {
                    faculty_work_lid: faculty_work_lid,
                    p_day_lid: p_day_lid,
                    start_time_id: start_time_id,
                    end_time_id: end_time_id
                }
                facultyWorkJSON.push(obj)
            } else {
                let obj = {
                    faculty_work_lid: faculty_work_lid,
                    p_day_lid: p_day_lid,
                    start_time_id: start_time_id,
                    end_time_id: end_time_id
                }
                facultyWorkJSON.push(obj)
            }
        })

        let ApiObj = {
            type: 'POST',
            url: '/admin/faculties/workpreferences/create',
            data: {
                inputJSON: JSON.stringify(facultyWorkJSON)
            },
            dataType: 'JSON'
        }

        ajaxApi(ApiObj).then(result => {
            showSuccess(result)
            // location.reload()
        }).catch(error => {
            showError(error.responseJSON)
        })
    })

        //search feature delay function is writter in script.js file which is located in public/js/script.js
        $('#searchkeyword').on('input', delay(function (e) {
            let keyword = $("#searchkeyword").val()
            $.ajax({
                type: "POST",
            url: "/admin/faculties/workpreferences/search",
            data: {
                keyword: keyword
            },
            success: function (data) {
                console.log(data)
                showAjaxTable(data.data) // Facilty List
            }
        })
        }, 500));

        //Edit Read
        $("#facultyWorkTimePreference").on('click','.edit-preference', function(){
            $("#add-more-facultyworktimepreferences").addClass('d-none')
            $(".createFacultyWorkTimePref").addClass('d-none')
            $(".updateFacultyWorkTimePref").removeClass('d-none')
            $("#hidden_id").val($(this).attr('data-id'))
            $("#faculty_work_lid").val($(this).attr('data-faculty-work-lid')).trigger('change')
            $("#start_time_id").val($(this).attr('data-start-time-id')).trigger('change')
            $("#end_time_id").val($(this).attr('data-end-time-id')).trigger('change')
            $("#p_day_lid").val($(this).attr('data-program-day-lid')).trigger('change')
            $("#p_day_lid").attr("disabled", "disabled");
            $("#faculty_work_lid").attr("disabled", "disabled");
            $("#add-facultypreference-modal").modal('show')
        })


        //Update Preferences
        $(".updateFacultyWorkTimePref").on('click', function(){
            console.log('Read....')
        let facultyWorkElems = $('#facultyworktimepreferencesTable tbody tr');
        let facultyWorkPrefCount = facultyWorkElems.length;
        let facultyWorkJSON = [];
        let id = $("#hidden_id").val()
            facultyWorkElems.each(function (index, elem) {
                let faculty_work_lid = $(elem).find(`select[name="faculty_work_lid"]`).val()
                let p_day_lid = $(elem).find(`select[name="p_day_lid"]`).val();
                let start_time_id = $(elem).find(`select[name="start_time_id"]`).val();
                let end_time_id = $(elem).find(`select[name="end_time_id"]`).val();

                if (index < facultyWorkPrefCount - 1) {
                    let obj = {
                        id: id,
                        faculty_work_lid: faculty_work_lid,
                        p_day_lid: p_day_lid,
                        start_time_id: start_time_id,
                        end_time_id: end_time_id
                    }
                    facultyWorkJSON.push(obj)
                } else {
                    let obj = {
                        id: id,
                        faculty_work_lid: faculty_work_lid,
                        p_day_lid: p_day_lid,
                        start_time_id: start_time_id,
                        end_time_id: end_time_id
                    }
                    facultyWorkJSON.push(obj)
                }
            })
            console.log(facultyWorkJSON)

            let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/workpreferences/update',
                data: {
                    inputJSON: JSON.stringify(facultyWorkJSON)
                },
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {
                console.log(result)
                showSuccess(result)
               // notify()
            }).catch(error => {
                showError(error.responseJSON)
            })

        })



            //Delete Faculty API
            $("#facultyWorkTimePreference").on('click','.delete-faculty-preference',function(){
            let id = $(this).attr("data-id");
            let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/workpreferences/delete',
                data: {
                    id: id
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                console.log('sucess:::::::::', result)
                showSuccess(result)
            }).catch(error => {
                showError(error.responseJSON)
            })
        })



        //PAGINATION
    let pageCount = `<%- pageCount %>`
    let pageNos = Math.ceil(Number(pageCount) / 10)
    console.log("Page Numbers", pageNos)
    $('#pagination').bootpag({
        total: pageNos,
        page: 1,
        maxVisible: 10,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active', 
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {
        console.log('pagination here!!')
        $.ajax({
            type: "POST",
            url: "/admin/faculties/workpreferences/pagination",
            data: {
                pageNo: num
            },
            success: function (data) {
                console.log(data.data)
                showAjaxTable(data.data) 
            }
        })
    });



    function showAjaxTable(facultiesList) {
            let AjaxTable = `<table class="table custom_row table-bordered" id="facultyWorkTimePreference">
                <thead>
                    <th>Sr.no.</th>
                    <th>Faculty Name</th>
                    <th>Faculty Id</th>
                    <th>Program Name</th>
                    <th>Program Id</th>
                    <th>Program Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Action</th>
                </thead>
                <tbody>`;

            if (facultiesList.length > 0) {
                let count  = 1;
                for (list of facultiesList) {
                    AjaxTable +=
                    `<tr>
                        <td>${count++}</td>
                        <td>${list.faculty_name} </td>
                        <td>${list.faculty_id}</td>
                        <td>${list.program_name }</td>
                        <td>${list.program_id }</td>
                        <td>${list.day_name}</td>
                        <td>${list.start_time}</td>
                        <td>${list.end_time}</td>
                        <td><a><i class="fa fa-edit"></i></a>
                            <a class="delete-faculty-preference" data-id="${list.id}"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                    </tr>`
                }
            } else {
                AjaxTable +=
                    ` <tr>
                         <td colspan="9">No Data Found</td>
                      </tr>`;
            }
            AjaxTable += `<tbody></table>`
            $("#facultyWorkTimePreference").html(AjaxTable);

        }


    function showError(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: errors.data,
                type: 'alert-danger',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
        }


        function showSuccess(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: "",
                type: 'alert-success',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
        }



        })
    </script>
    <%- include("../partials/footerEnd") %>