<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>


    <div class="errorHtml"></div>
    <!--DASHBOARD CONTENT START-->
    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Faculy Work Time Preference</h5>
            </div>
            <div>
                <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#add-facultypreference-modal"><i class="fas fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="card-body table-responsive">
            <div class="table-searchbar-container d-flex"><button type="button"><i class="fas fa-search"></i></button>
                <input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>

            <table class="table custom_row table-bordered" id="facultyWorkTimePreference">
                <thead>
                    <th>Sr.no.</th>
                    <th>Faculty Name</th>
                    <th>Faculty Id</th>
                    <th>Program Name</th>
                    <th>Program Id</th>
                    <th>Module Name</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% count = 1 %>
                  <% for(let list of facultyworktimepref){%>
                    <tr>
                        <td><%- count++ %></td>
                        <td><%- list.faculty_name %> </td>
                        <td><%- list.faculty_id %></td>
                        <td><%- list.program_name %></td>
                        <td><%- list.program_id %></td>
                        <td><%- list.module_name %></td>
                        <td><%- list.day_name %></td>
                        <td><%- list.start_time %></td>
                        <td><%- list.end_time %></td>
                        <td>
                            <a class="edit-preference" data-id="<%- list.id %>" data-start-time-id="<%- list.start_time_id %>" data-end-time-id="<%- list.end_time_id %>" data-program-day-lid="<%-list.p_day_lid %>" data-faculty-work-lid="<%-list.faculty_work_lid%>"><i class="fa fa-edit"></i></a>
                            <a class="delete-faculty-preference" data-id="<%- list.id %>"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                   <%}%> 
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:<%- pageCount %>
                    </p>
                </div>
                <div>
                    <p id="pagination"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--ADD Modal -->
<div class="modal fade" id="add-facultypreference-modal" tabindex="-1" aria-labelledby="add-facultypreference-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content modal-inputform">
            <div class="modal-header modal-inputform-header">
                <h5 class="modal-title" id="add-facultypreference-modal-title">ADD FACULTY PREFERENCES</h5>
                <button type="button" class="btn fs-4" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div id="errorHtml"></div>


             <div class="row">
                 <div class="col-md-3 select-items">
                <div class="mb-3">
                    <label class="form-label">Select Faculty</label>
                    <select class="form-select select2 faculty-drop-down" id="faculty-drop-down">
                        <option value="">Select faculty</option>
                        <% for (let faculty of facultyList) { %>
                            <option  data-faculty-name="<%- faculty.faculty_name %>"
                                data-faculty-id="<%- faculty.faculty_id%>" data-faculty-lid="<%- faculty.faculty_lid%>"   value="<%- faculty.faculty_dbo_lid %>">
                                <%- faculty.faculty_name %> (<%- faculty.faculty_id%>)
                                %></option>
                            <% } %>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Select Program</label>
                       <select class="form-select" name="programName" id="programName"></select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Select Session</label>
                       <select class="form-select" name="sessionName" id="sessionName"></select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Select Module</label>
                       <select class="form-select" name="moduleName" id="moduleName"></select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Select Day</label>
                       <select class="form-select" name="dayName" id="dayName"></select>
                </div>

                <div class="mb-3">
                 <label class="form-label">Select Start Time</label>
                    <select class="form-select" name="start_time_id" id="start_time_id"></select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Select End Time</label>
                    <select class="form-select" name="end_time_id" id="end_time_id"></select>
                </div>

  
                <div class="mb-3 d-grid gap-2">
                    <button class="btn btn-info text-light add-faculty-preference">ADD FACULTY PREFERENCES</button>
                </div>

                <div class="alert alert-success rounded-0" role="alert">
                    Note: Select Faculty First.
                  </div>

                 </div>
                 <div class="col-md-9 selected-items">
                    <div class="table-responsive">
                        <table class="table table-bordered table-bordered" id="add-more-faculty-preferernce">
                            <thead>
                                <th>Sr No.</th>
                                <th>Faculty Name</th>
                                <th>Faculty Id</th>
                                <th>Module Name</th>
                                <th>Program Id</th>
                                <th>Day</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                 </div>
             </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn  createFacultyWorkTimePref modal-inputform-btn">Create</button>
            </div>
        </div>
    </div>
    </div>


    <!-- edit modal -->
<div class="modal fade" id="edit-faculty-preference-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <input type="hidden" id="facultypreference_lid" name="facultypreference_lid">
                <label for="exampleFormControlInput1" class="form-label">Start Time</label>
               <select class="form-select" id="start_time_id"></select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">End Time</label>
               <select class="form-select" id="end_time_id"></select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary updateFacultyPref">UPDATE</button>
        </div>
      </div>
    </div>
  </div>


    <%- include("../partials/footer") %>
    <script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
    <script>
        $(document).ready(function () {

    $('.select2').select2({
        dropdownParent: $('#add-facultypreference-modal')
    });

    $('.select2').select2({dropdownParent: $('#add-facultypreference-modal')});
    
        //search feature delay function is writter in script.js file which is located in public/js/script.js
        $('#searchkeyword').on('input', delay(function (e) {
            let keyword = $("#searchkeyword").val()
            $.ajax({
                type: "POST",
            url: "/admin/faculties/workpreferences/search",
            data: {
                keyword: keyword
            },
            success: function (data) {
                console.log(data)
                showAjaxTable(data.data) // Facilty List
            }
        })
        }, 500));



        //Delete Faculty API
        $("#facultyWorkTimePreference").on('click','.delete-faculty-preference',function(){
            let id = $(this).attr("data-id");
            let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/workpreferences/delete',
                data: {
                    id: id
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                console.log('sucess:::::::::', result)
                showSuccess(result)
            }).catch(error => {
                showError(error.responseJSON)
            })
        })

        $(".faculty-drop-down").on('change',function(){
            let facultyDboLId = $(this).val();
            let faculty_lid = $('#faculty-drop-down').find('option:selected').attr('data-faculty-lid');
            let ApiObj = {
            type: 'POST',
            url: '/admin/faculties/workpreferences/faculty-slots-and-programs',
            data: {
                facultyDboLId: facultyDboLId,
                faculty_lid: faculty_lid
            },
            dataType: 'JSON'
        }
        ajaxApi(ApiObj).then(result => {
            console.log('result:::::::::::::',result)
                let startTime = ``;
                let endTime = ``;
                let programLists = ``;
                if (result.slotList.length > 0) {
                    result.slotList.forEach(element => {
                        startTime +=
                            `<option value="${element.id}">${element.start_time}</option>`;
                        endTime +=
                            `<option value="${element.id}">${element.end_time}</option>`;
                    });
                    $('.add-faculty-date-time').removeAttr('disabled')
                } else {
                    startTime += `<option value="">No Slot Found!</option>`;
                    endTime += `<option value="">No Slot Found!</option>`;
                }

                if (result.programList.length > 0) {
                    programLists = `<option value="" disabled>Select Program</option>`
                    result.programList.forEach(element => {
                        programLists +=
                            `<option value="${element.id}">${element.program_name}</option>`;
                    });
                } else {
                    programLists += `<option value="">No Program Found!</option>`;
                }

                $("#add-facultypreference-modal  #start_time_id").html(startTime).trigger('change');
                $("#add-facultypreference-modal  #end_time_id").html(endTime).trigger('change');
                $("#add-facultypreference-modal  #programName").html(programLists).trigger('change');
        }).catch(error => {
            showError(error.responseJSON)
        })
        })

        //GET SESSION NAME
        $("#programName").on('change',function(){
            let programId = $(this).val()
            console.log('programId::::::::::::',programId)
            let ApiObj = {
            type: 'POST',
            url: '/admin/faculties/workpreferences/session-day-by-program-id',
            data: {
                programId: programId
            },
            dataType: 'JSON'
        }
        ajaxApi(ApiObj).then(result => {
            console.log('result:::::::::::::',result)
                let sessionName = ``;
                if (result.sessonList.length > 0) {
                    sessionName = `<option value="" disabled>Select Session</option>`
                    result.sessonList.forEach(element => {
                        sessionName +=
                            `<option value="${element.acad_session_lid}">${element.acad_session}</option>`;
                    });
                } else {
                    sessionName += `<option value="">No Slot Found!</option>`;
                }

                if (result.dayList.length > 0) {
                    datNames = `<option value="" disabled>Select Program</option>`
                    datNames += `<option value="0" >All Days</option>`
                    result.dayList.forEach(element => {
                        datNames +=
                            `<option value="${element.programday_lid}">${element.day_name}</option>`;
                    });
                } else {
                    datNames += `<option value="">No Program Found!</option>`;
                }
                $("#add-facultypreference-modal  #sessionName").html(sessionName).trigger('change');
                $("#add-facultypreference-modal  #dayName").html(datNames).trigger('change');
          
        }).catch(error => {
            showError(error.responseJSON)
        })

        })

        //GET MODULE NAME
        $("#sessionName").on('change',function(){
            let programId = $("#programName").val()
            let sessionId = $("#sessionName").val()
            let facultyId = $("#faculty-drop-down option:selected").attr('data-faculty-lid')
            console.log('programId::::::::::::',programId)
            console.log('sessionId::::::::::::',sessionId)
            console.log('facultyId::::::::::::',facultyId)
            let ApiObj = {
            type: 'POST',
            url: '/admin/faculties/workpreferences/module-by-program-session-id',
            data: {
                programId: programId,
                sessionId: sessionId,
                facultyId: facultyId
            },
            dataType: 'JSON'
        }
        ajaxApi(ApiObj).then(result => {
            console.log('mODULE lIST:::::::::::::',result)
                let moduleName = ``;
                if (result.result.length > 0) {
                    moduleName = `<option value="" disabled>Select Module</option>`
                    result.result.forEach(element => {
                        moduleName +=
                            `<option value="${element.module_lid}">${element.module_name}</option>`;
                    });
                } else {
                    moduleName += `<option value="">No Module Found!</option>`;
                }
                $("#add-facultypreference-modal  #moduleName").html(moduleName).trigger('change');
          
        }).catch(error => {
            showError(error.responseJSON)
        })
        })

        //ADD FACULTY PREFERNCES
        $(".add-faculty-preference").on('click',function(){
            let faculty_lid  = $("#faculty-drop-down").find('option:selected').attr("data-faculty-lid")
            let program_lid = $("#programName").val()
            let session_lid = $("#sessionName").val()
            let module_lid = $("#moduleName").val()
            console.log("faculty_lid::::::::::::",faculty_lid)
            console.log("program_lid::::::::::::",program_lid)
            console.log("sessionName::::::::::::",session_lid)
            console.log("moduleName::::::::::::",module_lid)

            let ApiObj = {
            type: 'POST',
            url: '/admin/faculties/workpreferences/faculty-work-preference-by-pro-sess-module',
            data: {
                facultyLid: faculty_lid,
                programLid: program_lid,
                acadSessionLid: session_lid,
                moduleLid: module_lid
            },
            dataType: 'JSON'
        }
        ajaxApi(ApiObj).then(result => {
            console.log('FACULTY WORK LIST:::::::::::::',result)

            if(result.worklist.length > 0){

                let htmlTable =  ``
                let start_time_id = $("#start_time_id").val();
                let start_time_text = $("#start_time_id option:selected").text();
                let end_time_id = $("#end_time_id").val();
                let end_time_text = $("#end_time_id option:selected").text();
                let p_day_lid = $("#dayName").val()
                let day_text = $("#dayName option:selected").text()
                result.worklist.forEach(function(item){
                    console.log('item::::::::::::::',item)
                    htmlTable +=  `<tr>
                <td>#</td>
                <td data-work-lid="${item.faculty_work_lid}">${item.faculty_name}</td>
                <td data-faculty-lid="${item.faculty_lid}">${item.faculty_id}</td>
                <td>${item.module_name}</td>
                <td>${item.program_id}</td>
                <td data-program-day-lid="${p_day_lid}">${day_text}</td>
                <td data-start-time-id="${start_time_id}">${start_time_text}</td>
                <td data-end-time-id="${end_time_id}">${end_time_text}</td>
                <td>
                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-faculty-preferernce"></i></td>
                </tr>`
                })
                $('#add-more-faculty-preferernce tbody').append(htmlTable)
            }else{
                showError({status:0, description:"Faculty work and modules are not assigned to the selected faculty", data:[{}]})
            }
        }).catch(error => {
            showError(error.responseJSON)
        })

        })

        //Remove Element
        $("#add-more-faculty-preferernce").on('click', '.remove-faculty-preferernce', function () {
            $($(this)).fadeOut(300, function () {
               $($(this).parent().parent()).remove()
            })
        })



        $(".createFacultyWorkTimePref").on('click', function () {
        let facultyWorkElems = $('#add-more-faculty-preferernce tbody tr');
        let facultyWorkPrefCount = facultyWorkElems.length;
        let facultyWorkJSON = [];
        facultyWorkElems.each(function (index, elem) {
            let faculty_work_lid = $(elem).find(`td[data-work-lid]`).attr(`data-work-lid`)
            let p_day_lid = $(elem).find(`td[data-program-day-lid]`).attr(`data-program-day-lid`)
            let start_time_id = $(elem).find(`td[data-start-time-id]`).attr(`data-start-time-id`)
            let end_time_id = $(elem).find(`td[data-end-time-id]`).attr(`data-end-time-id`)

            if (index < facultyWorkPrefCount - 1) {
                let obj = {
                    faculty_work_lid: faculty_work_lid,
                    p_day_lid: p_day_lid,
                    start_time_id: start_time_id,
                    end_time_id: end_time_id
                }
                facultyWorkJSON.push(obj)
            } else {
                let obj = {
                    faculty_work_lid: faculty_work_lid,
                    p_day_lid: p_day_lid,
                    start_time_id: start_time_id,
                    end_time_id: end_time_id
                }
                facultyWorkJSON.push(obj)
            }
        })

        let ApiObj = {
            type: 'POST',
            url: '/admin/faculties/workpreferences/create',
            data: {
                inputJSON: JSON.stringify(facultyWorkJSON)
            },
            dataType: 'JSON'
        }

        ajaxApi(ApiObj).then(result => {
            showSuccess(result)
            // location.reload()
        }).catch(error => {
            showError(error.responseJSON)
        })
    })

    //EDIT
    $("#facultyWorkTimePreference").on('click','.edit-preference',function(){
        let id = $(this).attr("data-id")
        console.log('ID:::::::::::::::',id)
        let ApiObj = {
            type: 'POST',
            url: '/admin/faculties/workpreferences/find-one',
            data: {
                id: id
            },
            dataType: 'JSON'
        }
        ajaxApi(ApiObj).then(result => {
         let obj = result.result
         console.log('Response Result:::::::::::::::::::>',obj)
         facultySlotForEdit(obj.faculty_dbo_lid, obj.start_time_id, obj.end_time_id)
         $("#facultypreference_lid").val(obj.id)
        $("#edit-faculty-preference-modal").modal('show')
        }).catch(error => {
            showError(error.responseJSON)
        })
    })

    function facultySlotForEdit(facultyid, start_time_id, end_time_id){
            let ApiObj = {
            type: 'POST',
            url: '/admin/faculties/date-time/getslottime',
            data: {
                facultyid: facultyid
            },
            dataType: 'JSON'
        }

        ajaxApi(ApiObj).then(result => {
            let startTime = ``;
                let endTime = ``;
                if (result.result.length > 0) {
                    result.result.forEach(element => {
                        startTime +=
                            `<option value="${element.id}">${element.start_time}</option>`;
                        endTime +=
                            `<option value="${element.id}">${element.end_time}</option>`;
                    });
                    $('.add-faculty-date-time').removeAttr('disabled')
                } else {
                    startTime += `<option value="">No Slot Found!</option>`;
                    endTime += `<option value="">No Slot Found!</option>`;
                    $('.add-faculty-date-time').attr('disabled','disabled')
                }
                $("#edit-faculty-preference-modal  #start_time_id").html(startTime);
                $("#edit-faculty-preference-modal  #end_time_id").html(endTime);
                $("#edit-faculty-preference-modal  #start_time_id").val(start_time_id).trigger('change')
                $("#edit-faculty-preference-modal  #end_time_id").val(end_time_id).trigger('change')
          
        }).catch(error => {
            showError(error.responseJSON)
        })
        }




        //Update Preferences
        $(".updateFacultyPref").on('click', function(){
        console.log('Read....')
       
        let facultyWorkJSON = [];
        let id = $("#facultypreference_lid").val()
        let start_time_id = $("#edit-faculty-preference-modal #start_time_id").val()
        let end_time_id = $("#edit-faculty-preference-modal #end_time_id").val()
        let obj = {
                        id: id,
                        start_time_id: start_time_id,
                        end_time_id: end_time_id,
                    }
            facultyWorkJSON.push(obj)
            console.log(facultyWorkJSON)

            let ApiObj = {
                type: 'POST',
                url: '/admin/faculties/workpreferences/update',
                data: {
                    inputJSON: JSON.stringify(facultyWorkJSON)
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                console.log(result)
                showSuccess(result)
            }).catch(error => {
                showError(error.responseJSON)
            })
        })

        //PAGINATION
    let pageCount = `<%- pageCount %>`
    let pageNos = Math.ceil(Number(pageCount) / 10)
    console.log("Page Numbers", pageNos)
    $('#pagination').bootpag({
        total: pageNos,
        page: 1,
        maxVisible: 10,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active', 
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {
        console.log('pagination here!!')
        $.ajax({
            type: "POST",
            url: "/admin/faculties/workpreferences/pagination",
            data: {
                pageNo: num
            },
            success: function (data) {
                console.log(data.data)
                showAjaxTable(data.data) 
            }
        })
    });



    function showAjaxTable(facultiesList) {
            let AjaxTable = `<table class="table custom_row table-bordered" id="facultyWorkTimePreference">
                <thead>
                    <th>Sr.no.</th>
                    <th>Faculty Name</th>
                    <th>Faculty Id</th>
                    <th>Program Name</th>
                    <th>Program Id</th>
                    <th>Module Name</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Action</th>
                </thead>
                <tbody>`;

            if (facultiesList.length > 0) {
                let count  = 1;
                for (list of facultiesList) {
                    AjaxTable +=
                    `<tr>
                        <td>${count++}</td>
                        <td>${list.faculty_name} </td>
                        <td>${list.faculty_id}</td>
                        <td>${list.program_name }</td>
                        <td>${list.program_id }</td>
                        <td>${list.module_name }</td>
                        <td>${list.day_name}</td>
                        <td>${list.start_time}</td>
                        <td>${list.end_time}</td>
                        <td><a><i class="fa fa-edit"></i></a>
                            <a class="delete-faculty-preference" data-id="${list.id}"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                    </tr>`
                }
            } else {
                AjaxTable +=
                    ` <tr>
                         <td colspan="9">No Data Found</td>
                      </tr>`;
            }
            AjaxTable += `<tbody></table>`
            $("#facultyWorkTimePreference").html(AjaxTable);

        }


    function showError(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: errors.data,
                type: 'alert-danger',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
        }


        function showSuccess(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: "",
                type: 'alert-success',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
        }

        })
    </script>
    <%- include("../partials/footerEnd") %>