<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notification icon-->
<!--HEADER END-->

<div class="main-content">
    <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>
 
    <!--DASHBOARD CONTENT START-->

    <div class="row my-3 gx-3 gy-3 row1-data">
        <div class="col-xl-2 col-lg-4 col-md-6 ">
            <a href="/admin/rooms/booking">
                <div class="card row1-data-card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <img src="/icon_imgs/online-booking.png" alt="">
                            <p class="fw-normal pt-1">ROOM BOOKING</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- <div class="col-xl-2 col-lg-4 col-md-6 ">
            <a href="/admin/rooms/requests">
                <div class="card row1-data-card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <img src="/icon_imgs/pull.png" alt="">
                            <p class="fw-normal pt-1">Room Requests</p>
                    </div>
                </div>
            </a>
        </div> -->
    </div>
    
    <div class="errorHtml"></div>
    <div class="card table-card">
        <div class="modal-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5 class="modal-title text-white" id="add-room-modal-title">BOOKED ROOMS</h5>
            </div>
            <div>
                <a class="btn btn-danger" href="/admin/rooms/download"><i
                    class="fas fa-download"></i> Download </a>
            </div>
        </div>

        <div class="card-body">
            <input type="hidden" id="roomId" name="roomId">
            <div class="d-flex justify-content-between">
                <div>
                    <label>Show Entry</label>
                    <select class="form-select" id="changeEntry">
                        <%for(let page of locals.page_filter){%>
                           <option value="<%-page%>"><%-page%></option>
                        <%}%>
                    </select>
                </div>
                <div>
                    <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                        type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div> -->
                <table class="table " id="room-booked-table">
                    <thead>
                        <th>#</th>
                        <th>Room Number</th>
                        <th>Floor</th>
                        <th>Capacity</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Building Name</th>
                        <!-- <th>Action</th> -->
                    </thead>
                    <tbody>
                        <%let rcount = 1;%>
                        <% for(let list of bookedRoomList) {%>
                            <tr>
                                <td><%- rcount++ %></td>
                                <td><%- list.room_number %></td>
                                <td><%- list.floor_number %></td>
                                <td><%- list.capacity %></td>
                                <td><%- list.start_time %></td>
                                <td><%- list.end_time %></td>
                                <td><%- list.start_date %></td>
                                <td><%- list.end_date %></td>
                                <td><%- list.building_name %></td>
                                <td><a class="room-cancel-request" data-id="<%-list.id %>" data-bs-toggle="tooltip" data-bs-placement="top" title="Room Cancellation Request"><i class="fa-solid fa-xmark text-danger"></i></a></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Total entries: <%- totalentries %> </p>
                    </div>
                    <div>
                        <p id="pagination" class="pagination-search"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="booking-cancel-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Booking Cancellation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input class="form-control rounded-0" id="room-id" type="date">
            </div>

            <div class="mb-3">
                <label class="form-label">End Date</label>
                <input class="form-control rounded-0" id="room-id" type="date">
            </div>

            <div class="mb-3">
                <label class="form-label">Start Time</label>
                <input class="form-control rounded-0" id="room-id" type="datetime-local">
            </div>

            <div class="mb-3">
                <label class="form-label">End Time</label>
                <input class="form-control rounded-0" id="room-id" type="datetime-local">
            </div>

            <div class="mb-3">
                <label class="form-label">Reason for cancellation</label>
                <input class="form-control" id="room-id" type="hidden">
                <textarea class="form-control rounded-0" id="cancel-reason" placeholder="Enter reason" rows="3"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary confirm-btn rounded-0">Confirm</button>
        </div>
      </div>
    </div>
  </div>


  <%- include("../partials/footer") %>
    <script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"> </script>
    <script>
        $(document).ready(function () {

            $('[data-bs-toggle="tooltip"]').tooltip()
            $("#room-booked-table").on('click','.room-cancel-request',function(){
                let id =  $(this).attr('data-id')
                $("#room-id").val(id)
                console.log('id::::::::::::',id)
                $("#booking-cancel-modal").modal('show')
            })

            $(".confirm-btn").on('click',function(){
               let id =  $("#room-id").val()
               let reason =  $("#cancel-reason").val()
               if(reason.length > 5){
                console.log('CALL APIHere')
                  
               }else{
                $("#booking-cancel-modal #cancel-reason").css('border','2px solid #ff0000')
               }
            })
       

    // SEARCH PROGRAM TYPE
        $('#searchkeyword').on('input', delay(function (e) {
            let keyword = $("#searchkeyword").val()
            $.ajax({ 
            type: "POST",
            url: "/admin/rooms/search",
            data: {
            keyword: keyword,
            pageNo: 1
            },
            success: function (data) {
                console.log('earch data', data.data)
            AjaxtTable(data.data)
            }
            })
        }, 500));


            //Search With Pagination
            $(".pagination-search").on('click','.pagination li',function(){
                let keyword = $("#searchkeyword").val()
                let pageNo = $(this).attr('data-lp')
                console.log('PAGE NO.:::::::::::', $(this).attr('data-lp'))
                console.log('keyword.:::::::::::', keyword)
                if(keyword){
                    $.ajax({ 
                    type: "POST",
                    url: "/admin/rooms/search",
                    data: {
                    keyword: keyword,
                    pageNo: 1
                    },
                    success: function (data) {
                         AjaxtTable(data.data)
                    }
                })
                }
            })


    //Pagination Here
    let pageCount = `<%- pageCount %>`
    console.log("Page Count=====>>>", pageCount)
    let pageNos = Math.ceil(Number(pageCount) / 10)
    console.log("Page Numbers", pageNos)
    $('#pagination').bootpag({
    total: pageNos,
    page: 1,
    maxVisible: 10,
    leaps: true,
    firstLastUse: true,
    first: '←',
    last: '→',
    wrapClass: 'pagination',
    activeClass: 'active',
    disabledClass: 'disabled',
    nextClass: 'next',
    prevClass: 'prev',
    lastClass: 'last',
    firstClass: 'first'
    }).on("page", function (event, num) {
    $.ajax({
    type: "POST",
    url: "/admin/rooms/pagination",
    data: {
    pageNo: num
    },
    success: function (data) {
    AjaxtTable(data.data)
    }
    })
    });


        //CHANGE ENTRIES
        $("#changeEntry").on('change',function(){
                let rowcount = $(this).val()
                $.ajax({
                type: "POST",
                url: "/admin/rooms/show-entries",
                data: {
                    rowcount: rowcount
                },
                success: function (data) {
                    AjaxtTable(data.data) 
                }
            })
        })
    

    function AjaxtTable(bookedRoomList){
        let AjaxTable = `<table class="table custom_row table-bordered" id="roomTransactionTable">
                <thead>
                        <th>#</th>
                        <th>Room Number</th>
                        <th>Floor</th>
                        <th>Capacity</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Building Name</th>
                        <!-- <th>Action</th> -->
                </thead>
                <tbody>`;
                if (bookedRoomList.length > 0) {
                    let count = 1;
                    for (room of bookedRoomList) {
                        AjaxTable +=
                            ` <tr>
                                <td>${count++}</td>
                                <td>${room.room_number}</td>
                                <td>${room.floor_number}</td>
                                <td>${room.capacity}</td>
                                <td>${room.start_time}</td>
                                <td>${room.end_time}</td>
                                <td>${room.start_date}</td>
                                <td>${room.end_date}</td>
                                <td>${room.building_name}</td>
                                <td><a class="room-cancel-request" data-id="${room.id}" data-bs-toggle="tooltip" data-bs-placement="top" title="Room Cancellation Request"><i class="fa-solid fa-xmark text-danger"></i></a></td> 
                            </tr>`
                    }
                } else {
                    AjaxTable +=
                        ` <tr>
                                <td colspan="9">No Data Found</td>
                            </tr>`;
                }
                AjaxTable += `<tbody></table>`
                $("#room-booked-table").html(AjaxTable);
    }


    function showError(errors) {
        console.log('error::::::::::::::',errors.data.length)
            let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <p>${errors.description}</p>
                    <ul>`
            if (errors.data.length > 0) {
                $(errors.data).each(function (key, value) {
                    $.each(this, function (key, value) {
                        errorHtml +=
                            `<li>${key} ${value}</li>`
                    });
                });
            }
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                console.log('error::::::::::::::',errorHtml)
                $(".errorHtml").html(errorHtml)
        }


        function showSuccess(errors) {
            let errorHtml = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h3>Success</h3>
                    <p>${errors.description}</p>
                    <ul>`
            if (errors.data.length > 0) {
                $(errors.data).each(function (key, value) {
                    $.each(this, function (key, value) {
                        errorHtml +=
                            `<li>${key} ${value}</li>`
                    });
                });
            }
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
            $(".errorHtml").html(errorHtml)
        }

        
    })

    </script>
    <%- include("../partials/footerEnd") %>