<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>
 
    <!--DASHBOARD CONTENT START-->

    <div class="row my-3 gx-3 gy-3 row1-data">
        <div class="col-xl-2 col-lg-4 col-md-6 ">
            <a href="/admin/rooms/booking">
                <div class="card row1-data-card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <img src="/icon_imgs/online-booking.png" alt="">
                            <p class="fw-normal pt-1">Room Booking</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- <div class="col-xl-2 col-lg-4 col-md-6 ">
            <a href="/admin/rooms/requests">
                <div class="card row1-data-card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <img src="/icon_imgs/pull.png" alt="">
                            <p class="fw-normal pt-1">Room Requests</p>
                    </div>
                </div>
            </a>
        </div> -->
    </div>
    
    <div class="errorHtml"></div>
    <div class="card table-card">
        <div class="modal-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5 class="modal-title text-white" id="add-room-modal-title">Import Rooms</h5>
            </div>
            <div>
                <!-- <button type="button" class="add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#open-room-modal">
                    <i class="fas fa-plus"></i></button> -->
            </div>
        </div>

        <div class="card-body table-responsive">
            <input type="hidden" id="roomId" name="roomId">
            <div class="table-responsive">
                <table class="table " id="room-table">
                    <thead>
                        <th>#</th>
                        <th>Transaction Type</th>
                        <th>Stage</th>
                        <th>Org Name</th>
                        <th>Campus</th>
                        <th>Username</th>
                    </thead>
                    <tbody>
                        <%let rcount = 1;%>
                        <% for(let trans of transactionList) {%>
                            <tr>
                                <td><%- rcount++ %></td>
                                <td><%- trans.transaction_type %></td>
                                <td><%- trans.stage %></td>
                                <td><%- trans.org_name %></td>
                                <td><%- trans.campus_abbr %></td>
                                <td><%- trans.username %></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>

        </div>
        
    </div>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="open-room-modal" tabindex="-1" aria-labelledby="open-room-modal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content modal-inputform">

            <div class="modal-header modal-inputform-header">
                <h3 class="modal-title" id="open-room-modal-title">Import Room</h3>
                <button type="button" class="btn fs-4 text-white" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times text-dark"></i></button>
            </div>

            <div class="modal-body py-0">
                <div class="row">
                    <!-- SELECT COLUMN -->
                    <div class="col-md-3 col-xxl-3 select-items">
                        <h4 class="text-center py-1 select-room-header">Select Rooms</h4>
                        <input type="text" name="" id="searchItem" placeholder="Search Room"
                            class="form-control searchItemRoom">
                        <div style="margin-top: 100px;">
                            <div class="col-md-12">
                                <label>Campus</label>
                                <select name="campus_lid" id="" class="form-select">
                                    <option>--select--</option>
                                    <% for(let campus of campusList) { %>
                                        <option value="<%- campus.id %>">
                                        <%- campus.campus_abbr %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                           
                            <div class="col-md-12">
                                    <label>Building</label>
                                    <select name="building_lid" id="" class="form-select">
                                        <option>--select--</option>
                                        <% for(let building of buildingList) { %>
                                        <option value="<%- building.building_id %>">
                                            <%- building.building_name %>
                                        </option>
                                        <% } %>
                                    </select>
                            </div>

                            <div class="col-md-12">
                                <label>Organization</label>
                                <select name="handled_by" id="" class="form-select">
                                    <option>--select--</option>
                                    <% for(let org of orgList) { %>
                                        <option value="<%- org.id %>">
                                            <%- org.org_abbr %>/<%- org.org_id %>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <ul class="list-group custom-select-list selectList">
                            <% for (let room of roomList){ %>
                            <li class="list-group-item" data-clickable="true" data-room-id="<%- room.id%>"><%- room.room_number%></li>
                            <% }%>
                        </ul>
                    </div>

                    <!-- SELECTED COLUMN -->
                    <div class="col-md-9 col-xxl-9 selected-items">
                        <h4 class="text-center py-1 selected-room-header" style="max-width: 73% !important;">
                            Selected Rooms</h4>
                        <input type="text" name="" id="searchSelectedItem" placeholder="Search Selected Room"
                            class="form-control searchSelectedRoom">
                        <div class="row selected-room-filter">

                            <div class="col-md-4">
                                <label>Book for Campus</label>

                                <select name="campus_lid" id="campus_lid" class="form-select">
                                    <option>--select--</option>
                                    <% for(let campus of campusList) { %>
                                    <option value="<%- campus.id %>">
                                        <%- campus.campus_abbr %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label>Book for building</label>

                                <select name="building_lid" id="building_lid" class="form-select">
                                    <option>--select--</option>
                                    <% for(let building of buildingList) { %>
                                    <option value="<%- building.building_id %>">
                                        <%- building.building_name %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label>Book for Organization</label>

                                <select name="handled_by" id="handled_by" class="form-select">
                                    <option>--select--</option>
                                    <% for(let org of orgList) { %>
                                    <option value="<%- org.id %>">
                                        <%- org.org_abbr %>/<%- org.org_id %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>

                        </div>

                        <ul class="list-group custom-select-list selectedList" id="selectedList">
                            <table class="table table-bordered" id="add-more-room-table">
                                <thead>
                                    <th>room</th>
                                    <th>start Time</th>
                                    <th>end Time</th>
                                    <th>start Date</th>
                                    <th>end Date</th>
                                    <th>Transaction Type</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="px-3 error-html"></div>
            <div class="modal-footer">
                <button type="button" class="btn import-room modal-inputform-btn" id="importRoom">Import Room</button>
            </div>

        </div>
    </div>
</div>


  <%- include("../partials/footer") %>
    <script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"> </script>
    <script>
        $(document).ready(function () {


         
            $('.select2').select2({
                dropdownParent: $('#open-transaction-modal') ,
                tags: true
        })
         
            $('.select2').select2({
                dropdownParent: $('#open-room-modal') ,
                tags: true
        })



            let username = `<%- locals.userId %>`;
  //console.log('Username:::::::::::::::::::', username)
    //Add more rows for building
    $('#add-more-roomtransaction').on('click', function () {
    console.log("Organization Added::::")
    let lastTr = $('#add-more-roomstrans-table tbody tr:last-child')
    let room_lid = lastTr.find(`select[name='room_lid']`).val();
    let transaction_type_id = lastTr.find(`select[name='transaction_type_id']`).val();
    let start_time_id = lastTr.find(`select[name='start_time_id']`).val();
    let end_time_id = lastTr.find(`select[name='end_time_id']`).val();
    let start_date_id = lastTr.find(`select[name='start_date_id']`).val();
    let end_date_id = lastTr.find(`select[name='end_date_id']`).val();
    let org_lid = lastTr.find(`select[name='org_lid']`).val();
    let campus_lid = lastTr.find(`select[name='campus_lid']`).val();
    let clonedTr = lastTr.clone();
    console.log('room_lid::::::::::::>>',room_lid)
    clonedTr.find(`select[name='room_lid']`).val(room_lid).trigger('chnage')
    clonedTr.find(`select[name='transaction_type_id']`).val(transaction_type_id).trigger('chnage')
    clonedTr.find(`select[name='start_time_id']`).val(start_time_id).trigger('chnage')
    clonedTr.find(`select[name='end_time_id']`).val(end_time_id).trigger('chnage')
    clonedTr.find(`select[name='start_date_id']`).val(start_date_id).trigger('chnage')
    clonedTr.find(`select[name='end_date_id']`).val(end_date_id).trigger('chnage')
    clonedTr.find(`select[name='org_lid']`).val(org_lid).trigger('chnage')
    clonedTr.find(`select[name='campus_lid']`).val(campus_lid).trigger('chnage')
    $('#add-more-roomstrans-table tbody').append(clonedTr)
  // selectRefresh();
    })




    $('#add-more-roomstrans-table').on('click', '.remove-roomtransaction',
    function () {
    let trLength = $(
    '#add-more-roomstrans-table tbody tr')
    .length;
    if (trLength > 1) {
    $(this).closest('tr').remove()
    } else {
    alert('Cannot delete this room.')
    }
    })

  //Create
    $(".createRoomTransaction").on('click', function () {
            let roomElems = $('#add-more-roomstrans-table tbody tr');
            let roomCount = roomElems.length;
            let roomJson = [];
            roomElems.each(function (index, elem) {
                let room_lid = $(elem).find(`select[name='room_lid']`).val()
                let transaction_type_id = $(elem).find(`select[name='transaction_type_id']`).val();
                let start_time_id = $(elem).find(`select[name='start_time_id']`).val();
                let end_time_id = $(elem).find(`select[name='end_time_id']`).val();
                let start_date_id = $(elem).find(`select[name='start_date_id']`).val();
                let end_date_id = $(elem).find(`select[name='end_date_id']`).val();
                let org_lid = $(elem).find(`select[name='org_lid']`).val();
                let campus_lid = $(elem).find(`select[name='campus_lid']`).val();


                if (index < roomCount - 1) {
                    let obj = {
                        room_lid: room_lid,
                        transaction_type_lid: transaction_type_id,
                        start_time_id: start_time_id,
                        end_time_id: end_time_id,
                        start_date_id: start_date_id,
                        end_date_id: end_date_id,
                        org_lid: org_lid,
                        campus_lid: campus_lid,
                        user_id:username
                    }
                    roomJson.push(obj)
                } else {
                    let obj = {
                        room_lid: room_lid,
                        transaction_type_lid: transaction_type_id,
                        start_time_id: start_time_id,
                        end_time_id: end_time_id,
                        start_date_id: start_date_id,
                        end_date_id: end_date_id,
                        org_lid: org_lid,
                        campus_lid: campus_lid,
                        user_id:username
                    }
                    roomJson.push(obj)
                }
            })

            console.log('roomJson::::::::::::',roomJson)

            let ApiObj = {
                type: 'POST',
                url: '/admin/rooms',
                data: {
                    inputJSON: JSON.stringify(roomJson)
                },
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {

                showSuccess(result)
                setTimeout(function(){
                    location.reload()
                },3000)
            }).catch(error => {
                showError(error.responseJSON)
            })

        })


   // SEARCH PROGRAM TYPE
    $('#searchkeyword').on('input', delay(function (e) {
    let keyword = $("#searchkeyword").val()
    $.ajax({
    type: "GET",
    url: "/admin/rooms/search",
    data: {
    keyword: keyword
    },
    success: function (data) {
    AjaxtTable(data.data)
    }
    })
    }, 500));



    //Pagination Here
    let pageCount = `<%- pageCount %>`
    console.log("Page Count=====>>>", pageCount)
    let pageNos = Math.ceil(Number(pageCount) / 10)
    console.log("Page Numbers", pageNos)
    $('#pagination').bootpag({
    total: pageNos,
    page: 1,
    maxVisible: 10,
    leaps: true,
    firstLastUse: true,
    first: '←',
    last: '→',
    wrapClass: 'pagination',
    activeClass: 'active',
    disabledClass: 'disabled',
    nextClass: 'next',
    prevClass: 'prev',
    lastClass: 'last',
    firstClass: 'first'
    }).on("page", function (event, num) {
    $.ajax({
    type: "POST",
    url: "/admin/rooms/pagination",
    data: {
    pageNo: num
    },
    success: function (data) {
    AjaxtTable(data.data)
    }
    })
    });
    

    function AjaxtTable(transactionList){
        let AjaxTable = `<table class="table custom_row table-bordered" id="roomTransactionTable">
                <thead>
                    <th>#</th>
                    <th>Transaction Type</th>
                    <th>Stage</th>
                    <th>Org Name</th>
                    <th>Campus</th>
                    <th>Username</th>
                    <th>Action</th>
                </thead>
                <tbody>`;
                if (transactionList.length > 0) {
                    let count = 1;
                    for (trans of transactionList) {
                        AjaxTable +=
                            `<tr>
                        <td>${count++}</td>
                        <td>${trans.transaction_type}</td>
                        <td>${trans.stage}</td>
                        <td>${trans.org_name}</td>
                        <td>${trans.campus_abbr}</td>
                        <td>${trans.username}</td>
                        <td>
                            <a title="view details" class="viewtransactioninfo" data-id="${trans.id}"><i class="fa fa-eye"></i></a>
                            <a class="delete-transaction" data-id="${trans.id}"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>`
                    }
                } else {
                    AjaxTable +=
                        ` <tr>
                                <td colspan="7">No Data Found</td>
                            </tr>`;
                }
                AjaxTable += `<tbody></table>`
                $("#roomTransactionTable").html(AjaxTable);
    }


    function showError(errors) {
        console.log('error::::::::::::::',errors.data.length)
            let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <p>${errors.description}</p>
                    <ul>`
            if (errors.data.length > 0) {
                $(errors.data).each(function (key, value) {
                    $.each(this, function (key, value) {
                        errorHtml +=
                            `<li>${key} ${value}</li>`
                    });
                });
            }
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                console.log('error::::::::::::::',errorHtml)
                $(".errorHtml").html(errorHtml)
        }


        function showSuccess(errors) {
            let errorHtml = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h3>Success</h3>
                    <p>${errors.description}</p>
                    <ul>`
            if (errors.data.length > 0) {
                $(errors.data).each(function (key, value) {
                    $.each(this, function (key, value) {
                        errorHtml +=
                            `<li>${key} ${value}</li>`
                    });
                });
            }
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
            $(".errorHtml").html(errorHtml)
        }
    })

    </script>
    <%- include("../partials/footerEnd") %>