<%- include ('partials/head') %>
<%- include ('partials/leftSidebar') %>
<%- include ('partials/header') %>
    <!-- MAIN-CONTENT -->
    <div class="wrapper">
        <div class="main-content">

            <!-- DATA-ROW-1 -->
            <div class="container-fluid py-1">
                <div class="row my-3 gx-1 gy-3 master-data">
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card trail text-center">
                            <div class="card-body"><a href=""><img src="/icon_imgs/selection.png" alt="">
                                    <p class="fs-5 fw-normal pt-1">Select Program</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card trail text-center">
                            <div class="card-body"><a href=""><img src="/icon_imgs/classroom.png" alt="">
                                    <p class="fs-5 fw-normal pt-1">Room Data</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card trail text-center">
                            <div class="card-body"><a href=""><img src="/icon_imgs/CourseWorkload.png"
                                        alt="">
                                    <p class="fs-5 fw-normal pt-1">Course Workload</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card trail text-center ">
                            <div class="card-body"><a href=""><img src="/icon_imgs/overload.png" alt="">
                                    <p class="fs-5 fw-normal pt-1">Faculty Workload</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card trail text-center">
                            <div class="card-body"><a href=""><img src="/icon_imgs/holiday.png" alt="">
                                    <p class="fs-5 fw-normal pt-1">Holiday List</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card trail text-center">
                            <div class="card-body"><a href=""><img src="/icon_imgs/list.png" alt="">
                                    <p class="fs-5 fw-normal pt-1">Program List</p>
                                </a></div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- DATA-ROW-2 -->
            <div class="container-fluid statics mb-3">
                <div class="row gy-3">
                    <div class="col-xl-6 col-lg-10">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h6>Total Room Occupied</h6>
                                <div id="chart1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h6>Total Room Occupied</h6>
                                <div id="chart1">filter</div>
                                <h1>100 </h1>
                                <div id="count">Room Count</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h6>Total Lectures</h6>
                                <div id="chart1">filter</div>
                                <h1>75</h1>
                                <div id="count">Lectures Count</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <h6>Incomplete Task</h6>
                                <div id="chart1">filter</div>
                                <h1>21 </h1>
                                <div id="count">Task Count</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DATA-ROW-3/ USER TABLE -->
            <div class="row">
                <div class="col-xl-6">
                    <div class="table-card">
                        <div class="table-header">
                            <div class="d-flex justify-content-between">
                                <div> <label for="inputEmail3" class="col-sm-2 col-form-label">User</label>
                                </div>
                                <div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label ps-2"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control " id="inputEmail3"
                                                placeholder="Search">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table custom_row datatable" id="datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                
                <div class="col-xl-6">
                    <div class="table-card">
                        <div class="table-header">
                            <div class="d-flex justify-content-between">
                                <div> <label for="inputEmail3" class="col-sm-2 col-form-label">User</label>
                                </div>
                                <div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label ps-2"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputEmail3"
                                                placeholder="Search">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table custom_row datatable" id="datatable1">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a><i class="bi bi-pencil-square"></i></a>
                                            <a><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>







    <!-- </div> -->
</main>


<%- include('partials/footer') %>

<script>
	$(document).ready(function () {
		$(".homeCard .border").hover(function () {
			$this = $(this)

			$this.find("img").css({
				"transition": "0.3s",
				"transform": "scale(0.7)"
			})

			setTimeout(function () {
				$this.find("img").css({
					"transition": "0.2s",
					"transform": "scale(1)"
				})
			}, 200)

		}, function () {
			$this.find("img").css({
				"transition": "0.2s",
				"transform": "scale(1)"
			})
		})


		let options = {
        dataLabels: {
            enabled: true
        },
        legend: {
            show: true
        },
        chart: {
            type: 'donut',
            height: 200
        },
        plotOptions: {
            pie: {
                donut: {
                    size: '40%'
                }
            }
        },
        series: [44, 55, 13, 33],
        labels: ['Apple', 'Mango', 'Orange', 'Watermelon']
    }

    var chart = new ApexCharts(document.querySelector("#chart1"), options);

    chart.render();
	})
</script>
<%- include('partials/footerEnd') %>