<%- include ('partials/head') %>
<%- include ('partials/leftSidebar') %>
<%- include ('partials/header') %>

<div class="col-12 dashboardContent">
	<!--DASHBOARD CONTENT START-->

	<div class="card mt-3 homeCard">
		<div class="card-header cursor-pointer bg-white" data-toggle="collapse" data-target="#homeMasterData"
			aria-expanded="true" aria-controls="collapseTimetable">
			<!-- <h5 class="mb-0 float-left"><img src="/img/clock.png" alt="clock" /> Academic Data</h5>
			<h5 class="float-right"><i class="fas fa-plus"></i></h5> -->
		</div>

		<div id="homeMasterData" class="collapse show">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/management/academic-year/" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Academic Year</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/management/organization/list" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Organization Master</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/management/campus/list" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Campus Master</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/management/building/list/" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Building Master</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/management/room/list" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Room Master</p>
							</div>
						</a>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/management/room/transaction/" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Room Transaction</p>
							</div>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>


</div>








<%- include('partials/footer') %>
<script>
	$(document).ready(function () {
		$(".homeCard .border").hover(function () {
			$this = $(this)

			$this.find("img").css({
				"transition": "0.3s",
				"transform": "scale(0.7)"
			})

			setTimeout(function () {
				$this.find("img").css({
					"transition": "0.2s",
					"transform": "scale(1)"
				})
			}, 200)

		}, function () {
			$this.find("img").css({
				"transition": "0.2s",
				"transform": "scale(1)"
			})
		})
	})
</script>
<%- include('partials/footerEnd') %>