<div class="row gx-3 gy-3 mb-3 row1-data">

    <div class="col-12">
    <h4 style="background-color: #5ca4ea; border-radius:  5px; padding: 4px; color: white;" class="d-flex align-items-center"><img src="/icon_imgs/master-data.png" alt="" class="mx-1">Master Data</h4>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="<%- path %>/days">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/days.png" alt="">
                    <p class="fw-normal pt-1">DAYS</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/programs" class="tab-expand">
            <div class="card row1-data-card text-center " >
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/programs.png" alt="">
                    <p class="fw-normal pt-1">PROGRAMS</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="<%- path %>/courseworkload">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/courseWorkload.png" alt="">
                    <p class="fw-normal pt-1">COURSE WORKLOAD</p> 
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="<%- path %>/sessions">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/session.png" alt="">
                    <p class="fw-normal pt-1">SESSION</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="<%- path %>/events">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/event.png" alt="">
                    <p class="fw-normal pt-1">EVENT</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6 ">
        <a href="<%- path %>/holidays">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/holidays.png" alt="">
                    <p class="fw-normal pt-1">HOLIDAYS</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6 ">
        <a href="/admin/rooms">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/bed.png" alt="">
                    <!-- <p class="fw-normal pt-1">ROOM TRANSACTION</p> -->
                    <p class="fw-normal pt-1">ROOMS</p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/divisions">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/division2.png" alt="">
                    <p class="fw-normal pt-1">DIVISIONS & BATCHES</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/faculties">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/overload.png" alt="">
                    <p class="fw-normal pt-1">FACULTY</p>
                </div>
            </div>
        </a>
    </div>

<!-- 
    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/program">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/programs.png" alt="">
                    <p class="fw-normal pt-1">Faculty time table preference</p>
                </div>
            </div>
        </a>
    </div> -->

    <!-- <div class="col-xl-2 col-lg-4 col-md-6 " style="pointer-events: none;">
        <a href="/admin/weekly-constraint">
            <div class="card row1-data-card text-center" style="background-color: #dddddd;">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/cancelation.png" alt="">
                    <p class="fw-normal pt-1">WEEKLY CONSTRAINT</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6" style="pointer-events: none;">
        <a href="/admin/time-table-simulation">
            <div class="card row1-data-card text-center" style="background-color: #dddddd;">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/to-do-list.png" alt="">
                    <p class="fw-normal pt-1">Time table simulation</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6" style="pointer-events: none;">
        <a href="/admin/time-table-generation">
            <div class="card row1-data-card text-center" style="background-color: #dddddd;">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/slug.png" alt="">
                    <p class="fw-normal pt-1">TIME TABLE GENERATION</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6" style="pointer-events: none;">
        <a href="/admin/rescheduling">
            <div class="card row1-data-card text-center" style="background-color: #dddddd;">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/time.png" alt="">
                    <p class="fw-normal pt-1">RESCHEDULING</p>
                </div>
            </div>
        </a>
    </div>-->


    <div class="col-xl-2 col-lg-4 col-md-6" >
        <a href="/admin/schooltime">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/schooltime.png" alt="">
                    <p class="fw-normal pt-1">SCHOOL TIMING</p>
                </div>
            </div>
        </a>
    </div> 


</div>


<!-- <div class="reporting">
   <div class="d-grid gap-2">
    <a class="btn btn-primary text-left" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        MIS
    </a>
   </div>
   
     <div class="collapse" id="collapseExample">
       <div class="card card-body">
         Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
       </div>
     </div>
</div> -->
<!-- DATA-ROW-2  --> 



 <div class="row gy-3 gx-3 mb-3 row1-data">
    <div class="col-12">
    <h4 style="background-color: #5ca4ea; border-radius:  5px; padding: 4px; color: white;" class="d-flex align-items-center"><img src="/icon_imgs/preferences.png" alt="" class="mx-2">Preferences</h4>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/courseworkload/preference">
        <div class="card row1-data-card text-center">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <img src="/icon_imgs/course-preference.png" alt="">
                    <p class="fw-normal pt-1">COURSE PREFERENCE</p>
                </div>
        </div>
    </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/faculties/workpreferences">
        <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/prefernece.PNG" alt="">
                    <p class="fw-normal pt-1">FACULTY WORK TIME PREFERENCE</p>
                </div>
        </div>
        </a>
    </div>
</div> 


<!-- DATA-ROW-3/ USER TABLE -->

<div class="row gy-3 gx-3 mb-3 row1-data">
    <div class="col-12">
    <h4 style="background-color: #5ca4ea; border-radius:  5px; padding: 4px; color: white;" class="d-flex align-items-center"><img src="/icon_imgs/timetable.png" alt="" class="mx-2">Time Table</h4>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/admin/time-table-simulation">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/simulation.png" alt="">
                    <p class="fw-normal pt-1">TIME TABLE SIMULATION</p>
                </div>
            </div>
        </a>
    </div>
</div> 
 