<%- include ('../partials/head') %>

<!-- PAGE LEVEL CSSS START -->

<!-- PAGE LEVEL CSSS END -->

<%- include ('../partials/leftSidebar') %>
<%- include ('../partials/header') %>

<style>
    .stage:nth-child(-n + <%- currentFormStep-1 %>) {
        background: #3cc58c;
        color: #fff;

    }

    .stage:nth-child(-n + <%- currentFormStep-1 %>)::before {
        border-left: 25px solid #3cc58c;
    }

    .stage:nth-child(<%- currentFormStep %>) {
        background: #ffc800;
        color: #000;

    }

    .stage:nth-child(<%- currentFormStep %>)::before {
        border-left: 25px solid #ffc800;
    }
</style>

<!-- MAIN-CONTENT -->
<div class="main-content">

    <% if (currentFormStep) { %>
    <%- include('./stepform.ejs') %>
    <% } else { %>
    <%- include('./dashboard.ejs') %>
    <% } %>

</div>
</main>


<%- include('../partials/footer') %>


<!-- PAGE LEVEL JS START -->


<script src="/js/adminDashboardscript.js"></script>

<script>
    $(document).ready(function () {

        $("#selectList").on('click', '.list-group-item', function () {

            //remove current element when added to right sidebar
            if ($(this).attr('data-clickable') == 'true') {
                $("#selectedList").append(
                    `<li class="list-group-item d-flex justify-content-between align-items-center my-1 border-top" data-faculty-name="${$(this).text()}" data-faculty-id="${$(this).attr("data-faculty-id")}" data-clickable="true">${$(this).text()} <span class="badge bg-danger rounded-pill clicktoremove ms-auto me-2">Remove</span></li> `
                    )
            }

            $(this).attr('data-clickable', 'false');

            $($(this)).fadeOut(300, function () {
                $($(this)).remove()
            })

        })

        //Remove Element

        $("#selectedList").on('click', '.clicktoremove', function () {

            if ($(this).parent().attr('data-clickable') == 'true') {
                $("#selectList").append(`<li class="list-group-item my-1 border-top" data-faculty-name="${$(this).parent().attr("data-faculty-name")}" data-faculty-id="${$(this).parent().attr("data-faculty-id")}" data-clickable="true"> ${$(this).parent().attr("data-faculty-name")} 
        </li>`)
            }

            $(this).parent().attr('data-clickable', 'false')

            $($(this)).fadeOut(300, function () {
                $($(this).parent()).remove()
            })
        })

        //search 
        let selectItems = $('#selectList li')


        $('#searchItem').on('input', function () {

            var text = $('#searchItem').val().toLowerCase();

            for (let item of selectItems) {
                if (item.textContent.toLowerCase().indexOf(text) > -1) {
                    $(item).removeClass("d-none");
                } else {
                    $(item).addClass("d-none");
                }
            };
        })

        //search selected faculty

        $('#searchSelectedFaculty').on('input', function () {
            let selectedItems = $('#selectedList li')
            var text = $('#searchSelectedFaculty').val().toLowerCase();
            console.log('text:::::::::', selectedItems)
            for (let item of selectedItems) {
                console.log('faculty:::::::::', item)
                if (item.textContent.toLowerCase().indexOf(text) > -1) {

                    $(item).removeClass("d-none");
                } else {
                    $(item).addClass("d-none");
                }
            };
        })


        //Step form Start
        let currentFormStep = 1;

        $('.step-form .step-form-body .active-form').removeClass('active-form').addClass('d-none');

        $(`.step-form .step-form-body .step[data-step=${currentFormStep}]`).removeClass('d-none').addClass(
            'active-form');

        function formStepNext() {
            currentFormStep++;
            console.log('clicked!!')
            $(`.step-form .stages .stage:nth-child(-n + ${currentFormStep-1})`).removeClass('pending').addClass(
                'submitted');
            $(`.step-form .stages .stage:nth-child(${currentFormStep})`).removeClass('pending').addClass(
                'active');

            $('.step-form .step-form-body .active-form').removeClass('active-form').addClass('d-none');
            $(`.step-form .step-form-body .step[data-step=${currentFormStep}]`).removeClass('d-none').addClass(
                'active-form');
            console.log(currentFormStep);
        }

        $('#next-step').on('click', function () {
            console.log('yello');
            formStepNext()
        })

    })
</script>

<!-- PAGE LEVEL JS END -->
<%- include('../partials/footerEnd') %>