<%- include ('../partials/head') %>

<!-- PAGE LEVEL CSSS START -->

<!-- PAGE LEVEL CSSS END -->

<%- include ('../partials/leftSidebar') %> 
<%- include ('../partials/header') %>

<!-- MAIN-CONTENT -->
<div class="main-content">
 
    <%- include('./stepform.ejs') %>


</div>
</main>


<%- include('../partials/footer') %>


<!-- PAGE LEVEL JS START -->


<script src="/js/adminDashboardscript.js"></script>

<script>
  
  let forms = $('.step');
  console.log(forms);

  $('.next').on('click', function(){
    $('.step').addClass('active');
  })
</script>
<!-- PAGE LEVEL JS END -->
<%- include('../partials/footerEnd') %>