<%- include ('../partials/head') %>

<!-- PAGE LEVEL CSSS START -->

<!-- PAGE LEVEL CSSS END -->

<%- include ('../partials/leftSidebar') %> 
<%- include ('../partials/header') %>

<style>
    .stage:nth-child(-n + <%- currentFormStep-1 %>) {
        background: #3cc58c;
        color: #fff;

    }

    .stage:nth-child(-n + <%- currentFormStep-1 %>)::before {
        border-left: 25px solid #3cc58c;
    }

    .stage:nth-child(<%- currentFormStep %>) {
        background: #ffc800;
        color: #000;

    }

    .stage:nth-child(<%- currentFormStep %>)::before {
        border-left: 25px solid #ffc800;
    }
</style>

<!-- MAIN-CONTENT -->
<div class="main-content">
 
    <% if (currentFormStep) { %>
        <%- include('./stepform.ejs') %>
        <% } else { %>
        <%- include('./dashboard.ejs') %>
        <% } %>

</div>
</main>


<%- include('../partials/footer') %>


<!-- PAGE LEVEL JS START -->


<script src="/js/adminDashboardscript.js"></script>

<script>

    $(document).ready(function(){

      
        let currentFormStep = 1;
        
        $('.step-form .step-form-body .active-form').removeClass('active-form').addClass('d-none');

        $(`.step-form .step-form-body .step[data-step=${currentFormStep}]`).removeClass('d-none').addClass(
            'active-form');

            function formStepNext() {
            currentFormStep++;
            console.log('clicked!!')
            $(`.step-form .stages .stage:nth-child(-n + ${currentFormStep-1})`).removeClass('pending').addClass('submitted');
            $(`.step-form .stages .stage:nth-child(${currentFormStep})`).removeClass('pending').addClass('active');

            $('.step-form .step-form-body .active-form').removeClass('active-form').addClass('d-none');
            $(`.step-form .step-form-body .step[data-step=${currentFormStep}]`).removeClass('d-none').addClass('active-form');
                console.log(currentFormStep);
        }

        $('#next-step').on('click', function(){
            console.log('yello');
            formStepNext()
        })
  
    })

   
 
 
</script>

<!-- PAGE LEVEL JS END -->
<%- include('../partials/footerEnd') %>