<div class="step-form">
    <div class="d-flex pt-3 pb-4 time-line stages" style="overflow-x: scroll;">
        <div class="arrow-pointer stage pending my-1" data-step="1">Holidays </div>
        <div class="arrow-pointer stage pending my-1" data-step="2"> Room</div>
        <div class="arrow-pointer stage pending my-1" data-step="3"> Program</div>
        <div class="arrow-pointer stage pending my-1" data-step="4"> Course Workload</div>
       
        <div class="arrow-pointer stage pending my-1" data-step="5"> Session Date</div>
      
        <div class="arrow-pointer stage pending my-1" data-step="6"> Division</div>
        <div class="arrow-pointer stage pending my-1" data-step="7"> Division Batches</div>
        <div class="arrow-pointer stage pending my-1" data-step="8"> Weekly Constraint</div>
        <div class="arrow-pointer stage pending my-1" data-step="9"> Faculty </div>
        <div class="arrow-pointer stage pending my-1" data-step="10"> Faculty Preference</div>
    </div>

    <div class="step-form-body pt-3">
        <!-- Holidays -->
        <form action="/admin/holidays" method="post" class="step" id="holidays-form" data-step="1">
            <div class="modal-header table-card-header">
                <h5 class="modal-title text-white" id="add-holidays-modal-title">Add New Holidays</h5>
                <button class="btn btn-danger fetchFromSAP ms-auto"><i class="fa fa-download"></i> Fetch From
                    SAP</button>
                <button type="button" class="btn add-btn btn-sm ms-2" id="add-more-holidays"><i
                        class="fas fa-plus"></i></button>
            </div>
            <div id="errorHtml" class="error-show pt-3"></div>
            <div class="table-responsive">
                <table class="table" id="add-more-holidays-table">
                    <thead>
                        <th>Calendar Name</th>
                        <th>Calendar Year</th>
                        <th>Holiday Date</th>
                        <th>Holiday Reason</th>
                        <th>Holiday Type</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>

                            <td>
                                <i class="far fa-edit d-none"></i>
                                <i class="fas fa-trash-alt text-danger cursor-pointer remove-holidays"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>

        <!-- Room -->

        <form   class="step d-none" id="room-form" data-step="2">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5 class="modal-title text-white" id="add-room-modal-title">Import Rooms</h5>
            </div>
            <div>
                <button type="button" class="add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#open-room-modal">
                    <i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div id="errorHtml" class="error-show pt-3"></div>
        <div class="modal-body">
            <div id="errorHtml"></div>


            <input type="hidden" id="roomId" name="roomId">
            <div class="table-responsive">
                <table class="table " id="add-more-room-table">
                    <thead>
                        <th>Room No</th>
                        <th>Building</th>
                        <th>Type</th>
                        <th>Floor</th>
                        <th>Capacity</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Is Basement</th>
                        <th>Handled By</th>
                        <th>UUID</th>
                        <th>Is Processed</th>
                        <th>Action</th>
                        <th>Check All <input type="checkbox" class="selectAll-rooms"></th>
                    </thead>
                    <tbody>
                        <% for (let room of RoomList) { %>
                        <tr>
                            <td><%- room.room_number %></td>
                            <td><%- room.building_name %></td>
                            <td><%- room.room_type %></td>
                            <td><%- room.floor_number %></td>
                            <td><%- room.capacity %></td>
                            <td><%- room.start_time %></td>
                            <td><%- room.end_time %></td>
                            <td><%- room.is_basement ? 'Yes' : 'No' %></td>
                            <td><%- room.handled_by %></td>
                            <td></td>
                            <td>
                                <% if(room.is_processed == "1") {%>
                                <div class="form-check form-switch switch-checkbox">
                                    <input class="form-check-input " type="checkbox" role="switch"
                                        id="flexSwitchCheckChecked" disabled checked>
                                </div>
                                <%}else{%>
                                <div class="form-check form-switch switch-checkbox">
                                    <input class="form-check-input is_processed_click" type="checkbox" role="switch"
                                        data-is-processed="<%-room.is_processed%>" data-room-id="<%- room.roomid %>">
                                </div>
                                <%}%>  
                                    </td>
                                    <td>
                                        <i class="fas fa-edit text-dark cursor-pointer edit-room"
                                            data-room-id="<%- room.roomid %>"></i>
                            </td>
                            <td>
                                <input type="checkbox" data-room-id="<%- room.roomid %>" class="delete-rooms">
                            </td>
                        </tr>

                        <% } %>
                    </tbody>
                </table>
            </div>

        </div>


        <!-- Modal -->
        <div class="modal fade" id="open-room-modal" tabindex="-1" aria-labelledby="open-room-modal" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content modal-inputform">
                    <div class="modal-header modal-inputform-header">
                        <h3 class="modal-title" id="open-room-modal-title">Import Room</h3>
                        <button type="button" class="btn fs-4 text-white" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fas fa-times text-dark"></i></button>
                    </div>

                    <div class="modal-body py-0">

                        <div class="row">
                            <div class="col-md-3 col-xxl-3 select-items">
                                <h4 class="text-center py-1 select-room-header">Select Rooms</h4>
                                <input type="text" name="" id="searchItem" placeholder="Search Room"
                                    class="form-control searchItemRoom">
                                <div style="margin-top: 100px;">
                                    <div class="col-md-12">
                                        <label>Campus</label>

                                        <select name="campus_lid" id="" class="select2">
                                            <option>--select--</option>
                                            <% for(let campus of campusList) { %>
                                            <option value="<%- campus.id %>">
                                                <%- campus.campus_abbr %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <label>Building</label>

                                        <select name="building_lid" id="" class="select2">
                                            <option>--select--</option>
                                            <% for(let building of buildingList) { %>
                                            <option value="<%- building.building_id %>">
                                                <%- building.building_name %>
                                            </option>
                                            <% } %>
                                        </select>

                                    </div>

                                    <div class="col-md-12">
                                        <label>Organization</label>

                                        <select name="handled_by" id="" class="select2">
                                            <option>--select--</option>
                                            <% for(let org of orgList) { %>
                                            <option value="<%- org.id %>">
                                                <%- org.org_abbr %>/<%- org.org_id %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>

                                <ul class="list-group custom-select-list selectList" >
                                    <% for (let room of RoomList){ %>
                                    <li class="list-group-item" data-clickable="true" data-room-id="<%- room.id%>"><%- room.room_number%></li>
                                    <% }%>
                                </ul>
                            </div>
                            <div class="col-md-9 col-xxl-9 selected-items">
                                <h4 class="text-center py-1 selected-room-header" style="max-width: 73% !important;">
                                    Selected Rooms</h4>
                                <input type="text" name="" id="searchSelectedItem" placeholder="Search Selected Room"
                                    class="form-control searchSelectedRoom">
                                <div class="row selected-room-filter">

                                    <div class="col-md-4">
                                        <label>Book for Campus</label>

                                        <select name="campus_lid" id="campus_lid" class="select2">
                                            <option>--select--</option>
                                            <% for(let campus of campusList) { %>
                                            <option value="<%- campus.id %>">
                                                <%- campus.campus_abbr %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <label>Book for building</label>

                                        <select name="building_lid" id="building_lid" class="select2">
                                            <option>--select--</option>
                                            <% for(let building of buildingList) { %>
                                            <option value="<%- building.building_id %>">
                                                <%- building.building_name %>
                                            </option>
                                            <% } %>
                                        </select>

                                    </div>

                                    <div class="col-md-4">
                                        <label>Book for Organization</label>

                                        <select name="handled_by" id="handled_by" class="select2">
                                            <option>--select--</option>
                                            <% for(let org of orgList) { %>
                                            <option value="<%- org.id %>">
                                                <%- org.org_abbr %>/<%- org.org_id %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>

                                </div>

                                <ul class="list-group custom-select-list selectedList" id="selectedList">
                                    <table class="table table-bordered" id="add-more-room-table">
                                        <thead>
                                            <th>room</th>
                                            <th>start Time</th>
                                            <th>end Time</th>
                                            <th>start Date</th>
                                            <th>end Date</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </ul>

                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn import-room modal-inputform-btn">Import Room</button>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <!--Program -->
        <form action="/admin/program" method="post" class="step d-none" id="program-form" data-step="3">
            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-program-modal-title">Add New Program</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-program" data-bs-toggle="modal" data-bs-target="#open-program-modal"><i class="fas fa-plus"></i></button>
            </div>
            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="programId" name="programId">
                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-program-table">
                        <thead>
                            <th>Program Code</th>
                            <th>Program Name</th>
                            <th>Program Type</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

             <!-- Modal -->
        <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content modal-inputform">
                    <div class="modal-header modal-inputform-header">
                        <h3 class="modal-title" id="open-room-modal-title">Select Program</h3>
                        <button type="button" class="btn fs-4 text-white" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fas fa-times text-dark"></i></button>
                    </div>

                    <div class="modal-body py-0">

                        <div class="row">
                            <div class="col-md-3 col-xxl-3 select-items">
                                <h4 class="text-center py-1 select-room-header">Select Program</h4>
                                <input type="text" name=""  placeholder="Search Program"
                                    class="form-control searchItemProgram">

                                <ul class="list-group custom-select-list selectList selectListProgram"  style="margin-top: 70px;">
                                    <% for (let program of programList){ %>
                                    <li class="list-group-item" data-clickable="true" data-program-code="<%-program.program_id %>"><%- program.program_name%></li>
                                    <% }%>
                                </ul>
                            </div>
                            <div class="col-md-9 col-xxl-9 selected-items">
                                <h4 class="text-center py-1 selected-room-header" style="max-width: 73% !important;">Selected Program</h4>
                                <input type="text" name=""  placeholder="Search Selected Faculty"
                                    class="form-control searchSelectedItemProgram">

                                <ul class="list-group custom-select-list selectedListProgram" id="selectedList" style="margin-top: 50px;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>Program Name</th>
                                            <th>Program Type</th>
                                            
                                            <th>Action</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </ul>

                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn  createFaculty modal-inputform-btn">Import Program</button>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <!-- Course Workload-->
        <form action="/admin/courseworkload" method="post" class="step d-none" id="courseWorkload-form" data-step="4">

            <div class="modal-header table-card-header d-flex justify-content-end">
                      <div class="me-auto">
                        <h5 class="modal-title" id="add-courseWorkload-modal-title">Fetch Initial Course workload</h5>
                      </div>
                      <div >
                        <input type="text"  class="form-control" id="acadYear" value="<%- acadYear %>">
                      </div>
                      <div class="mx-3">
                        <select  id="programLid" name="programLid" class="form-select">
                            <option value="">Select program</option>
                            <% for(let program of programList) {%>
                            <option value="<%-program.program_id %>"><%-program.program_name %></option>
                            <%}%>
                        </select>
                      </div>
                      <div class="me-3">
                        <select  id="acadSessionLid" name="acadSessionLid" class="form-select">
                            <option value="">Select Session</option>
                            <% for(let acadsession of AcadSessionList) {%>
                            <option value="<%- acadsession.acadSessionId %>"><%- acadsession.acad_session %></option>
                            <%}%>
                        </select>
                      </div>
                      <div>
                        <button class="btn btn-danger fetchFromSAP ms-auto"><i class="fa fa-download"></i> Fetch From
                            SAP</button>
                      </div>

            </div>
            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="programId" name="programId">

                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-courseWorkload-table">
                        <thead>
                            <th>Module Name</th>
                            <th>Program Id</th>
                            <th>Module Id</th>
                            <th>Elective</th>
                            <th>Intake</th>
                            <th>Student per division</th>
                            <th>Lecture per week per division</th>
                            <th>Practical per week per division</th>
                            <th>Tutorial per week per division</th>
                            <th>Workshop per week per division</th>
                            <th>Continous</th>
                            <th>Session events per semester</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <!-- Session date -->
        <form action="/admin/sessiondate" method="post" class="step d-none" id="sessionDate-form" data-step="5">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-sessionDate-modal-title">Add Session Date</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-sessionDate"><i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="sessionDate" name="sessionDate">
                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-sessionDate-table">
                        <thead>
                            <th>Program</th>
                            <th>Acad Session</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select name="programName" class="form-select" required>
                                        <% for (let program of programList){%>
                                            <option value="<%- program.id%>"><%- program.program_name%></option>
                                            <% }%>
                                    </select>
                                </td>
                                <td>
                                    <select name="acadSession" class="form-select" required>
                                        <% for (let session of AcadSessionList){%>
                                            <option value="<%- session.acadSessionId %>"><%- session.acad_session%></option>
                                            <% }%>
                                    </select>
                                    
                                </td>
                                <td>
                                    <select name="startDate" class="form-select" required>
                                        <% for (let acad of acadCalender){%>
                                            <option value="<%- acad.id %>"><%- acad.date %></option>
                                            <% }%>
                                    </select>
                                </td>
                                <td>
                                    <select name="endDate" class="form-select" required>
                                        <% for (let acad of acadCalender){%>
                                            <option value="<%- acad.id %>"><%- acad.date %></option>
                                            <% }%>
                                    </select>
                                </td>
                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-session"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
 
        <!-- Session date range -->
        <form action="/admin/sessionrange" method="post" class="step d-none" id="sessionRange-form" data-step="6">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-sessionRange-modal-title">Session types date range</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-sessionRange"><i class="fas fa-plus"></i>
                </button>
            </div>

            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="sessionRange" name="sessionRange">

                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-sessionRange-table">
                        <thead>
                            <th>Acad Session</th>
                            <th>Session Range</th>
                            <th>Session Range</th> 
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="sessionType" id="sessionType" class="form-control"
                                        palceholder="Session Type" required>
                                </td>
                                <td>
                                    <input type="date" name="sessionRange" id="sessionRange" class="form-control"
                                        palceholder="Session From" required>
                                </td>
                                <td>
                                    <input type="date" name="sessionRange" id="sessionRange" class="form-control"
                                        palceholder="Session To" required>
                                </td>

                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-program"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </form>

        <!-- Division -->
        <form action="/admin/division" method="post" class="step d-none" id="division-form" data-step="7">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-division-modal-title">Divisions</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-division"><i class="fas fa-plus"></i>
                </button>
            </div>

            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="division" name="division">

                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-division-table">
                        <thead>
                            <th>#</th>
                            <th>Division</th>
                            <th>Division no</th>
                            <th>Division count</th>
                            <th>Count for theory batch</th>
                            <th>Count for practical batch</th>
                            <th>Count for tutorial batch</th>
                            <th>Count for workshop batch</th>
                            <th>Module name</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <%let count = 1;%>
                            <% for(let division of divisionList) {%>
                            <tr>
                                <td><%- count++ %></td>
                                <td><input type="text" class="form-control" value="<%- division.division %>"></td>
                                <td><input type="text" class="form-control" value="<%- division.division_num %>">
                                </td>
                                <td><input type="text" class="form-control" value="<%- division.division_count %>">
                                </td>
                                <td><input type="text" class="form-control"
                                        value="<%- division.count_for_theory_batch %>"></td>
                                <td><input type="text" class="form-control"
                                        value="<%- division.count_for_practical_batch %>"></td>
                                <td><input type="text" class="form-control"
                                        value="<%- division.count_for_tutorial_batch %>"></td>
                                <td><input type="text" class="form-control"
                                        value="<%- division.count_for_workshop_batch %>"></td>
                                <td><%- division.module_name %></td>
                                <td><label class="switch">
                                        <input type="checkbox" class="changeStatus" data-id="<%- division.id %>"
                                            data-status="<%- division.status %>"
                                            <%- division.status == 'Yes' ? 'Checked' :  ''  %>>
                                        <span class="switch-slider round"></span>
                                    </label></td>
                            </tr>
                            <%}%>
                        </tbody>

                    </table>
                </div>
            </div>
        </form>

        <!-- Division Batches -->
        <form action="/admin/divisionbatches" method="post" class="step d-none" id="divisionBatches" data-step="8">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-divisionBatches-modal-title">Add Division batches</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-divisionbatches"><i
                        class="fas fa-plus"></i> </button>
            </div>

            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="divisionBatches" name="divisionBatches">

                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-divisionBatches-table">
                        <thead>
                            <th>Division Batches</th>
                            <th>Division Batches</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="divisionBatches" id="divisionBatches"
                                        class="form-control" palceholder="Acad Session" required>
                                </td>

                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-divisionBatches"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </form>

        <!-- Weekly constraint -->
        <form action="/admin/weeklyConstraint" method="post" class="step d-none" id="weeklyConstraint" data-step="9">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-weeklyConstraint-modal-title">Weekly constraint</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-weeklyConstraint"><i
                        class="fas fa-plus"></i> </button>
            </div>

            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="weeklyConstraint" name="weeklyConstraint">

                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-weeklyConstraint-table">
                        <thead>
                            <th>Tag</th>
                            <th>Name</th>
                            <th>Event-type</th>
                            <th>Rule-on</th>
                            <th>Repeatable</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" id="tagId" name="tagId" class="form-control">
                                </td>
                                <td>
                                    <input type="text" name="constraintName" id="constraintName" class="form-control"
                                        palceholder="Name" required>
                                </td>
                                <td>
                                    <input type="text" name="eventType" id="eventType" class="form-control"> 
                                </td>
                                <td>
                                    <input type="text" name="ruleOn" id="ruleOn" class="form-control">
                                </td>
                                <td>
                                    <select name="repeatable" id="repeatable" class="select2">
                                        <option value="" selected>--SELECT--</option>
                                        <option value="1">YES</option>
                                        <option value="0">NO</option>
                                    </select>
                                </td>
                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-weekly-constraint"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </form>

        <!-- Faculty -->
        <form action="/admin/faculty" method="post" class="step d-none" id="faculty" data-step="10">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-faculty-modal-title">Import Faculty</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-faculty"><i class="fas fa-plus"></i>
                </button>
            </div>

            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="faculty" name="faculty">

                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-faculty-table">
                        <thead>
                            <th>Faculty-id</th>
                            <th>Faculty Name</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="facultyId" id="facultyId" class="form-control"
                                        palceholder="Faculty Id" required>
                                </td>
                                <td>
                                    <input type="text" name="facultyName" id="facultyName" class="form-control"
                                        palceholder="Faculty Name" required>
                                </td>
                                <td>
                                    <input type="number" name="facultyStartTimeId" id="facultyStartTimeId"
                                        class="form-control" palceholder="Faculty Start Time" required>
                                </td>
                                <td>
                                    <input type="number" name="facultyEndTimeId" id="facultyEndTimeId"
                                        class="form-control" palceholder="Faculty End Time" required>
                                </td>
                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-faculty"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </form>

        <!-- Faculty Time Preference -->
        <form action="/admin/facultypreference" method="post" class="step d-none" id="facultyPreference" data-step="12">

            <div class="modal-header table-card-header">
                <h5 class="modal-title" id="add-facultyPreference-modal-title">Add Faculty Preference</h5>
                <button type="button" class="btn add-btn btn-sm" id="add-more-facultyPreference"><i
                        class="fas fa-plus"></i> </button>
            </div>

            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="facultyPreference" name="faculty">

                <div class="table-responsive">
                    <table class="table table-bordered" id="add-more-facultyPreference-table">
                        <thead>
                            <th>Faculty-id</th>
                            <th>Faculty Name</th>
                            <th>Start time Id</th>
                            <th>End Time Id</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="facultyId" id="facultyId" class="form-control"
                                        palceholder="Faculty Id" required>
                                </td>
                                <td>
                                    <input type="text" name="facultyName" id="facultyName" class="form-control"
                                        palceholder="Faculty Name" required>
                                </td>
                                <td>
                                    <input type="number" name="facultyStartTimeId" id="facultyStartTimeId"
                                        class="form-control" palceholder="Faculty Start Time" required>
                                </td>
                                <td>
                                    <input type="number" name="facultyEndTimeId" id="facultyEndTimeId"
                                        class="form-control" palceholder="Faculty End Time" required>
                                </td>


                                <td>
                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove-facultypreference"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </form>

    </div>

    <div class="step-form-footer">
        <div class="btn-container d-flex justify-content-end">
            <button type="button" class="nxt-btn" id="next-step">Next</button>
        </div>
    </div>

</div>