<%- include ('partials/head') %>
<%- include ('partials/leftSidebar') %>
<%- include ('partials/header') %>

<div class="col-12 dashboardContent">
	<!--DASHBOARD CONTENT START-->

	<div class="card mt-3 homeCard">
		<div class="card-header cursor-pointer bg-white" data-toggle="collapse" data-target="#homeMasterData"
			aria-expanded="true" aria-controls="collapseTimetable">
			<h5 class="mb-0 float-left"><img src="/img/clock.png" alt="clock" /> Upload Master Data</h5>
			<h5 class="float-right"><i class="fas fa-plus"></i></h5>
		</div>

		<div id="homeMasterData" class="collapse show">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/infradata/upload_page/" class="text-reset">
							<div class="border p-2">
								<img src="/img/upload-room.png" alt="View Course Workload" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Room Data</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/courseworkload/uploadpage" class="text-reset">
							<div class="border p-2">
								<img src="/img/upload-course-workload.png" alt="View Course Workload" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Course Workload</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/faculty/uploadpage" class="text-reset">
							<div class="border p-2">
								<img src="/img/upload-faculty.png" alt="View Faculty Workload" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Faculty Workload</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/holidays/add/" class="text-reset">
							<div class="border p-2">
								<img src="/img/upload-holiday.png" alt="Upload Holiday" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Holiday List</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/roomdata/getBuildingData" class="text-reset">
							<div class="border p-2">
								<img src="/img/building-data.png" alt="Building Data" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Building Data</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/roomdata/roomSlotBookingForm" class="text-reset">
							<div class="border p-2">
								<img src="/img/room-slot-booking.png" alt="Room Slot Booking" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Room Slot Booking</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card mt-5 homeCard">
		<div class="card-header cursor-pointer bg-white" data-toggle="collapse" data-target="#homePreferences"
			aria-expanded="true" aria-controls="collapseTimetable">
			<h5 class="mb-0 float-left"><img src="/img/preferences.png" alt="clock" /> Preferences</h5>
			<h5 class="float-right"><i class="fas fa-plus"></i></h5>
		</div>

		<div id="homePreferences" class="collapse show">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/settings/programSettings" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Set Program Name</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/settings/getProgramAllocationSeq" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Program Sequence</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/settings/getSemSequencePreference" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Semester Sequence</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/settings/sessionSlotPreference" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Session Start Slot</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/slots/visitingFacultySlotTime" class="text-reset">
							<div class="border p-2">
								<img src="/img/visiting-preference.png" alt="Visiting Faculty Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Visiting Faculty Slot</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/settings/getAcademicSettings" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Academic Settings" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Academic Settings</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="card mt-3 homeCard">
		<div class="card-header cursor-pointer bg-white" data-toggle="collapse" data-target="#homeTimetable"
			aria-expanded="true" aria-controls="collapseTimetable">
			<h5 class="mb-0 float-left"><img src="/img/clock.png" alt="clock" /> Time Table</h5>
			<h5 class="float-right"><i class="fas fa-plus"></i></h5>
		</div>

		<div id="homeTimetable" class="collapse show">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/roomdata/getAllotmentPage/" class="text-reset">
							<div class="border p-2">
								<img src="/img/timetable-allocation.png" alt="Timetable Allocation Process" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Allocation Process</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/roomdata/getroomtimesheet/" class="text-reset">
							<div class="border p-2">
								<img src="/img/simulation.png" alt="Raw Timetable" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Simulation</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/simulation/index" class="text-reset">
							<div class="border p-2">
								<img src="/img/raw-time-table.png" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Final Timesheet</p>
							</div>
						</a>
					</div>


				</div>
			</div>
		</div>
	</div>

	
	<div class="card mt-5 homeCard">
		<div class="card-header cursor-pointer bg-white" data-toggle="collapse" data-target="#mis" aria-expanded="true"
			aria-controls="collapseTimetable">
			<h5 class="mb-0 float-left"><img src="/img/others.png" alt="clock" /> MIS</h5>
			<h5 class="float-right"><i class="fas fa-plus"></i></h5>
		</div>

		<div id="mis" class="collapse show">
			<div class="card-body">
				<div class="row">
					<!-- <div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/courseworkload/uploaded" class="text-reset">
							<div class="border p-2">
								<img src="/img/view-course-workload.png" alt="View Course Workload" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Course Workload</p>
							</div>
						</a>
					</div> -->
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/modulelist/index/" class="text-reset">
							<div class="border p-2">
								<img src="/img/course-workload-status.png" alt="Workload Status" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Course Workload Status</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/courseworkload/facultyWorkload/" class="text-reset">
							<div class="border p-2">
								<img src="/img/faculty-workload.png" alt="View Faculty Workload" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Faculty Workload</p>
							</div>
						</a>
					</div>
					
					<!--
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/roomdata/studenttimetable/" class="text-reset">
							<div class="border p-2">
								<img src="/img/student-time-table.png" alt="Student Timetable" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Student Timetable</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/faculty/facultyTimesheet/" class="text-reset">
							<div class="border p-2">
								<img src="/img/faculty-timesheet.png" alt="Faculty Timesheet" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Faculty Timesheet</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="#" class="text-reset">
							<div class="border p-2">
								<img src="/img/programwise-timetable.png" alt="Program Wise Timetable" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Program Timetable</p>
							</div>
						</a>
					</div>
					-->
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/roomdata/fetchRoomdata/" class="text-reset">
							<div class="border p-2">
								<img src="/img/room-data.png" alt="Room Data" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Room Data</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/sap/showSAPEventLog/" class="text-reset">
							<div class="border p-2">
								<img src="/img/student-time-table.png" alt="SAP Event Log" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">SAP Event Log</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	





	<%- include('partials/footer') %>
	<script>
		$(document).ready(function () {
			$(".homeCard .border").hover(function () {
				$this = $(this)

				$this.find("img").css({
					"transition": "0.3s",
					"transform": "scale(0.7)"
				})

				setTimeout(function () {
					$this.find("img").css({
						"transition": "0.2s",
						"transform": "scale(1)"
					})
				}, 200)

			}, function () {
				$this.find("img").css({
					"transition": "0.2s",
					"transform": "scale(1)"
				})
			})
		})
	</script>
	<%- include('partials/footerEnd') %>