<%- include ('partials/su_head') %>
<%- include ('partials/su_leftSidebar') %>
<%- include ('partials/su_header') %>

<div class="col-12 dashboardContent">
	<!--DASHBOARD CONTENT START-->
	
	<div class="card mt-5 homeCard">
		<div class="card-header cursor-pointer bg-white" data-toggle="collapse" data-target="#homePreferences"
			aria-expanded="true" aria-controls="collapseTimetable">
			<h5 class="mb-0 float-left"><img src="/img/preferences.png" alt="clock" />Settings</h5>
			<h5 class="float-right"><i class="fas fa-plus"></i></h5>
		</div>

		<div id="homePreferences" class="collapse show">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/su/createUser" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Create New User</p>
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/su/alterUserPermission" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Change User Permission</p>
							</div>
						</a>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6 text-center mb-3">
						<a href="/su/createPasswordResetLink" class="text-reset">
							<div class="border p-2">
								<img src="/img/session-preference.png" alt="Session Start Slot" />
								<p class="mb-0 py-1 text-uppercase font-weight-bold f-12">Create Password Link</p>
							</div>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<%- include('partials/footer') %>
	<script>
		$(document).ready(function () {
			$(".homeCard .border").hover(function () {
				$this = $(this)

				$this.find("img").css({
					"transition": "0.3s",
					"transform": "scale(0.7)"
				})

				setTimeout(function () {
					$this.find("img").css({
						"transition": "0.2s",
						"transform": "scale(1)"
					})
				}, 200)

			}, function () {
				$this.find("img").css({
					"transition": "0.2s",
					"transform": "scale(1)"
				})
			})
		})
	</script>
	<%- include('partials/footerEnd') %>