<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
                <!--Notificaion icon-->

                <!--HEADER END-->
                <div class="col-12 dashboardContent">
					<!--DASHBOARD CONTENT START-->

					<div class="card">
						<div class="card-header text-uppercase">
							<h5>upload holiday list</h5>
							<form action='/holidays/getHolidayList'
							method='POST'>
								<button class="btn btn-danger m-auto d-block float-right"><i class="fas fa-download"></i>Fetch from SAP</button>
							</form>
						</div>
						<div class="card-body">
							<% if (fetchData == 'school not found' || fetchData == 'WSDL client creation issue' || 
							fetchData == 'WSDL client connection issue' || fetchData == 'table truncate' || fetchData == 'table insert') { %>
								<h6 class="bg-danger text-white p-3">Error occured while fetching Holiday List</h6>
							<% } else if (fetchData > 0) { %>
							<h6 class="bg-success text-white p-3">Done! Holiday List Fetched Successfully</h6>
							<% } %>
							<% if (data > 0) { %>
							<h6 class="bg-success text-white p-3">Done! Holiday List Uploaded Successfully</h6>
							<% } %>
							<form action='/holidays/upload'
							method='POST'
							encType="multipart/form-data">
								<input name="holidayListFile" class="upload-workload cursor-pointer form-control" type="file" />
								<p class="mt-2 text-center mb-0">&#42;Choose a File or Drag and Drop</p>
								<p class="text-center"><a href="#" class="text-info font-weight-bold"><i class="fas fa-download"></i> Download Excel Template</a></p>
								<button class="btn btn-danger m-auto d-block"><i class="fas fa-upload"></i> Upload</button>
							</form>

						</div>
					</div>
					<div class="card mt-4">
						<div class="card-header text-uppercase">
							<h5>Holiday list</h5>
						</div>
						<div class="col-12 table-responsive mt-3 mb-3">
							<table id="roomDataTable" class="table table-bordered table-striped call-datatable">
								<thead>
									<tr>
										<th scope="col">Sr No</th>
										<th scope="col">Calendar Id</th>
										<th scope="col">Calendar Name</th>
										<th scope="col">Campus Id</th>
										<th scope="col">Calendar Year</th>
										<th scope="col">Holiday Date</th>
										<th scope="col">Holiday Reason</th>
									</tr>
								</thead>
								<tbody>
									<% let i = 0; let value; for(value of holidayListData) { i++ %>
										<tr>
											<td><%- i %></td>
											<td><%- value.calendarId %></td>
											<td><%- value.calendarName %></td>
											<td><%- value.campusId %></td>
											<td><%- value.calendarYear %></td>
											<td><%- value.sHolidayDate %></td>
											<td><%- value.holidayReason %></td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
					<!--DASHBOARD CONTENT END-->
				</div>

<%- include("../partials/footer") %>
<!-- WRITE JAVASCRIPT HERE -->
<script>

	function callDatatable() {
		if ($('.call-datatable').length > 0) {
			//CALL DATATABLE

			$('.call-datatable').DataTable({
				autoFill: false,
				//scrollY: 400,
				scrollX: '100%',
				deferRender: true,
				scrollY: true,
				scrollX: true,
				paging: true,
				initComplete: function () {
					this.api().columns().every(function () {
						var column = this;
						var select = $(
								'<select><option value="">-Select-</option></select>'
							)
							.appendTo($(column.footer()).empty())
							.on('change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
									$(this).val()
								);

								column
									.search(val ? '^' + val + '$' : '',
										true, false)
									.draw();
							});

						column.data().unique().sort().each(function (d, j) {
							select.append('<option value="' + d +
								'">' + d + '</option>')
						});
					});
				}
			})
			//CALL DATATABLE END
		}
	}
	callDatatable();
</script>

<%- include("../partials/footerEnd") %>
