<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
                    <!--DASHBOARD CONTENT START-->
                    <div class="card">
                            <div class="card-header">
                                <h1 class="f-20">View/Modify Semester Data</h1>
                            </div>
                            <div class="card-body">
                                <hr/>

                                <div class="table-responsive">
                              <table id="semesterDataTable" class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th scope="col">Program ID</th>
                                      <th scope="col">Semester</th>
                                      <th scope="col">Start Date</th>
                                      <th scope="col">End Date</th>
                                    </tr>
                                  </thead>
                                  <tbody>


                                  </tbody>
                                </table>
                              </div>


                            </div>
                        </div>
                    <!--DASHBOARD CONTENT END-->

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>