<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
                    <!--DASHBOARD CONTENT START-->
                    <div class="card">
                        <div class="card-header">
                            <h1 class="f-20">Program Lists</h1>
                        </div>
                        <div class="card-body">

                            <hr />

                            <div class="row">


                            </div>
                            <div class="table-responsive">
                            <table class="table table-bordered time-table-daywise scroll">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Sr No</th>
                                        <th scope="col">Program ID</th>
                                        <th scope="col">Program Name</th>

                                    </tr>
                                </thead>
                                <tbody>

                                  <% values.forEach((value) => { %>

                                    <tr>
                                        <td class="room-no" room-no="" scope="row"><%- value.id %></td>
                                        <td><%- value.programId %></td>
                                        <td><%- value.programName %></td>

                                    </tr>

                                <% })  %>



                                <tr>
                                    <td class="noResult text-center d-none" colspan="10">
                                    <i class="fas fa-exclamation-circle text-danger fa-4x"></i>
                                    <h5>No Data Found</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>


                        </div>
                    </div>


                    <!--DASHBOARD CONTENT END-->

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>