<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->

    <div class="row my-3 gx-3 gy-3 row1-data">
        <div class="col-xl-2 col-lg-4 col-md-6">
            <a href="/admin/programs/types">
                <div class="card row1-data-card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <img src="/icon_imgs/room-type.PNG" alt="">
                        <p class="fw-normal pt-1">PROGRAM TYPE</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6">
            <a href="/admin/programs/days">
                <div class="card row1-data-card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <img src="/icon_imgs/room-type.PNG" alt="">
                        <p class="fw-normal pt-1">PROGRAM DAY</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6">
            <a href="/admin/programs/sessions">
                <div class="card row1-data-card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <img src="/icon_imgs/room-type.PNG" alt="">
                        <p class="fw-normal pt-1">PROGRAM SESSIONS</p>
                    </div>
                </div>
            </a>
        </div>

    </div>


    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>PROGRAM LIST</h5>
            </div>
        </div>
     
        <div class="card-body table-responsive">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>

            <table class="table custom_row table-bordered" id="programTable">
                <thead>
                    <th>#</th>
                    <th>Program Code</th>
                    <th>Program Name</th>
                    <th>Program Type</th>
                    <th>Abbr</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% let count = 1 %>
                    <%for(let program of programList) {%>
                    <tr>
                        <td><%- count++ %></td>
                        <td><%-program.program_code %></td>
                        <td><%-program.program_name %></td>
                        <td><%-program.program_type %></td>
                        <td><%-program.abbr %></td>
                        <td><a class="edit-program" data-id="<%-program.id %>"><i class="fa fa-edit"></i></a></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:<%- pageCount %>
                    </p>
        </div>
        <div>
            <p id="pagination"></p>
        </div>
    </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Update Program</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="errorHtml"></div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Program Name</label>
                <input type="text" class="form-control" id="program_name" name="program_name">
                <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Faculty Type</label>
                <select class="form-control" name="program_type_lid" id="program_type_lid">
                    <% for(let program of programTypeList) {%>
                    <option value="<%-program.id %>"><%- program.name %></option>
                    <%}%>
                </select>
              </div>

              <div class="mb-3">
                <label for="abbr" class="form-label">Program Abbr</label>
                <input type="text" class="form-control" id="abbr" name="abbr">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary updateProgram">Update</button>
        </div>
      </div>
    </div>
  </div>

<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js">
</script>

<script>
    $(document).ready(function () {

        //Edit 
        $("#programTable").on('click','.edit-program',function(){
            let id = $(this).attr("data-id")
            $.ajax({
                type: "GET",
                url: '/admin/programs/findOne',
                data: {
                    id: id
                },
                success: function (data) {
                    console.log(data.data)
                    $("#hidden_id").val(data.data.id)
                    $("#program_name").val(data.data.program_name)
                    $("#program_type_lid").val(data.data.program_type_lid).trigger('change')
                    $("#abbr").val(data.data.abbr)
                $("#edit-program-modal").modal('show')
                }
            })
        })

        //Create
        $(".updateProgram").on('click', function(){
            console.log('update call')
            let id = $("#hidden_id").val()
            let program_name = $("#program_name").val()
            let program_type_lid = $("#program_type_lid").val()
            let abbr  = $("#abbr").val()
            let JSONArray = []

            let JSONObj = {
                id: id,
                program_name: program_name,
                program_type_lid: program_type_lid,
                abbr: abbr
            }

            JSONArray.push(JSONObj)

            let ApiObj = {
                type: 'PUT',
                url: '/admin/programs',
                data: {
                    inputJSON: JSON.stringify(JSONArray)
                },
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {
                console.log(result)
                showSuccess(result)
               // notify()
            }).catch(error => {
                showError(error.responseJSON)
            })
        })



        // SEARCH PROGRAM TYPE
        $('#searchkeyword').on('input', delay(function (e) {
            let keyword = $("#searchkeyword").val()
            $.ajax({
                type: "GET",
                url: "/admin/programs/search",
                data: {
                    keyword: keyword
                },
                success: function (data) {
                    console.log(data)
                    AjaxtTable(data.data)
                }
            })
        }, 500));



        //Pagination Here
        let pageCount = `<%- pageCount %>`
        console.log("Page Count=====>>>", pageCount)
        let pageNos = Math.ceil(Number(pageCount) / 10)

        console.log("Page Numbers", pageNos)
        $('#pagination').bootpag({
            total: pageNos,
            page: 1,
            maxVisible: 10,
            leaps: true,
            firstLastUse: true,
            first: '←',
            last: '→',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function (event, num) {
            $.ajax({
                type: "POST",
                url: "/admin/programs/pagination",
                data: {
                    pageNo: num
                },
                success: function (data) {
                    AjaxtTable(data.data)
                }
            })
        });


        function AjaxtTable(programTypeList) {
            console.log('programTypeList::::::::::::', programTypeList)
            let AjaxTable = `<table class="table custom_row table-bordered" id="programTable">
                <thead>
                    <th>#</th>
                    <th>Program Code</th>
                    <th>Program Name</th>
                    <th>Program Type</th>
                    <th>Abbr</th>
                </thead>`;
            if (programTypeList.length > 0) {
                let count = 1;
                for (let program of programTypeList) {
                    AjaxTable +=
                        `<tbody>
                        <td>${count++}</td>
                        <td>${program.program_code}</td>
                        <td>${program.program_name}</td>
                        <td>${program.program_type}</td>
                        <td>${program.abbr}</td>`
                }
            } else {
                AjaxTable +=
                    `<tbody>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>`;
            }
            AjaxTable += `</tbody></table>`
            $("#programTable").html(AjaxTable);
        }

        function showError(errors) {
            let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <p>${errors.description}</p>
                    <ul>`
            if (errors.data.length > 0) {
                $(errors.data).each(function (key, value) {
                    $.each(this, function (key, value) {
                        errorHtml +=
                            `<li>${key} ${value}</li>`
                    });
                });
            }
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                $("#errorHtml").html(errorHtml)
        }


        function showSuccess(errors) {
            let errorHtml = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h3>Success</h3>
                    <p>${errors.description}</p>
                    <ul>`
            if (errors.data.length > 0) {
                $(errors.data).each(function (key, value) {
                    $.each(this, function (key, value) {
                        errorHtml +=
                            `<li>${key} ${value}</li>`
                    });
                });
            }
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
            $("#errorHtml").html(errorHtml)
            setTimeout(function(){
                location.reload()
            },2500)
        }


    })
</script>
<%- include("../partials/footerEnd") %>