<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
                <!--Notificaion icon-->
                <!--HEADER END-->
                <div class="col-12 dashboardContent">
                                    <!--DASHBOARD CONTENT START-->

                                    <div class="card">
                                        <div class="card-header text-uppercase">
                                            <h5>Program workload</h5>
                                            
                                        </div>
                                        <div class="card-body">
                                            <form action='/programs/uploadProgram'
                                            method='POST'
                                            encType="multipart/form-data">
                                                <input name="uploadedProgramFile" class="upload-workload cursor-pointer form-control" type="file" />
                                                <p class="mt-2 text-center mb-0">&#42;Choose a File or Drag and Drop</p>
                                                <p class="text-center"><a href="#" class="text-info font-weight-bold"><i class="fas fa-download"></i> Download Excel Template</a></p>
                                                <button class="btn btn-danger m-auto d-block"><i class="fas fa-upload"></i> Upload</button>
                                                <!-- <a href="/courseworkload/upload" class="btn btn-danger m-auto d-block">Upload</a> -->

                                            </form>

                                        </div>
                                    </div>

                                    <!--DASHBOARD CONTENT END-->
                                </div>





                        </div>
                    </div>





                    <!--DASHBOARD CONTENT END-->


                </div>
                <!--RIGHT SIDE BAR FOR MOBILE START-->

                <!--RIGHT SIDE BAR FOR MOBILE END-->
            </div>


        </div>
    </div>

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>
