<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->
<div class="wrapper">
    <div class="main-content">
        <!--DASHBOARD CONTENT START-->
        <div class="card">
            <div class="card-header text-uppercase d-flex align-items-center">
                <h5>Campus List</h5>

                <button class="btn btn-success ms-auto " data-bs-toggle="modal" data-bs-target="#add-campus-modal"><i
                        class="fas fa-plus"></i> Add New</button>
            </div>
            <div class="card-body">
                <input type="text" id="searchkeyword">
                <div class="table-responsive">
                    <table class="table table-bordered" id="campusTable">
                        <thead>
                            <th>Campus Id</th>
                            <th>Abbr</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <% for (let campus of campusList) { %>
                            <tr>
                                <td><%- campus.campus_id %></td>
                                <td><%- campus.abbr %></td>
                                <td><%- campus.name %></td>
                                <td><%- campus.c_desc %></td>
                                <td>
                                    <i class="fas fa-edit text-dark cursor-pointer edit-campus"
                                        data-campus-id="<%- campus.id %>" data-toggle="modal"
                                        data-target="#update-campus-modal"></i>
                                    <a data-campus-id="<%- campus.id %>"
                                        class="fas fa-trash-alt text-danger delete-campus"></a>
                                </td>
                            </tr>

                            <% } %>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        <div>
                            <p>Total entries:<%- pageCount %></p>
                        </div>
                        <div>
                            <p id="pagination"></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--DASHBOARD CONTENT END-->
    </div>
</div>


<!-- ADD NEW CAMPUS MODAL -->
<div class="modal fade" id="add-campus-modal" tabindex="-1" role="dialog" aria-labelledby="add-building-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="add-org-modal-title">Add New Campus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </button>
            </div>
            <!-- <form action="/management/campus/add" method="POST"> -->
            <div class="modal-body">

                <div class="form-row mt-4">
                    <input name="campusId" id="campusId" type="number" class="form-control" placeholder="Campus Id"
                        required>
                    <input type="hidden" id="Id" name="Id">
                </div>

                <div class="form-row mt-4">
                    <input name="campusAbbr" id="campusAbbr" type="text" class="form-control" placeholder="Campus Abbr"
                        required>
                </div>

                <div class="form-row mt-4">
                    <input name="campusName" id="campusName" type="text" class="form-control" placeholder="Campus Name"
                        required>
                </div>

                <div class="form-row mt-4">
                    <input name="campusDesc" id="campusDesc" type="text" class="form-control"
                        placeholder="Campus Description">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger createCampus">Create Campus</button>
                <button type="button" class="btn btn-danger updateCampus d-none">Update Campus</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>




<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
<script>
    //management/campus/add
    $('.createCampus').on('click', function () {
        $.ajax({
            url: '/management/campus/add',
            method: 'POST',
            type: 'JSON',
            data: {
                campusId: $("#campusId").val(),
                campusAbbr: $("#campusAbbr").val(),
                campusName: $("#campusName").val(),
                campusDesc: $("#campusDesc").val()
            },
            success: data => {
                console.log('Success: ', data)
                location.reload()
            },
            error: err => {
                console.log('Error: ', err)
            }
        })
    })


    $('#campusTable').on('click', '.edit-campus', function () {
        $(".updateCampus").removeClass('d-none')
        $(".createCampus").addClass('d-none')
        $.ajax({
            url: '/management/campus/fetch-single',
            method: 'POST',
            type: 'JSON',
            data: {
                id: $(this).attr('data-campus-id')
            },
            success: data => {
                let camp = data.result;
                $("#Id").val(camp.id)
                $("#campusId").val(camp.campus_id)
                $("#campusAbbr").val(camp.campus_abbr)
                $("#campusName").val(camp.campus_name_40_char)
                $("#campusDesc").val(camp.campus_description)
                $("#add-campus-modal").modal('show')
            },
            error: err => {
                console.log('Error: ', err)
            }
        })
    })


    $('.updateCampus').on('click', function () {
        $.ajax({
            url: '/management/campus/update',
            method: 'POST',
            type: 'JSON',
            data: {
                Id: $("#Id").val(),
                campusId: $("#campusId").val(),
                campusAbbr: $("#campusAbbr").val(),
                campusName: $("#campusName").val(),
                campusDesc: $("#campusDesc").val()
            },
            success: data => {
                location.reload()
            },
            error: err => {
                console.log('Error: ', err)
            }
        })
    })



    $('#campusTable').on('click', '.delete-campus', function () {
        $(".updateCampus").removeClass('d-none')
        $(".createCampus").addClass('d-none')
        $.ajax({
            url: '/management/campus/delete-single',
            method: 'POST',
            type: 'JSON',
            data: {
                id: $(this).attr('data-campus-id')
            },
            success: data => {
                location.reload()
            },
            error: err => {
                console.log('Error: ', err)
            }
        })
    })

    //Pagination Here
    let pageCount = `<%- pageCount %>`
    console.log("Page Count=====>>>", pageCount)
    let pageNos = Math.ceil(Number(pageCount) / 10)
    console.log("Page Numbers", pageNos)
    $('#pagination').bootpag({
        total: pageNos,
        page: 1,
        maxVisible: 10,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {

        $.ajax({
            type: "POST",
            url: "/management/campus",
            data: {
                pageNo: num
            },
            success: function (data) {
                let campusList = data.data;
                console.log('campusList:::::::>>', campusList)
                let quoteAjax = `<table class="table table-bordered" id="campusTable">
                    <thead>
                        <th>Campus Id</th>
                        <th>Abbr</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </thead>
                    <tbody>`;
                for (campus of campusList) {
                    quoteAjax +=
                        ` <tr>
                                <td>${campus.campus_id}</td>
                                <td>${campus.abbr}</td>
                                <td>${campus.name}</td>
                                <td>${campus.c_desc}</td>
                                <td>
                                    <i class="fas fa-edit text-dark cursor-pointer edit-campus"
                                        data-campus-id="${campus.id}" data-toggle="modal"
                                        data-target="#update-campus-modal"></i>
                                    <a data-campus-id="${campus.id}"
                                        class="fas fa-trash-alt text-danger delete-campus"></a>
                                </td>
                            </tr>`
                }
                quoteAjax += `<tbody></table>`
                $("#campusTable").html(quoteAjax);
            }
        })
    });


    //search feature delay function is writter in script.js file which is located in public/js/script.js
    $('#searchkeyword').on('input', delay(function (e) {
        let keyword = $("#searchkeyword").val()
        $.ajax({
            type: "POST",
            url: "/management/campus-search",
            data: {
                keyword: keyword
            },
            success: function (data) {
                console.log('campusList::::::', data)
                let campusList = data.data;

                let quoteAjax = `<table class="table table-bordered" id="campusTable">
                    <thead>
                        <th>Campus Id</th>
                        <th>Abbr</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </thead>
                    <tbody>`;

                if (campusList.length > 0) {
                    for (campus of campusList) {
                        quoteAjax +=
                            ` <tr>
                                <td>${campus.campus_id}</td>
                                <td>${campus.abbr}</td>
                                <td>${campus.name}</td>
                                <td>${campus.c_desc}</td>
                                <td>
                                    <i class="fas fa-edit text-dark cursor-pointer edit-campus"
                                        data-campus-id="${campus.id}" data-toggle="modal"
                                        data-target="#update-campus-modal"></i>
                                    <a data-campus-id="${campus.id}"
                                        class="fas fa-trash-alt text-danger delete-campus"></a>
                                </td>
                            </tr>`;
                    }
                } else {
                    quoteAjax +=
                        ` <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>`;
                }


                quoteAjax += `<tbody></table>`
                $("#campusTable").html(quoteAjax);
            }
        })
    }, 500));
</script>
<%- include("../partials/footerEnd") %>