<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->

    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Time Table Simulation</h5>
            </div>
        </div>

        <div class="card-body">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar">
            </div>
            <div class="table-responsive">
                <table id="" class="table table-bordered time-table-simulation" style="width: 100%">
                    <!-- <thead> -->
                        <tr>
                            <th scope="col" style="width: 4%;">Room No</th>
                            
                            <th style="width: 11%;">07:30 AM to 08:30 AM</th>
                            
                            <th style="width: 11%;">08:30 AM to 09:30 AM</th>
                            
                            <th style="width: 11%;">10:00 AM to 11:00 AM</th>
                            
                            <th style="width: 11%;">11:00 AM to 12:00 PM</th>
                            
                            <th style="width: 11%;">12:30 PM to 01:30 PM</th>
                            
                            <th style="width: 11%;">01:30 PM to 02:30 PM</th>
                            
                            <th style="width: 11%;">03:00 PM to 04:00 PM</th>
                            
                            <th style="width: 11%;">04:00 PM to 05:00 PM</th>
                            
                            <th style="width: 11%;">05:00 PM to 06:00 PM</th>
                            
                            <th>06:00 PM to 07:00 PM</th>
                            
                            <th>07:00 PM to 08:00 PM</th>
                            
                            <th>08:00 PM to 09:00 PM</th>
                        </tr>
                    <!-- </thead> -->
                    <tbody>
                        <tr>
                            <td>201</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js">
</script>

<script>
    $(document).ready(function () {



    })
</script>
<%- include("../partials/footerEnd") %>