<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->
    <div class="breadcrumbs-container">
    
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>

    <%- include("../partials/timetablesimulation-menu") %>

    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Time Table Allocation</h5>
            </div>
        </div>

        <div class="card-body">
           
            <div class="table-responsive">
            <button class="btn btn-primary">Generate Time Table</button>
            <button class="btn btn-danger">Clear Sheet</button>
            </div>
        </div>
    </div>


</div>

<%- include("../partials/footer") %>

</script>

<script>
    $(document).ready(function () {



    })
</script>
<%- include("../partials/footerEnd") %>