<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
    <!--DASHBOARD CONTENT START-->
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h1 class="f-20">Building Data</h1>
        </div>
        <div class="card-body">
            <form action='/roomdata/addBuildingDataForm' method='POST'>
            <div class="row">
                    <input type="hidden" id="id" value="<%- buildingData.id %>">
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Building Name: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' id="buildingName" name="buildingName" value="<%- buildingData.building_name %>"/>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Building Number: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' id="buildingNumber" name="buildingNumber" value="<%- buildingData.building_number %>"/>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Total Floors: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' type="number" id="totalFloors" name="totalFloors" value="<%- buildingData.total_floors %>"/>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Owner ID: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' id="ownerId" name="ownerId" value="<%- buildingData.owner_id %>"/>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Handled By: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' id="handledBy" name="handledBy" value="<%- buildingData.handled_by %>"/>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Start Time: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' type="time" id="startTime" name="startTime" value="<%- buildingData.start_time %>">
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">End Time: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' type="time" id="endTime" name="endTime" value="<%- buildingData.end_time %>">
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Campus: <span class="text-danger">*</span></label>
                    <select id="campusId" class="form-control">
                        <option selected disabled>--Select Campus--</option>
                    </select>
                </div>
                <div class="col-12 text-center">
                    <button id="addBuildingData" class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>

    <!--DASHBOARD CONTENT END-->

   <%- include("../partials/footer") %>
    <script>
        $('#startDate').on('change', function(){
            console.log($('#startDate').val());
        })
    </script>
    <%- include("../partials/footerEnd") %>