<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
                    <!--DASHBOARD CONTENT START-->
                    <div class="card">
                        <div class="card-header">
                            <h1 class="f-20">Room Allocation Chart</h1>
                        </div>
                        <div class="card-body">
                          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                              <li class="nav-item table-tab">
                                  <a class="nav-link active" id="tab-monday" data-toggle="pill" href="#" aria-controls="pills-home" valueAttr="monday" aria-selected="true">Monday</a>
                              </li>
                              <li class="nav-item table-tab">
                                  <a class="nav-link" id="tab-tuesday" data-toggle="pill" href="#" aria-controls="pills-profile" valueAttr="tuesday" aria-selected="false">Tuesday</a>
                              </li>
                              <li class="nav-item table-tab">
                                  <a class="nav-link" id="tab-wednesday" data-toggle="pill" href="#" aria-controls="pills-contact" valueAttr="wednesday" aria-selected="false">Wednesday</a>
                              </li>
                              <li class="nav-item table-tab">
                                  <a class="nav-link" id="tab-thrusday" data-toggle="pill" href="#" aria-controls="pills-contact" valueAttr="thrusday" aria-selected="false">Thursday</a>
                              </li>
                              <li class="nav-item table-tab">
                                  <a class="nav-link" id="tab-friday" data-toggle="pill" href="#" aria-controls="pills-contact" valueAttr="friday" aria-selected="false">Friday</a>
                              </li>
                              <li class="nav-item table-tab">
                                  <a class="nav-link" id="tab-saturday" data-toggle="pill" href="#" aria-controls="pills-contact" valueAttr="saturday" aria-selected="false">Saturday</a>
                              </li>
                          </ul>
                            <hr />

                            <div class="row">
                                <div class="col-4">
                                    <input class="search-room mb-3" type="search" placeholder="Search Room">
                                </div>

                                <div class="col-4">


                                    <select class="programPicker" data-style="btn-info" name="programPicker">
                                        <optgroup label="Select Table">
                                            <option value="">Select Program</option>
                                            <% programs.forEach(function(program){ %>
                                            <option value="<%- program.programName %>"><%- program.programName %></option>
                                            <% }) %>
                                        </optgroup>
                                    </select>
                                    <input id="programSelected" type="submit" value="Submit" />

                              </div>

                                <div class="col-4 fullscreen mb-3">
                                  <a href="/roomdata/downloadroomtimesheet" class="btn btn-info" role="button">Download Sheet</a>
                                    <button class="btn btn-sm btn-outline-dark btn-fullscreen" data-toggle="modal" data-target="#full-screen-modal"><i class="fas fa-compress"></i></button>
                                    <button class="btn btn-sm btn-outline-dark" type="button" href="/roomdata/downloadroomtimesheet"><i class="fas fa-download"></i></button>


                                </div>
                            </div>

                            <table class="table table-responsive table-bordered time-table-daywise scroll">
                                <thead class="thead-dark">
                                    <tr>
                                      <th scope="col">Room No</th>
                                      <th scope="col">7:30 AM to 8:30 AM</th>
                                      <th scope="col">8:30 AM to 9:30 AM</th>
                                      <th scope="col">9:30 AM to 10:30 AM</th>
                                      <th scope="col">11:00 AM to 12:00 Noon</th>
                                      <th scope="col">12:30 PM to 01:30 PM</th>
                                      <th scope="col">01:30 PM to 02:30 PM</th>
                                      <th scope="col">03:00 PM to 04:00 PM</th>
                                      <th scope="col">04:00 PM to 05:00 PM</th>
                                      <th scope="col">05:00 PM to 06:00 PM</th>
                                    </tr>
                                </thead>
                                <tbody>

                                  <% values.forEach((value) => { %>

                                    <tr>
                                        <td class="room-no" room-no="" scope="row"><%- value.roomno %></td>
                                        <td><%- value.slot1 %></td>
                                        <td><%- value.slot2 %></td>
                                        <td><%- value.slot3 %></td>
                                        <td><%- value.slot4 %></td>
                                        <td><%- value.slot5 %></td>
                                        <td><%- value.slot6 %></td>
                                        <td><%- value.slot7 %></td>
                                        <td><%- value.slot8 %></td>
                                        <td><%- value.slot9 %></td>
                                    </tr>

                                <% })  %>



                                <tr>
                                    <td class="noResult text-center d-none" colspan="10">
                                    <i class="fas fa-exclamation-circle text-danger fa-4x"></i>
                                    <h5>No Data Found</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>

                    <%- include("../partials/fullscreen-timetable") %>
                    <!--DASHBOARD CONTENT END-->

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>