<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
    <!--DASHBOARD CONTENT START-->
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h1 class="f-20">Room Booking</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Building: <span class="text-danger">*</span></label>
                    <select id="building" class="form-control">
                        <option selected disabled>--Select Building--</option>
                        <% for(value of buildingList) { %>
                            <option value="<%- value.building_name %>"><%- value.building_name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Room Number: <span class="text-danger">*</span></label>
                    <select id="roono" class="form-control">
                        <option selected disabled>--Select Room--</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Type: <span class="text-danger">*</span></label>
                    <select id="transactionType" class="form-control">
                        <option selected disabled>--Select Type--</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Start Date: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' type="datetime-local" id="startDate" name="startDate">
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">End Date: <span class="text-danger">*</span></label>
                    <input class='text-center form-control' type="datetime-local" id="endDate" name="endDate">
                </div>
                <div class="col-12 text-center">
                    <button id="bookRoomSlot" class="btn btn-success">Book Room Slot</button>
                </div>
            </div>
        </div>
    </div>

    <!--DASHBOARD CONTENT END-->

   <%- include("../partials/footer") %>
    <script>
        $('#startDate').on('change', function(){
            console.log($('#startDate').val());
        })
    </script>
    <%- include("../partials/footerEnd") %>