<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
                <!--Notificaion icon-->
                <!--HEADER END-->
                <div class="col-12 dashboardContent">
                                    <!--DASHBOARD CONTENT START-->

                                    <div class="card">
                                        <div class="card-header text-uppercase">
                                            <h5>Simulated Faculty Work Status</h5>
                                        </div>
                                        <div class="card-body">
											<a href="/roomdata/downloadSimulatedFacultyWork" class="btn btn-outline-dark"><i class="fas fa-download text-success"></i> Download Excel</a>
											<table class="table call-datatable">
												<thead>
													<tr>
														<th>Day</th>
														<th>Room No</th>
														<th>Slot</th>
														<th>Program</th>
														<th>Acad Session</th>
														<th>Division</th>
														<th>Event Name</th>
														<th>Faculty</th>
													</tr>
												</thead>
												<tbody>
													<% let status; for(status of facultyWorkStatus) { %>
													<tr>
														<td><%- status.dayName %></td>
														<td><%- status.roomno %></td>														
														<td><%- status.slotTime %></td>														
														<td><%- status.programName %></td>														
														<td><%- status.bookedAcadSession %></td>														
														<td><%- status.bookedDiv %></td>														
														<td><%- status.eventName %></td>														
														<td><%- status.facultyName %></td>														
													</tr>
													<% } %>
												</tbody>
											</table>
                                        </div>
                                    </div>

                                    <!--DASHBOARD CONTENT END-->
                                </div>

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>
