<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->
<div class="col-12 dashboardContent">
    <!--DASHBOARD CONTENT START-->
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5>Building DATA</h5>
            <div><button id="addBuildingData" class="btn btn-danger text-white"><i class="fas fa-plus"></i> Add</button></div>
        </div>
        <div class="col-12 table-responsive mt-3 mb-3">
            <table id="roomDataTable" class="table table-bordered table-striped call-datatable">
                <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Building Name</th>
                        <th scope="col">Building Number</th>
                        <th scope="col">Total Floors</th>
                        <th scope="col">Owner ID</th>
                        <th scope="col">Handled By</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Campus</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i = 0; let value; for(value of buildingData) { i++ %>
                        <tr>
                            <td><%- i %></td>
                            <td><%- value.building_name %></td>
                            <td><%- value.building_number %></td>
                            <td><%- value.total_floors %></td>
                            <td><%- value.owner_id %></td>
                            <td><%- value.handled_by %></td>
                            <td><%- value.start_time %></td>
                            <td><%- value.end_time %></td>
                            <td><%- value.campus_id %></td>
                            <td><a href="#"><i id="buildingData<%- i %>" class="fas fa-edit editBuildingData" data-id="<%- value.id %>" data-buildingName="<%- value.building_name %>" data-buildingNumber="<%- value.building_number %>" data-totalFloors="<%- value.total_floors %>" data-ownerId="<%- value.owner_id %>" data-handledBy="<%- value.handled_by %>" data-startTime="<%- value.start_time %>" data-endTime="<%- value.end_time %>" data-campusId="<%- value.campus_id %>"></i></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="addBuildingDataModal" role="dialog" aria-labelledby="addBuildingDataModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h5 class="modal-title text-white" id="addBuildingDataTitle">Add New Building</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- <form action='/roomdata/addBuildingData' method='POST'> -->
                <div class="row">
                    <!-- <div  class="col-sm-12 "><p class="alert-text"></p></div> -->
                    <input type="hidden" id="buildingId" value="<%- buildingData.id %>">
                    <div class="col-sm-6 mb-3">
                        <label class="font-weight-bold">Building Name: <span class="text-danger">*</span></label>
                        <input class='text-center form-control' id="buildingName" name="buildingName" value="<%- buildingData.building_name %>"/>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="font-weight-bold">Building Number: <span class="text-danger">*</span></label>
                        <input class='text-center form-control' id="buildingNumber" name="buildingNumber" value="<%- buildingData.building_number %>"/>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="font-weight-bold">Total Floors: <span class="text-danger">*</span></label>
                        <input class='text-center form-control' type="number" id="totalFloors" name="totalFloors" value="<%- buildingData.total_floors %>"/>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="font-weight-bold">Owner ID: <span class="text-danger">*</span></label>
                        <input class='text-center form-control' id="ownerId" name="ownerId" value="<%- buildingData.owner_id %>"/>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="font-weight-bold">Handled By: <span class="text-danger">*</span></label>
                        <input class='text-center form-control' id="handledBy" name="handledBy" value="<%- buildingData.handled_by %>"/>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label class="font-weight-bold">Start Time: <span class="text-danger">*</span></label>
                        <input class='text-center form-control' type="time" id="startTime" name="startTime" value="<%- buildingData.start_time %>">
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label class="font-weight-bold">End Time: <span class="text-danger">*</span></label>
                        <input class='text-center form-control' type="time" id="endTime" name="endTime" value="<%- buildingData.end_time %>">
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label class="font-weight-bold">Campus: <span class="text-danger">*</span></label>
                        <select id="campusId" class="form-control">
                            <option selected disabled>--Select Campus--</option>
                        </select>
                    </div>
                    <div class="col-12 text-center">
                        <button id="addBuildingDataSubmit" class="btn btn-success" type="submit">Submit</button>
                    </div>
                </div>
            <!-- </form> -->
        </div>
      </div>
    </div>
    </div>
    <!--DASHBOARD CONTENT END-->
</div>
</div>
</div>
<!--DASHBOARD CONTENT END-->
</div>
<!--RIGHT SIDE BAR FOR MOBILE START-->
<!--RIGHT SIDE BAR FOR MOBILE END-->
</div>
</div>
</div>

<%- include("../partials/footer") %>
<script>
    function callDatatable() {
        if ($('.call-datatable').length > 0) {
            //CALL DATATABLE

            $('.call-datatable').DataTable({
                autoFill: false,
                //scrollY: 400,
                scrollX: '100%',
                deferRender: true,
                scrollY: true,
                scrollX: true,
                paging: true,
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $(
                                '<select><option value="">-Select-</option></select>'
                            )
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '',
                                        true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d +
                                '">' + d + '</option>')
                        });
                    });
                }
            })
            //CALL DATATABLE END
        }
    }
    callDatatable();
    $('#addBuildingDataModal').on('hidden.bs.modal', function (e) {
        $('#addBuildingDataTitle').html("Add New Building");
        $("#buildingName").val("");
        $("#buildingNumber").val("");
        $("#totalFloors").val("");
        $("#ownerId").val("");
        $("#handledBy").val("");
        $("#startTime").val("");
        $("#endTime").val("");
        $("#campusId").val("");
        window.location.reload();
    })
    $('#addBuildingData').on('click', function(){
        console.log("show");
        $('#addBuildingDataModal').modal('show');
        $('#addBuildingDataTitle').html("Add New Building");
        $("#buildingName").val("");
        $("#buildingNumber").val("");
        $("#totalFloors").val("");
        $("#ownerId").val("");
        $("#handledBy").val("");
        $("#startTime").val("");
        $("#endTime").val("");
        $("#campusId").val("");
        getCampusList("");
    });
    $('.editBuildingData').on('click', function(){
        let modalId = $(this).attr("id");
        $('#addBuildingDataModal').modal('show');
        $('#addBuildingDataTitle').html("Edit Building Data");
        $("#buildingId").val($("#"+modalId).attr("data-id"))
        $("#buildingName").val($("#"+modalId).attr("data-buildingName"));
        $("#buildingNumber").val($("#"+modalId).attr("data-buildingNumber"));
        $("#totalFloors").val($("#"+modalId).attr("data-totalFloors"));
        $("#ownerId").val($("#"+modalId).attr("data-ownerId"));
        $("#handledBy").val($("#"+modalId).attr("data-handledBy"));
        $("#startTime").val($("#"+modalId).attr("data-startTime"));
        $("#endTime").val($("#"+modalId).attr("data-endTime"));
        let campusId = $("#"+modalId).attr("data-campusId");
        getCampusList(campusId);
    });
    $('#addBuildingDataSubmit').on('click', function(){
        let buildingName = $("#buildingName").val();
        let buildingNumber = $("#buildingNumber").val();
        let totalFloors = $("#totalFloors").val();
        let ownerId = $("#ownerId").val();
        let handledBy = $("#handledBy").val();
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        let campusId = $('#campusId').val();
        let id = $('#buildingId').val();
        $.ajax({
        type: "POST",
        url: "/roomdata/addBuildingData",
        dataType: "JSON",
        data: {
            buildingName: buildingName,
            buildingNumber: buildingNumber,
            totalFloors: totalFloors,
            ownerId: ownerId,
            handledBy: handledBy,
            startTime: startTime,
            endTime: endTime,
            campusId: campusId,
            id: id
        },
        success: function (data) {
          if (data.cause == "permission denied") {
                window.location = data.reqUrl
                return
            }
            if(data.data == "Added"){
                // alert("Building Added Successfully.");
                $(".alertBody").removeClass('d-none').find(".alert-text").html("Building Data Added Successfully.");
                window.location.reload();
            }
            if(data.data == "Not Added"){
                $(".alertBody").removeClass('d-none').find(".alert-text").html("Same building and building number already added or something went wrong while adding building.");
            }
            if(data.data == "Updated"){
                $(".alertBody").removeClass('d-none').find(".alert-text").html("Building Data Updated Successfully.");
            }
            if(data.data == "Not Updated"){
                $(".alertBody").removeClass('d-none').find(".alert-text").html("Something went wrong while updating building data.");
            }
        }
      });
    });
    
    function getCampusList(campusId) {
        console.log(campusId)
    $.ajax({
            url: "/roomdata/getCampusList",
            type: "POST",
            data:{},
            success: data => {
                let campusOptions ="";
                if(campusId==""){
                    campusOptions += `<option selected disabled value="">--Select Campus--</option>`;
                }
                if(campusId==0){
                    campusOptions += `<option selected disabled value="">--Select Campus--</option>`;
                }
                for(let campus of data.campusList){
                    if(campusId == campus.campus_id){
                        campusOptions += `<option selected value="${campus.campus_id}">${campus.campus_abbr}</option>`;
                    }else{
                        campusOptions += `<option value="${campus.campus_id}">${campus.campus_abbr}</option>`;
                    }
                }
                $('#campusId').html(campusOptions);
            },
            error: error => {
                console.log("Error: ", error)
            }
        })
    }
</script>
<%- include("../partials/footerEnd") %>