<%- include("../partials/head") %>
<!-- Page Level Style Sheet Start -->
<link href='/css/calendar/main.css' rel='stylesheet' />
<!-- Page Leve; Style Sheet End -->
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
  <!--DASHBOARD CONTENT START-->
  <div class="card table-card">
    <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
      <div>
        <h5>Time Sheet for Whole Semester</h5>
      </div>
      <div>
        <!-- <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal"
                    data-bs-target="#add-sessiondate-modal">
                    <i class="fas fa-plus"></i></button>
                <button class="btn ms-auto select-delete-sessiondate add-btn "><i class="fas fa-trash"></i></button>
                <button class="btn ms-auto bulk-delete-sessiondate add-btn "><img src="/icons/delete.png" alt=""
                        width="26px" height="32px"></button> -->
      </div>
    </div>

    <div class="card-body table-responsive">
      <div id='calendar'></div>
    </div>
  </div>

</div>
<%- include("../partials/footer") %>
<script src='/js/calendar/main.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        right: 'prev,next today',
        left: 'title',
        //right: 'dayGridMonth'
      },
      initialDate: `<%- acadmicYear.start_date %>`, //'2022-04-19',// calender start date
      editable: false,
      selectable: true,
      selectMirror: false,
      select: function (arg) {
       alert('Onclick  open modal Here'+ arg.url)
 
        // if (title) {
        //   calendar.addEvent({
        //     title: title,
        //     start: arg.start,
        //     end: arg.end,
        //     allDay: arg.allDay
        //   })
        // }
        // calendar.unselect()
        console.log(arg.url)
      },
      eventClick: function (arg) {
        alert('Event Click')
        //console.log(arg.id)
      },
      navLinks: false, // can click day/week names to navigate views
      dayMaxEvents: true, // allow "more" link when too many events
      events: [{
    "id": "628",
    "date_str": "2022-04-19",
    "start": "2022-04-19",
    "day": 19,
    "title": "Saturday",
    "week": 8,
    "iso_week": 7,
    "day_of_week": 7,
    "month": 2,
    "month_name": "February",
    "quarter": 1,
    "year": 2022,
    "day_of_year": 50,
    "url":"testurl"
  }
      ],
      // events: {
      //         url: '/admin/time-table-generation/getacademicalenderevnt',
      //         failure: function() {
      //           document.getElementById('script-warning').style.display = 'block'
      //         }
      //       },
    });
    calendar.render();
  });
</script>