<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->
<div class="wrapper">
    <div class="main-content">
    <!--DASHBOARD CONTENT START-->
               <div class="row my-3 gx-1 gy-3 row1-data">

                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/room/roomtype"><img src="/icon_imgs/academic year.PNG" alt="">
                                    <p class="fw-normal pt-1">ROOM TYPE</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/organization"><img src="/icon_imgs/organization.png" alt="">
                                    <p class="fw-normal pt-1">ORGANIZATION MASTER</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/campus"><img src="/icon_imgs/campus.png"
                                        alt="">
                                    <p class="fw-normal pt-1">CAMPUS MASTER</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center ">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/building"><img src="/icon_imgs/building.png" alt="">
                                    <p class="fw-normal pt-1">BUILDING MASTER</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/room"><img src="/icon_imgs/Room.png" alt="">
                                    <p class="fw-normal pt-1">ROOM MASTER</p>
                                </a></div>
                        </div>
                    </div>
                  

                </div>
    <!--DASHBOARD CONTENT END-->
</div>
</div>
<%- include("../partials/footer") %>
<script>


</script>
<%- include("../partials/footerEnd") %>