<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->

    <div class="row my-3 gx-3 gy-3 row1-data">

        <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex align-items-center justify-content-center"><a
                        href="/management/room/roomtype"><img src="/icon_imgs/room-type.PNG" alt="">
                        <p class="fw-normal pt-1">ROOM TYPE</p>
                    </a></div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex align-items-center justify-content-center"><a
                        href="/management/room/rtstage"><img src="/icon_imgs/transaction.png" alt="">
                        <p class="fw-normal pt-1">ROOM TRANSACTION STAGE</p>
                    </a></div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex align-items-center justify-content-center"><a
                        href="/management/room/rtypes"><img src="/icon_imgs/transaction-type.png" alt="">
                        <p class="fw-normal pt-1">ROOM TRANSACTION TYPE</p>
                    </a></div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex align-items-center justify-content-center"><a
                        href="/management/room/transaction"><img src="/icon_imgs/room-transaction.png" alt="">
                        <p class="fw-normal pt-1">ROOM TRANSACTION</p>
                    </a></div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex align-items-center justify-content-center"><a
                        href="/management/room/slots"><img src="/icon_imgs/campus.png" alt="">
                        <p class="fw-normal pt-1">ROOM SLOTS</p>
                    </a></div>
            </div>
        </div>


        <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex align-items-center justify-content-center"><a
                        href="/management/room/bookingrejectionreasons"><img src="/icon_imgs/campus.png" alt="">
                        <p class="fw-normal pt-1">ROOM BOOKING REJECTION REASONS</p>
                    </a></div>
            </div>
        </div> 

    </div>

    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center">
            <h5>ROOM DATA</h5>
            <button class="btn add-btn ms-auto" data-bs-toggle="modal" data-bs-target="#add-room-modal"><i
                    class="fas fa-plus"></i></button>
        </div>
        <div class="card-body table-responsive">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i>
                </button><input type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar">
            </div>

            <table class="table custom_row" id="roomTable">
                <thead>
                    <th>Room No</th>
                    <th>Building</th>
                    <th>Type</th>
                    <th>Floor</th>
                    <th>Capacity</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Is Basement</th>
                    <th>Handled By</th>
                    <!-- <th>Campus</th> -->
                    <th>Is Processed</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% for (let room of roomList) { %>
                    <tr>
                        <td><%- room.room_number %></td>
                        <td><%- room.building_name %></td>
                        <td><%- room.room_type %></td>
                        <td><%- room.floor_number %></td>
                        <td><%- room.capacity %></td>
                        <td><%- room.start_time %></td>
                        <td><%- room.end_time %></td>
                        <td><%- room.is_basement ? 'Yes' : 'No' %></td>
                        <td><%- room.handled_by %></td>
                        <!-- <td><%- room.campus %></td> -->
                        <td><%- room.is_processed ? 'Yes' : 'No' %></td>
                        <td>
                            <i class="fas fa-edit text-dark cursor-pointer edit-room"
                                data-room-id="<%- room.roomid %>"></i>
                            <a data-room-id="<%- room.roomid %>" class="fas fa-trash-alt text-danger delete-room"></a>
                        </td>
                    </tr>

                    <% } %>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- ADD NEW ROOM MODAL-->

<div class="modal fade" id="add-room-modal" aria-labelledby="add-room-modal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content modal-inputform">
            <div class="modal-header modal-inputform-header">
                <h5 class="modal-title" id="add-room-modal-title">Add New Room</h5>
                <button type="button" class="btn fs-4 text-white" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="roomId" name="roomId">


                <div class="row mt-4 ">
                    <div class="col-md-4">
                        <label>Campus</label>
                        <select class="form-select modalSelect2" name="campusId" id="campus" required>
                            <option disabled selected value>--Select Campus--</option>
                            <% for(let campus of campusList) { %>
                            <option value="<%- campus.id %>">
                                <%- campus.campus_abbr %>
                            </option>
                            <% } %>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label>Building</label>
                        <select class="form-select modalSelect2" name="buildingId" id="buildingName" required>
                            <option disabled selected value>--Select Building--</option>
                            <% for(let building of buildingList) { %>
                            <option value="<%- building.building_id %>">
                                <%- building.building_name %>
                            </option>
                            <% } %>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label>Handled By</label>
                        <select class="form-select modalSelect2" name="handledBy" id="handledBy" required>
                            <option disabled selected value>--Select Organization--</option>
                            <% for(let org of orgList) { %>
                            <option value="<%- org.id %>">
                                <%- org.org_abbr %>/<%- org.org_id %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <hr class="mb-5" />

                <div class="error">

                </div>

                <div class="table-responsive">
                    <table class="table table-bordered" id="add-room-table">
                        <thead>
                            <th>Room No</th>
                            <th>Room Type</th>
                            <th>Floor</th>
                            <th>Capacity</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Is Basement</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="roomNo" id="update-roomNo" class="form-control" required>
                                </td>
                                <td>
                                    <select class="form-select modalSelect2" name="roomType" id="roomType" required>
                                        <option disabled selected value>--Room Type--</option>
                                        <% for(let roomType of roomTypeList) { %>
                                        <option value="<%- roomType.roomtypeid %>">
                                            <%- roomType.name %>
                                        </option>
                                        <% } %>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" name="floorNo" id="floorNo" class="form-control"
                                        style="width: 70px;" required>
                                </td>
                                <td>
                                    <input type="number" name="capacity" id="capacity" class="form-control"
                                        style="width: 70px;" required>
                                </td>
                                <td>
                                    <select class="form-select modalSelect2" name="startTime" id="startTime" required>
                                        <option disabled selected value>--Start Time--</option>
                                        <% for(let time of timeList) { %>
                                        <option value="<%- time.id %>">
                                            <%- time.start_time %>
                                        </option>
                                        <% } %>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select modalSelect2" name="endTime" id="endTime" required>
                                        <option disabled selected value>--End Time--</option>
                                        <% for(let time of timeList) { %>
                                        <option value="<%- time.id %>">
                                            <%- time.end_time %>
                                        </option>
                                        <% } %>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select modalSelect2" name="isBasement" id="isBasement"
                                        style="width: 70px;" required>
                                        <option selected value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </td>
                                <td>

                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove"></i>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button> -->
                <button type="button" class="btn btn-success  btn-sm" id="add-room"><i class="fas fa-plus"></i> Add
                    More Room</button>
                <button type="button" class="btn  modal-inputform-btn" id="insertRoom">Submit</button>
                <button type="button" class="btn  modal-inputform-btn updateRoom d-none">Update Room Data</button>
            </div>




        </div>
    </div>
</div>





<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>

<script>
    $(document).ready(function () {

        $('#searchkeyword').on('input', delay(function (e) {
            let keyword = $("#searchkeyword").val()
            $.ajax({
                type: "GET",
                url: "/management/room/search",
                data: {
                    keyword: keyword
                },
                success: function (data) {
                    console.log('roomList::::::', data)
                    let roomList = data.data;

                    let quoteAjax = `<table class="table table-bordered" id="roomTable">
                    <thead>
                                <th>Room No</th>
                                <th>Building</th>
                                <th>Type</th>
                                <th>Floor</th>
                                <th>Capacity</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Is Basement</th>
                                <th>Handled By</th>
                                <th>Campus</th>
                                <th>Is Processed</th>
                                <th>Action</th>
                    </thead>
                    <tbody>`;

                    if (roomList.length > 0) {
                        for (room of roomList) {
                            quoteAjax +=
                                ` <tr>
                                <td>${room.room_number}</td>
                                <td>${room.building_name}</td>
                                <td>${room.room_type}</td>
                                <td>${room.floor_number}</td>
                                <td>${room.capacity}</td>
                                <td>${room.start_time}</td>
                                <td>${room.end_time}</td>
                                <td>${room.is_basement}</td>
                                <td>${room.handled_by}</td>
                                <td>${room.campus}</td>
                                <td>${room.is_processed ? 'Yes' : 'No'}</td>
                               <td>
                                    <i class="fas fa-edit text-dark cursor-pointer edit-room"
                                        data-room-id="${room.id}"></i>
                                    <a data-room-id="${room.id}"
                                        class="fas fa-trash-alt text-danger delete-room"></a>
                                </td>
                            </tr>`;
                        }
                    } else {
                        quoteAjax +=
                            ` <tr>
                                <td colspan="12">No Data Found</td>
                            </tr>`;
                    }


                    quoteAjax += `<tbody></table>`
                    $("#roomTable").html(quoteAjax);
                },

            })
        }, 500));



        $('#add-room').on('click', function () {
            console.log("Room Added::::")

            let lastTr = $('#add-room-table tbody tr:last-child')
            // lastTr.find('.modalSelect2').select('destroy');


            let lastRoomType = lastTr.find(`select[name='roomType']`).val();
            let lastStartTime = lastTr.find(`select[name='startTime']`).val();
            let lastEndTime = lastTr.find(`select[name='endTime']`).val();
            let lastIsbasement = lastTr.find(`select[name='isBasement']`).val();

            let clonedTr = lastTr.clone();
            clonedTr.find(`input[name='roomNo']`).val('')
            clonedTr.find(`select[name='roomType']`).val(lastRoomType).trigger('change');
            clonedTr.find(`select[name='startTime']`).val(lastStartTime).trigger('change');
            clonedTr.find(`select[name='endTime']`).val(lastEndTime).trigger('change');
            clonedTr.find(`select[name='isBasement']`).val(lastIsbasement).trigger(
                'change');

            $('#add-room-table tbody').append(clonedTr)

            lastTr.find('.modalSelect2').select({
                dropdownParent: $('#add-room-modal')
            });

            clonedTr.find('.modalSelect2').select({
                dropdownParent: $('#add-room-modal')
            });
        })


        $('#add-room-modal').on('click', '.remove', function () {
            let trLength = $('#add-room-table tbody tr').length;

            if (trLength > 1) {
                $(this).closest('tr').remove()
            } else {
                alert('Cannot delete this room.')
            }
        })


        // Fetch Single Room
        $('#roomTable').on('click', '.edit-room', function () {
            $("#add-room-modal-title").html('Update Room')
            $("#insertRoom").addClass('d-none')
            $("#add-room").addClass('d-none')
            $(".updateRoom").removeClass('d-none')

            $.ajax({
                url: '/management/room/single',
                method: 'GET',
                type: 'JSON',
                data: {
                    id: $(this).attr('data-room-id')
                },
                success: data => {

                    let roomData = data.roomData;
                    console.log('success: ', roomData)
                    $("#roomId").val(roomData.roomid)
                    $("#update-roomNo").val(roomData.room_number)
                    $("#buildingName").val(roomData.buildingid).trigger('change'),
                        $("#campus").val(roomData.id).trigger('change'),
                        $("#roomType").val(roomData.roomtypeId)
                    $("#floorNo").val(roomData.floor_number)
                    $("#capacity").val(roomData.capacity)
                    $("#startTime").val(roomData.start_time)
                    $("#endTime").val(roomData.end_time)
                    $("#handledBy").val(roomData.orgid)
                    $("#add-room-modal").modal('show')
                },
                error: err => {
                    console.log('Error: ', err)
                }
            })
        })

        // Update Room
        $(".updateRoom").on('click', function () {
            $.ajax({
                url: '/management/room',
                method: 'PUT',
                type: 'JSON',
                data: {
                    roomid: $("#roomId").val(),
                    room_number: $('#update-roomNo').val(),
                    buildingid: $('#buildingName').val(),
                    roomtypeId: $('#roomType').val(),
                    floor_number: $('#floorNo').val(),
                    capacity: $('#capacity').val(),
                    start_time: $('#startTime').val(),
                    end_time: $('#endTime').val(),
                    is_basement: $('#isBasement').val(),
                    orgid: $("#handledBy").val()

                },
                success: data => {
                    location.reload()
                },
                error: err => {
                    console.log(err)
                    let error = err.responseJSON.errors
                    let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
                    error.map(er => {
                        console.log(er.msg)
                        errorHtml +=
                            `<li>${er.msg}</li>`
                    })
                    errorHtml +=
                        `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                    $("#errorHtml").html(errorHtml)
                }
            })
        })

        // Deleting Room
        $('#roomTable').on('click', '.delete-room', function () {
            console.log('deletehit:::::')
            $.ajax({
                url: '/management/room',
                method: 'DELETE',
                type: 'JSON',
                data: {
                    roomId: $(this).attr('data-room-id')
                },
                success: data => {
                    location.reload()
                },
                error: err => {
                    console.log('Error: ', err)
                }
            })
        })


        // INSERTING NEW ROOM DATA
        $('#insertRoom').on('click', function () {
            let roomElems = $('#add-room-table tbody tr');
            let roomCount = roomElems.length;

            // console.log('roomCount===>> ', roomCount)

            let roomJson = [];

            roomElems.each(function (index, elem) {

                $(elem).find(`input[name='roomNo']`).attr('data-room-no', $(elem).find(
                    `input[name='roomNo']`).val())


                let campusId = $(`select[name='campusId']`).val()
                let buildingId = $(`select[name='buildingId']`).val()
                let handledBy = $(`select[name='handledBy']`).val()
                let roomNo = $(elem).find(`input[name='roomNo']`).val()
                let roomType = $(elem).find(`select[name='roomType']`).val()
                let floorNo = $(elem).find(`input[name='floorNo']`).val()
                let capacity = $(elem).find(`input[name='capacity']`).val()
                let startTime = $(elem).find(`select[name='startTime']`).val()
                let endTime = $(elem).find(`select[name='endTime']`).val()
                let isBasement = $(elem).find(`select[name='isBasement']`).val()



                if (index < roomCount - 1) {
                    let obj = {
                        roomNo: roomNo,
                        roomType: roomType,
                        floorNo: floorNo,
                        capacity: capacity,
                        startTime: startTime,
                        endTime: endTime,
                        campusId: campusId,
                        buildingId: buildingId,
                        handledBy: handledBy,
                        isBasement: isBasement
                    }
                    roomJson.push(obj)

                } else {
                    let obj = {
                        roomNo: roomNo,
                        roomType: roomType,
                        floorNo: floorNo,
                        capacity: capacity,
                        startTime: startTime,
                        endTime: endTime,
                        campusId: campusId,
                        buildingId: buildingId,
                        handledBy: handledBy,
                        isBasement: isBasement
                    }
                    roomJson.push(obj)


                }
            })

            console.log('roomJson:::::::::>>', roomJson)
            // console.log('roomJsonStr::', JSON.parse(roomJson))
            roomJson = JSON.stringify(roomJson);
            console.log('roomJson:::::::::>>', roomJson)


           //console.log('Hello',isEmpty(roomJson))
      
            $.ajax({
                url: '/management/room',
                method: 'POST',
                dataType: 'JSON',
                data: {
                   // roomJson: JSON.stringify(roomJson)
                   roomJson: roomJson
                },
                //data:roomJson,
                success: (data) => {
                    console.log('Data:::::::>>', data)
                    if (data.status == "200") {
                        location.reload()
                    } else if (data.status == "400") {
                        let errorHtml =
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul><li>${data.message}</li></ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                        $("#errorHtml").html(errorHtml)
                    }

                },
                error: err => {
                    console.log('err:::::::>>', err)
                    // let error = err.responseJSON.errors
                    // console.log(error)

                    // let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    // <h3>Error</h3>
                    // <ul><li>No fields can be empty.</li>`
                    // // error.map(er => {
                    // //     console.log(er.msg)
                    // //     errorHtml +=
                    // //         `<li>${er.msg}</li>`
                    // // })

                    // errorHtml +=
                    //     `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                    // $("#errorHtml").html(errorHtml)
                }
            })
        })
    })
</script>
<%- include("../partials/footerEnd") %>