<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->
    

    <%- include("../partials/roomMenu") %>

    
</div>

<!-- ADD NEW ROOM MODAL-->





<%- include('../partials/notification') %>
<%- include('../partials/alert') %>
<%- include("../partials/footer") %>
