<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->
    <div class="card table-card">
        <div class="card-header text-uppercase d-flex align-items-center">
            <h5>ROOM SLOTS LIST</h5>


            <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal"
                data-bs-target="#add-roomtransaction-stages-modal">
                <i class="fas fa-plus"></i></button>
        </div>
        <div class="card-body table-responsive">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
            <table class="table custom_row" id="rootTransactionTable">
                <thead>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% let count = 1%>
                    <% roolSlotList.map(list => { %>
                    <tr>
                        <td><%- count++ %></td>
                        <td><%- list.name %></td>
                        <td><%- list.description %></td>
                        <td>
                            <i class="fas fa-edit text-dark cursor-pointer edit-roomtransaction-strage"
                                data-roomtransaction-stages-id="<%- list.rtsid %>"></i>
                            <a data-roomtransaction-stages-id="<%- list.rtsid %>"
                                class="fas fa-trash-alt text-danger delete-RTS"></a>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--DASHBOARD CONTENT END-->



<!-- Modal -->
<div class="modal fade" id="add-roomtransaction-stages-modal" tabindex="-1"
    aria-labelledby="add-roomtransaction-stages-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-inputform">
            <div class="modal-header modal-inputform-header">
                <h5 class="modal-title" id="add-roomtransaction-stages-title">ADD ROOM TRANSACTION TYPES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="roomName" class="form-label">Enter Room Transaction Stage</label>
                    <input type="text" class="form-control" id="rtsName" placeholder="Enter Name">
                    <input type="hidden" id="rtsId">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Enter Description</label>
                    <textarea class="form-control" id="description" placeholder="Enter Description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <span class="errorMsg"></span>
                <button type="submit" class="btn btn-danger createRoomTransactionStages modal-inputform-btn">Create Room
                    Transaction
                    Stage</button>
                <button type="submit" class="btn btn-danger updateRoomTransactionStages d-none">Update Room Transaction
                    Stage</button>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>
<script>
    $(document).ready(function () {

        //Create 
        $(".createRoomTransactionStages").one('click', function () {
            $.ajax({
                url: '/management/room/rtypes/add',
                method: 'POST',
                type: 'JSON',
                data: {
                    rtsName: $('#rtsName').val(),
                    description: $('#description').val(),
                },
                success: data => {
                    if (data.status == 200) {
                        location.reload()
                    } else {
                        $(".errorMsg").html(data.message)
                    }
                },
                error: err => {
                    console.log('Error: ', err)
                }
            })
        })

        //edit
        $("#rootTransactionTable").on('click', '.edit-roomtransaction-strage', function () {
            $(".createRoomTransactionStages").addClass('d-none')
            $(".updateRoomTransactionStages").removeClass('d-none')
            $("#add-roomtransaction-stages-title").html(`UPDATE ROOM TRANSACTION TYPES`)
            $.ajax({
                url: '/management/room/rtypes/fetch-single',
                method: 'POST',
                type: 'JSON',
                data: {
                    rtsId: $(this).attr("data-roomtransaction-stages-id")
                },
                success: data => {
                    console.log('Data::::::::::::>>', data.data)
                    let room = data.data
                    $('#rtsId').val(room.rtsid),
                        $('#rtsName').val(room.rtsName),
                        $('#description').val(room.description),
                        $("#add-roomtransaction-stages-modal").modal('show')
                },
                error: err => {
                    console.log('Error: ', err)
                }
            })
        })


        //Update 
        $(".updateRoomTransactionStages").one('click', function () {
            $.ajax({
                url: '/management/room/rtypes/update-single',
                method: 'POST',
                type: 'JSON',
                data: {
                    rtsId: $("#rtsId").val(),
                    rtsName: $('#rtsName').val(),
                    description: $('#description').val(),
                },
                success: data => {
                    if (data.status == 200) {
                        location.reload()
                    } else {
                        $(".errorMsg").html(data.message)
                    }

                },
                error: err => {
                    console.log('Error: ', err)
                }
            })
        })


        //Delete
        $("#rootTransactionTable").on('click', '.delete-RTS', function () {
            $.ajax({
                url: '/management/room/rtypes/delete-single',
                method: 'POST',
                type: 'JSON',
                data: {
                    rtsId: $(this).attr("data-roomtransaction-stages-id")
                },
                success: data => {
                    location.reload()
                },
                error: err => {
                    console.log('Error: ', err)
                }
            })
        })


        //search feature delay function is writter in script.js file which is located in public/js/script.js
        $('#searchkeyword').on('input', delay(function (e) {
            let keyword = $("#searchkeyword").val()
            $.ajax({
                type: "POST",
                url: "/management/room/rtypes/rtypes-search",
                data: {
                    keyword: keyword
                },
                success: function (data) {
                    let roomTypeStageList = data.data;

                    let AjaxTable = `<table class="table custom_row" id="rootTransactionTable">
                    <thead>
                        <th>Sr No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </thead>
                    <tbody>`;

                    if (roomTypeStageList.length > 0) {
                        let count = 1;
                        for (list of roomTypeStageList) {
                            AjaxTable +=
                                ` <tr>
                            <td>${count++}</td>
                            <td>${list.name}</td>
                            <td>${list.description}</td>
                            <td>
                                <i class="fas fa-edit text-dark cursor-pointer edit-roomtransaction-strage"
                                    data-roomtransaction-stages-id="${list.rtsid}"></i>
                                <a data-roomtransaction-stages-id="${list.rtsid}"
                                    class="fas fa-trash-alt text-danger delete-RTS"></a>
                            </td>
                        </tr>`
                        }
                    } else {
                        AjaxTable +=
                            ` <tr>
                                <td colspan="3">No Data Found</td>
                            </tr>`;
                    }
                    AjaxTable += `<tbody></table>`
                    $("#rootTransactionTable").html(AjaxTable);
                }
            })
        }, 500));

    })
</script>
<%- include("../partials/footerEnd") %>