<%- include ('partials/head') %>
<%- include ('partials/leftSidebar') %>
<%- include ('partials/header') %>
    <!-- MAIN-CONTENT -->
    
        <div class="main-content">


        <form action="/management/organization" method="post" class="dash-form" id="org-form">


            <div class="modal-header bg-info modal-inputform-header">
                <h5 class="modal-title text-white" id="add-org-modal-title">Add New
                    Organization</h5>
            </div>

            <div id="errorHtml"></div>
            <div class="form-row mt-4">
                <input type="hidden" id="orgLid">
                <input name="orgId" id="orgId" type="number" class="form-control" placeholder="Organization Id"
                    required>
            </div>

            <div class="form-row mt-4">
                <input name="orgAbbr" id="orgAbbr" type="text" class="form-control" placeholder="Organization Abbr"
                    required>
            </div>

            <div class="form-row mt-4">
                <input name="orgName" id="orgName" type="text" class="form-control" placeholder="Organization Name"
                    required>
            </div>

            <div class="form-row mt-4">
                <input name="orgCompleteName" id="orgCompleteName" type="text" class="form-control"
                    placeholder="Organization Complete Name" required>
            </div>
            <div class="form-row mt-4">
                <select class="form-control modalSelect2" name="orgType" id="orgType" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                </select> 
            </div>
            <div class="btn-container d-flex justify-content-end">
                <!-- <button type="button" class="pre-btn">previous</button> -->
                <button type="button" class="nxt-btn" id="org-submit">Next</button>
            </div>

        </form>

        <form action="/management/campus" method="post" class="d-none dash-form" id="campus-form">

            <div class="modal-header bg-info modal-inputform-header">
                <h5 class="modal-title text-white" id="add-org-modal-title">Add New Campus</h5>

            </div>

            <div id="errorHtml"></div>
            <div class="form-row mt-4">
                <input name="campusId" id="campusId" type="number" class="form-control" placeholder="Campus Id"
                    required>
                <input type="hidden" id="Id" name="Id">
            </div>

            <div class="form-row mt-4">
                <input name="campusAbbr" id="campusAbbr" type="text" class="form-control" placeholder="Campus Abbr"
                    required>
            </div>

            <div class="form-row mt-4">
                <input name="campusName" id="campusName" type="text" class="form-control" placeholder="Campus Name"
                    required>
            </div>


            <div class="form-row mt-4">
                <input name="campusDesc" id="campusDesc" type="text" class="form-control"
                    placeholder="Campus Description">

            </div>
       

            <div class="btn-container d-flex justify-content-between">
                <button type="button" class="pre-btn" >previous</button>
                <button type="button" class="nxt-btn" id="campus-submit">Next</button>
            </div>

            
        </form>

        <form action="/management/building" method="post" class="d-none dash-form" id="building-form">

             <div id="errorHtml"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="my-3 py-2">
                                <input name="buildingName" id="buildingName" type="text" class="form-control"
                                    placeholder="Building Name" required>
                                <input type="hidden" id="buildingId" name="buildingId">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="my-3 py-2">
                                <input name="buildingNumber" id="buildingNumber" type="text" class="form-control"
                                    placeholder="Building Number" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="my-3 py-2">
                                <input name="floors" id="floors" type="number" class="form-control"
                                    placeholder="Total Floor Count" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="my-3 py-2">
                                <select class="form-select modalSelect2" name="ownerId" id="ownerId" required>
                                    <option disabled selected>--Owner--</option>
                                    <% for(let owner of orgList) { %>
                                    <option value="<%- owner.id %>">
                                        <%- owner.org_abbr %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="my-3 py-2">
                                <select class="form-select modalSelect2" name="startTimeId" id="startTimeId" required>
                                    <option disabled selected value>--Start Time--</option>
                                    <% for(let time of timeList) { %>
                                    <option value="<%- time.id %>">
                                        <%- time.start_time %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="my-3 py-2">
                                <select class="form-select modalSelect2" name="endTimeId" id="endTimeId" required>
                                    <option disabled selected value>--End Time--</option>
                                    <% for(let time of timeList) { %>
                                    <option value="<%- time.id %>">
                                        <%- time.end_time %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="my-3 py-2">
                                <select class="form-select modalSelect2" name="handledById" id="handledById" required>
                                    <option disabled selected value>--Handled By--</option>
                                    <% for(let handler of orgList) { %>
                                    <option value="<%- handler.id %>">
                                        <%- handler.org_abbr %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="my-3 py-2">
                                <select class="form-select modalSelect2" name="campusId" id="campusId" required>
                                    <option disabled selected value>--Campus--</option>
                                    <% for(let campus of campusList) { %>
                                    <option value="<%- campus.id %>">
                                        <%- campus.campus_abbr %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>

        </form>


            <!-- DATA-ROW-1 -->
           
                <div class="row my-3 gx-3 gy-3 row1-data">

                    <!-- <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/academic-year"><img src="/icon_imgs/academic-year.PNG" alt="">
                                    <p class="fw-normal pt-1">ACADEMIC YEAR</p>
                                </a></div>
                        </div>
                    </div> -->
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/organization"><img src="/icon_imgs/organization.png" alt="">
                                    <p class="fw-normal pt-1">ORGANIZATION MASTER</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/campus"><img src="/icon_imgs/campus.png"
                                        alt="">
                                    <p class="fw-normal pt-1">CAMPUS MASTER</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center ">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/building"><img src="/icon_imgs/school-building.png" alt="">
                                    <p class="fw-normal pt-1">BUILDING MASTER</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/room"><img src="/icon_imgs/room_master.png" alt="">
                                    <p class="fw-normal pt-1">ROOM MASTER</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
                        <div class="card row1-data-card text-center">
                            <div class="card-body d-flex align-items-center justify-content-center"><a href="/management/divisions"><img src="/icon_imgs/faculty.png" alt="">
                                    <p class="fw-normal pt-1">FACULTY</p>
                                </a></div>
                        </div>
                    </div>

                </div>


            <!-- DATA-ROW-2 -->
            
                <div class="row gy-3 gx-3 mb-3 row2-data">
                    <div class="col-xl-6 col-md-10">
                        <div class="card  row2-data-card">
                            <div class="card-body">
                                <h6>Total Room Occupied</h6>
                                <div id="chart1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="card row2-data-card">
                            <div class="card-body">
                                <h6>Total Room Occupied</h6>
                                <div id="chart1">filter</div>
                                <h1>100 </h1>
                                <div id="count">Room Count</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="card row2-data-card">
                            <div class="card-body">
                                <h6>Total Lectures</h6>
                                <div id="chart1">filter</div>
                                <h1>75</h1>
                                <div id="count">Lectures Count</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="card row2-data-card">
                            <div class="card-body">
                                <h6>Incomplete Task</h6>
                                <div id="chart1">filter</div>
                                <h1>21 </h1>
                                <div id="count">Task Count</div>
                            </div>
                        </div>
                    </div>
                </div>
         

            <!-- DATA-ROW-3/ USER TABLE -->

            <div class="row gy-3 gx-3 row3-data">
                <div class="col-xl-6">
                    <div class="table-card card row3-data-card">
                        <div class="card-header table-card-header text-uppercase d-flex align-items-center">
                            <h5>User</h5>
                            <div class="table-searchbar-container" style="box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%)!important"><button type="button"><i class="fas fa-search"></i> </button><input
                                type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
                        </div>
                       
                        <div class="table-responsive card-body">
                            <table class="table custom_row" id="datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a> 
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="table-card card row3-data-card">
                        <div class="table-card card row3-data-card">
                            <div class="card-header table-card-header text-uppercase d-flex align-items-center">
                                <h5>User</h5>
                                <div class="table-searchbar-container" style="box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%)!important"><button type="button"><i class="fas fa-search"></i> </button><input
                                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
                            </div>
                        <div class="table-responsive card-body">
                            <table class="table custom_row datatable" id="datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>
                                            <a href="#"><i class="fas fa-edit"></i></a>
                                            <a href="#"><i class="fas fa-window-close"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
</main>





<%- include('partials/footer') %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
<script>
	$(document).ready(function () {
		$(".homeCard .border").hover(function () {
			$this = $(this)

			$this.find("img").css({
				"transition": "0.3s",
				"transform": "scale(0.7)"
			})

			setTimeout(function () {
				$this.find("img").css({
					"transition": "0.2s",
					"transform": "scale(1)"
				})
			}, 200)

		}, function () {
			$this.find("img").css({
				"transition": "0.2s",
				"transform": "scale(1)"
			})
		})


		let options = {
        dataLabels: {
            enabled: true
        },
        legend: {
            show: true
        },
        chart: {
            type: 'donut',
            height: 200
        },
        plotOptions: {
            pie: {
                donut: {
                    size: '40%'
                }
            }
        },
        series: [44, 55, 11],
        labels: ['Room booked', 'Total room', 'Room available for booking']
    }

    var chart = new ApexCharts(document.querySelector("#chart1"), options);

    chart.render();

    $("#org-submit").on('click', function () {
        $.ajax({
            url: '/management/organization',
            method: 'POST',
            type: 'JSON',
            data: {
                org_id: $('#orgId').val(),
                org_abbr: $('#orgAbbr').val(),
                org_name: $('#orgName').val(),
                org_complete_name: $('#orgCompleteName').val(),
                org_type_id: $('#orgType').val()
            },
            success: data => {
                if (data.status == 200) {
                    location.reload()
                } else {
                    $(".errorMsg").html(data.message)
                }

            },
            error: err => {
                let error = err.responseJSON.errors
                let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
                error.map(er => {
                    errorHtml +=
                        `<li>${er.msg}</li>`
                })
                errorHtml +=
                    `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                $("#errorHtml").html(errorHtml)
            }
        })
        $('#org-form').addClass('d-none');
        $('#campus-form').removeClass('d-none');
       $('#building-form').addClass('d-none')
    })

    $('#campus-submit').on('click', function () {
     
        $.ajax({
            url: '/management/campus',
            method: 'POST',
            type: 'JSON',
            data: {
                campusId: $("#campusId").val(),
                campusAbbr: $("#campusAbbr").val(),
                campusName: $("#campusName").val(),
                campusDesc: $("#campusDesc").val()
            },
            success: data => {
                location.reload()
            },
            error: err => {
                let error = err.responseJSON.errors
                let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
                error.map(er => {
                    errorHtml +=
                        `<li>${er.msg}</li>`
                })
                errorHtml +=
                    `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                $("#errorHtml").html(errorHtml)
            }
        })
        $('#org-form').addClass('d-none');
        $('#campus-form').addClass('d-none');
       $('#building-form').removeClass('d-none')
    })

  

})
</script>
<%- include('partials/footerEnd') %>


   