<%- include ('partials/head') %>
<%- include ('partials/leftSidebar') %>
<%- include ('partials/header') %>
<!-- MAIN-CONTENT -->

<div class="main-content">

    <!-- DATA-ROW-1 -->
    <% if(settingCount > 0){%>
        
    <!-- <h1>Render Dashboard Ejs</h1> -->
    <%- include('partials/dashboard.ejs') %>
    <%}else{%>
        <div class="d-flex justify-content-evenly py-3 time-line">
    <div class="arrow-pointer org-form"> Organization form</div>
    <div class="arrow-pointer campus-form">Campus form</div>
    <div class="arrow-pointer"> Building</div>
    <div class="arrow-pointer"> Room</div>
    <div class="arrow-pointer"> Faculty</div>
    
    </div>
   <%- include('partials/stepform.ejs') %>
    <%}%>

    </main>


</div>

        <%- include('partials/footer') %>
 



<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
<script>
	$(document).ready(function () {
		$(".homeCard .border").hover(function () {
			$this = $(this)

			$this.find("img").css({
				"transition": "0.3s",
				"transform": "scale(0.7)"
			})

			setTimeout(function () {
				$this.find("img").css({
					"transition": "0.2s",
					"transform": "scale(1)"
				})
			}, 200)

		}, function () {
			$this.find("img").css({
				"transition": "0.2s",
				"transform": "scale(1)"
			})
		})

            $(".homeCard .border").hover(function () {
                $this = $(this)


                $this.find("img").css({
                    "transition": "0.3s",
                    "transform": "scale(0.7)"
                })

                setTimeout(function () {
                    $this.find("img").css({
                        "transition": "0.2s",
                        "transform": "scale(1)"
                    })
                }, 200)

            }, function () {
                $this.find("img").css({
                    "transition": "0.2s",
                    "transform": "scale(1)"
                })
            })


            let options = {
                dataLabels: {
                    enabled: true
                },
                legend: {
                    show: true
                },
                chart: {
                    type: 'donut',
                    height: 200
                },
                plotOptions: {
                    pie: {
                        donut: {
                            size: '40%'
                        }
                    }
                },
                      series: [44, 55, 11],
        labels: ['Room booked', 'Total room', 'Room available for booking']
            }
            var chart = new ApexCharts(document.querySelector("#chart1"), options);
            chart.render();


 
	
            //Calling Apies
            $("#org-submit").on('click', function () {
                $.ajax({
                    url: '/management/organization',
                    method: 'POST',
                    type: 'JSON',
                    data: {
                        org_id: $('#orgId').val(),
                        org_abbr: $('#orgAbbr').val(),
                        org_name: $('#orgName').val(),
                        org_complete_name: $('#orgCompleteName').val(),
                        org_type_id: $('#orgType').val()
                    },
                    success: data => {
                        if (data.status == 200) {
                            location.reload()
                        } else {
                            $(".errorMsg").html(data.message)
                        }

                    },
                    error: err => {
                        let error = err.responseJSON.errors
                        let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
                        error.map(er => {
                            errorHtml +=
                                `<li>${er.msg}</li>`
                        })
                        errorHtml +=
                            `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                        $("#errorHtml").html(errorHtml)
                    }
                })
                errorHtml +=
                    `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                $("#errorHtml").html(errorHtml)

                $('#org-form').addClass('d-none');
        $('#campus-form').removeClass('d-none');
       $('#building-form').addClass('d-none')
       $('.org-form').addClass('arrow-pointer-active')

        })
    

    $('#campus-submit').on('click', function () {
     
        $.ajax({
            url: '/management/campus',
            method: 'POST',
            type: 'JSON',
            data: {
                campusId: $("#campusId").val(),
                campusAbbr: $("#campusAbbr").val(),
                campusName: $("#campusName").val(),
                campusDesc: $("#campusDesc").val()
            },
            success: data => {
                location.reload()
            },
            error: err => {
                let error = err.responseJSON.errors
                let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">`
                $('#org-form').addClass('d-none');
                $('#campus-form').removeClass('d-none');
                $('#building-form').addClass('d-none')
                $('.campus-form').addClass('arrow-pointer-active')
                }
            })

        })
      

    })
    </script>
    <%- include('partials/footerEnd') %>