<%- include ('partials/head') %>
<%- include ('partials/leftSidebar') %>
<%- include ('partials/header') %>
<!-- MAIN-CONTENT -->

<div class="main-content">

    <!-- DATA-ROW-1 -->
    <% if(settingCount > 0){%>
    <!-- <h1>Render Dashboard Ejs</h1> -->
    <%- include('partials/dashboard.ejs') %>
    <%}else{%>
    <h1>Render Step Form</h1>
    <%- include('partials/stepform.ejs') %>
    <%}%>

    </main>


</div>

        <%- include('partials/footer') %>

    <script>
        $(document).ready(function () {
            $(".homeCard .border").hover(function () {
                $this = $(this)

                $this.find("img").css({
                    "transition": "0.3s",
                    "transform": "scale(0.7)"
                })

                setTimeout(function () {
                    $this.find("img").css({
                        "transition": "0.2s",
                        "transform": "scale(1)"
                    })
                }, 200)

            }, function () {
                $this.find("img").css({
                    "transition": "0.2s",
                    "transform": "scale(1)"
                })
            })


            let options = {
                dataLabels: {
                    enabled: true
                },
                legend: {
                    show: true
                },
                chart: {
                    type: 'donut',
                    height: 200
                },
                plotOptions: {
                    pie: {
                        donut: {
                            size: '40%'
                        }
                    }
                },
                series: [44, 55, 13, 33],
                labels: ['Apple', 'Mango', 'Orange', 'Watermelon']
            }

            var chart = new ApexCharts(document.querySelector("#chart1"), options);
            chart.render();

            //Calling Apies

            $("#org-submit").on('click', function () {
                $.ajax({
                    url: '/management/organization',
                    method: 'POST',
                    type: 'JSON',
                    data: {
                        org_id: $('#orgId').val(),
                        org_abbr: $('#orgAbbr').val(),
                        org_name: $('#orgName').val(),
                        org_complete_name: $('#orgCompleteName').val(),
                        org_type_id: $('#orgType').val()
                    },
                    success: data => {
                        if (data.status == 200) {
                            location.reload()
                        } else {
                            $(".errorMsg").html(data.message)
                        }

                    },
                    error: err => {
                        let error = err.responseJSON.errors
                        let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
                        error.map(er => {
                            errorHtml +=
                                `<li>${er.msg}</li>`
                        })
                        errorHtml +=
                            `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                        $("#errorHtml").html(errorHtml)
                    }
                })
                $('#org-form').addClass('d-none');
                $('#campus-form').removeClass('d-none');
                $('#building-form').addClass('d-none')
            })

            $('#campus-submit').on('click', function () {
                console.log("yellio")
                $.ajax({
                    url: '/management/campus',
                    method: 'POST',
                    type: 'JSON',
                    data: {
                        campusId: $("#campusId").val(),
                        campusAbbr: $("#campusAbbr").val(),
                        campusName: $("#campusName").val(),
                        campusDesc: $("#campusDesc").val()
                    },
                    success: data => {
                        location.reload()
                    },
                    error: err => {
                        let error = err.responseJSON.errors
                        let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
                        error.map(er => {
                            errorHtml +=
                                `<li>${er.msg}</li>`
                        })
                        errorHtml +=
                            `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                        $("#errorHtml").html(errorHtml)
                    }
                })
                $('#org-form').addClass('d-none');
                $('#campus-form').addClass('d-none');
                $('#building-form').removeClass('d-none')
            })
        })
    </script>
    <%- include('partials/footerEnd') %>
