<%- include("../partials/su_head") %>
    <%- include("../partials/su_leftSidebar") %>
        <%- include("../partials/su_header") %>

            <div class="col-12 dashboardContent">
                <div class="card">
                    <div class="card-header">
                        <h5 class="p-3">Change Permission</h5>
                        <div class="card-body">
                            <div class="row search-row">
                                <div class="w-100 d-flex justify-content-center px-5">
                                    <div class="search"> <input type="text" class="search-input"
                                            placeholder="Search User..." name="">
                                        <div class="search-icon"> <i class="fa fa-search"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card my-4">
                    <div class="card-header">
                        <h5 id="permHeader" class="p-3">User Permission</h5>
                        <div class="card-body">
                            <input class="form-control mb-3 d-none" id="search-permission" type="text"
                                placeholder="Search..">
                            <table class="table table-bordered table-striped menurow">
                                <thead>
                                    <tr>
                                        <th class="mb-3">Module Name & Request URL / Request Method</th>
                                    </tr>
                                </thead>
                                <tbody id="permTable">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <button id="btn-save-permission" class="btn btn-success m-auto d-block my-5"><i class="fas fa-user"></i>
                    Save Permission</button>
            </div>

            <%- include("../partials/footer") %>

                <script>
                    var _user = ''
                    $(document).ready(function () {
                        $('.search-icon').on('click', () => {
                            $('.search-row').find('.no-user').remove();
                            $('#permTable').empty()
                            $('#search-permission').addClass('d-none')
                            if ($(".search-input").val().toString().trim().length < 1) {
                                alert("Enter Username")
                                return
                            }
                            $('#permTable').empty()
                            $('#search-permission').addClass('d-none')
                            $.ajax({
                                url: "/su/getUserPermissions",
                                type: "POST",
                                data:
                                {
                                    username: $(".search-input").val().toString().trim(),
                                },
                                success: function (data) {
                                    if (data.status === "success") {
                                        _user = $(".search-input").val().toString().trim()
                                        $('#permHeader').text(`User Permission for ${data.username}`)
                                        $('.search-row').append(`<h6 class="text-muted mx-2 my-4 w-100 d-flex justify-content-center no-user">Changes that are made will override the existing permissions</h6>`)
                                        let indexc = 0
                                        $('#search-permission').removeClass('d-none')
                                        for (let p of data.permission) {
                                            let td = ''
                                            if (indexc == 0 || indexc % 4 == 0) {
                                                let h6 = `<h6 class="col-sm-12 col-sm-4 mb-3">${p.name} <span style="color:red;">(${p.reqUrl})<span> </h6>`
                                                let currPerm = data.permission.find((el) => el.reqUrl == p.reqUrl && el.method == 'GET')
                                                let checked = ''
                                                if (currPerm.status == '1') {
                                                    checked = 'checked'
                                                }
                                                let ms = `<div class="form-check form-switch row-sm-12 row-sm-4 mb-3 mx-3">
                                                   <input class="form-check-input" type="checkbox" data-kind="GET" data-param=${p.name} data-menu="${p.reqUrl}" ${checked}>
                                                   <label class="form-check-label">GET</label>
                                                 </div>`

                                                
                                                td+=`${h6} ${ms}`

                                                currPerm = data.permission.find((el) => el.reqUrl == p.reqUrl && el.method == 'POST')
                                                checked = ''
                                                if (currPerm.status == '1') {
                                                    checked = 'checked'
                                                }
                                                ms =
                                                    `<div class="form-check form-switch row-sm-12 row-sm-4 mb-3 mx-3">
                                                   <input class="form-check-input" type="checkbox" data-kind="POST" data-param=${p.name} data-menu="${p.reqUrl}" ${checked}>
                                                   <label class="form-check-label">POST</label>
                                                 </div>`
                                                
                                                td+=`${ms}`

                                                currPerm = data.permission.find((el) => el.reqUrl == p.reqUrl && el.method == 'UPDATE')
                                                checked = ''
                                                if (currPerm.status == '1') {
                                                    checked = 'checked'
                                                }
                                                ms = `
                                                 <div class="form-check form-switch row-sm-12 row-sm-4 mb-3 mx-3">
                                                   <input class="form-check-input" type="checkbox" data-kind="UPDATE" data-param=${p.name} data-menu="${p.reqUrl}" ${checked}>
                                                   <label class="form-check-label">UPDATE</label>
                                                 </div>
                                                `
                                                
                                                td+=`${ms}`

                                                currPerm = data.permission.find((el) => el.reqUrl == p.reqUrl && el.method == 'DELETE')
                                                checked = ''
                                                if (currPerm.status == '1') {
                                                    checked = 'checked'
                                                }
                                                ms = `
                                                 <div class="form-check form-switch row-sm-12 row-sm-4 mb-3 mx-3">
                                                   <input class="form-check-input" type="checkbox" data-kind="DELETE" data-param=${p.name} data-menu="${p.reqUrl}" ${checked}>
                                                   <label class="form-check-label">DELETE</label>
                                                 </div>
                                                `
                                                td+=`${ms}`
                                            }

                                            td.length > 0 ? $('#permTable').append(`<tr> <td> <div class="row m-3">${td} </div> </td> </tr>`):''

                                            indexc = indexc + 1
                                        }
                                    } else if (data.status === "no user") {
                                        $('.search-row').append(`<h6 class="text-muted mx-2 my-4 w-100 d-flex justify-content-center no-user">No User Found</h6>`)
                                    }
                                    else {
                                        alert("Something went wrong...")
                                    }
                                },
                                error: function (errors) {
                                    alert("Error occured while searching user")
                                }
                            })
                        })

                        $(".search-input").on("change keyup paste click", function (e) {
                            $('.search-row').find('.no-user').remove();
                            if ($(".search-input").val().length < 1) {
                                $('#permHeader').text(`User Permission`)
                                _user = ''
                                $('#permTable').empty()
                                $('#search-permission').addClass('d-none')
                            }
                        });

                        $(document).on('change keyup paste click', '#search-permission', function () {
                            var value = $(this).val().toLowerCase();
                            $("#permTable tr td").filter(function () {
                                console.log("searching :::::::::::::>>>>> ", value);
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        })


                        $('#btn-save-permission').on('click', () => {
                            if (_user.length < 1) {
                                alert("No permission to save")
                                return
                            }

                            let permission = []
                            $(".menurow .form-switch input[type=checkbox]").each(function () {
                                let status = '0'
                                if ($(this).is(':checked')) {
                                    status = '1'
                                }
                                permission.push({
                                    name: $(this).attr('data-param'),
                                    reqUrl: $(this).attr('data-menu'),
                                    method: $(this).attr('data-kind'),
                                    status: status
                                })
                            });
                            $.ajax({
                                url: "/su/alterUserPermission",
                                type: "POST",
                                data:
                                {
                                    username: _user,
                                    permission: JSON.stringify(permission),
                                },
                                success: function (data) {
                                    if (data.status === "success") {
                                        alert("User Permission Updated Successfully !!!")
                                        window.location.reload()
                                    }
                                    else {
                                        alert("Failed update user permission")
                                    }
                                },
                                error: function (errors) {
                                    alert("Error occured while updating user permission")
                                }
                            })
                        })
                    })
                </script>

                <%- include("../partials/footerEnd") %>