<%- include("../partials/su_head") %>
    <%- include("../partials/su_leftSidebar") %>
        <%- include("../partials/su_header") %>

            <div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title m-auto d-block">
                                User Created Successfully !
                            </h5>
                            <button id="close-modal-btn" type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="form-control custom-ta" id="pass-url" rows="3"></span>
                        </div>
                        <div class="modal-footer">
                            <button id="copy-url-btn" type="button" class="btn btn-outline-primary">
                                Copy Password Link
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 dashboardContent">
                <div class="card">
                    <div class="card-header">
                        <h5 class="p-3">Create New User</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 mb-3">
                                    <label class="font-weight-bold">Username</label>
                                    <input type="text" id="username" class="form-control">
                                </div>
                                <div class="col-md-6 col-sm-12 mb-3">
                                    <label class="font-weight-bold">Firstname</label>
                                    <input type="text" id="firstname" class="form-control">
                                </div>
                                <div class="col-md-6 col-sm-12 mb-3">
                                    <label class="font-weight-bold">Lastname</label>
                                    <input type="text" id="lastname" class="form-control">
                                </div>
                                <div class="col-md-6 col-sm-12 mb-3">
                                    <label class="font-weight-bold">Email</label>
                                    <input type="text" id="email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card my-4">
                    <div class="card-header">
                        <h5 class="p-3">User Permission</h5>
                        <div class="card-body">
                            <input class="form-control mb-3" id="search-permission" type="text" placeholder="Search..">
                            <table class="table table-bordered table-striped menurow">
                                <thead>
                                    <tr>
                                        <th>Module Name & Request URL / Request Method</th>
                                    </tr>
                                </thead>
                                <tbody id="permTable">
                                    <% for(let m of menurights) {%>
                                        <tr>
                                            <td>
                                                <div class="row mx-3">
                                                    <h6 class="col-sm-12 col-sm-4 mb-3">
                                                        <%= m.name %> <span style="color:red;">( <%= m.reqUrl %>)<span>
                                                    </h6>
                                                    <div class="form-check form-switch mb-3 mx-3">
                                                        <input class="form-check-input" type="checkbox" data-kind="GET"
                                                            data-param="<%= m.name %>" data-menu="<%= m.reqUrl %>">
                                                        <label class="form-check-label">GET</label>
                                                    </div>
                                                    <div class="form-check form-switch mb-3 mx-3">
                                                        <input class="form-check-input" type="checkbox" data-kind="POST"
                                                            data-param="<%= m.name %>" data-menu="<%= m.reqUrl %>">
                                                        <label class="form-check-label">POST</label>
                                                    </div>
                                                    <div class="form-check form-switch mb-3 mx-3">
                                                        <input class="form-check-input" type="checkbox"
                                                            data-kind="UPDATE" data-param="<%= m.name %>"
                                                            data-menu="<%= m.reqUrl %>">
                                                        <label class="form-check-label">UPDATE</label>
                                                    </div>
                                                    <div
                                                        class="form-check form-switch mb-3 mx-3 my+5">
                                                        <input class="form-check-input" type="checkbox"
                                                            data-kind="DELETE" data-param="<%= m.name %>"
                                                            data-menu="<%= m.reqUrl %>">
                                                        <label class="form-check-label">DELETE</label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button id="btn-create-user" class="btn btn-success m-auto d-block my-5"><i class="fas fa-user"></i>
                    Create User</button>
            </div>

            <%- include("../partials/footer") %>

                <script>
                    $(document).ready(function () {

                        $("#search-permission").on("change keyup paste click", function () {
                            var value = $(this).val().toLowerCase();
                            $("#permTable tr").filter(function () {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        });

                        $('#btn-create-user').on('click', () => {

                            if ($('#username').val().length < 1) {
                                alert("Enter Username")
                                return
                            }

                            if ($('#firstname').val().length < 1) {
                                alert("Enter Firstname")
                                return
                            }

                            if ($('#lastname').val().length < 1) {
                                alert("Enter Lastname")
                                return
                            }

                            if ($('#email').val().length < 1) {
                                alert("Enter Email")
                                return
                            }

                            let permission = []
                            $(".menurow .form-switch input[type=checkbox]").each(function () {
                                let status = '0'
                                if ($(this).is(':checked')) {
                                    status = '1'
                                }
                                permission.push({
                                    name: $(this).attr('data-param'),
                                    reqUrl: $(this).attr('data-menu'),
                                    method: $(this).attr('data-kind'),
                                    status: status
                                })
                            });

                            $.ajax({
                                url: "/su/createUser",
                                type: "POST",
                                data:
                                {
                                    username: $('#username').val(),
                                    firstname: $('#firstname').val(),
                                    lastname: $('#lastname').val(),
                                    email: $('#email').val(),
                                    permission: JSON.stringify(permission),
                                },
                                success: function (data) {
                                    if (data.status === "success" && data.resetToken !== undefined) {
                                        $("#pass-url").text(window.location.protocol + `//` + window.location.host + "/v1/setPass/" + data.resetToken);
                                        $("#passModal").modal("show");
                                    }
                                    else {
                                        alert("Failed to create user")
                                    }
                                },
                                error: function (errors) {
                                    alert("Error occured while creating user")
                                }
                            })
                        })

                        $("#close-modal-btn").on("click", () => {
                            window.location.reload();
                        })

                        $('#copy-url-btn').on('click', () => {
                            CopyToClipboard('pass-url')
                        })

                        function CopyToClipboard(id) {
                            var r = document.createRange();
                            r.selectNode(document.getElementById(id));
                            window.getSelection().removeAllRanges();
                            window.getSelection().addRange(r);
                            document.execCommand('copy');
                            window.getSelection().removeAllRanges();
                        }
                    });
                </script>

                <%- include("../partials/footerEnd") %>