<%- include("../partials/su_head") %>
    <%- include("../partials/su_leftSidebar") %>
        <%- include("../partials/su_header") %>

            <div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title m-auto d-block">
                                User Created Successfully !
                            </h5>
                            <button id="close-modal-btn" type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="form-control custom-ta" id="pass-url" rows="3"></span>
                        </div>
                        <div class="modal-footer">
                            <button id="copy-url-btn" type="button" class="btn btn-outline-primary">
                                Copy Password Link
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 dashboardContent">
                <div class="card">
                    <div class="card-header">
                        <h5 class="p-3">Create Password Reset Link</h5>
                        <div class="card-body">
                            <div class="row search-row">
                                <div class="w-100 d-flex justify-content-center px-5">
                                    <div class="search"> <input type="text" class="search-input"
                                            placeholder="Search Username or email..." name="">
                                        <div class="search-icon"> <i class="fa fa-search"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="user-card" class="card my-4 user-card d-none">
                    <div class="card-header">
                        <h5 id="userHeader" class="p-3">User Details</h5>
                        <div class="card-body">
                            <p id="userdetails" class="text-primary font-weight-bold"></p>
                        </div>
                    </div>
                </div>

                <button id="btn-create-link" class="btn btn-success m-auto d-block m-5"><i class="fas fa-user"></i>
                    Create Link</button>

            </div>

            <%- include("../partials/footer") %>
                <script>
                    $(document).ready(function () {
                        var _username = ''
                        $('.search-icon').on('click', () => {
                            $('.search-row').find('.no-user').remove();
                            resetAll()
                            $('#search-permission').addClass('d-none')
                            if ($(".search-input").val().toString().trim().length < 1) {
                                alert("Enter Username")
                                return
                            }
                            $('#search-permission').addClass('d-none')
                            $.ajax({
                                url: "/su/getUserDetails",
                                type: "POST",
                                data:
                                {
                                    username: $(".search-input").val().toString().trim(),
                                },
                                success: function (data) {
                                    if (data.status == "success") {
                                        _username = data.userdata.username.toString().trim()
                                        $('#userHeader').text(`${data.userdata.firstname} ${data.userdata.lastname} (${data.userdata.username})`)
                                        $('#userdetails').html(`
                                        Username : ${data.userdata.username} <br> 
                                        Firstname : ${data.userdata.firstname} <br>
                                        Lastname : ${data.userdata.lastname} <br> 
                                        Email : ${data.userdata.email} <br> 
                                        Mobile : ${data.userdata.mobile} <br> 
                                        Enabled : ${data.userdata.enabled} <br>
                                        `)
                                        $('#user-card').removeClass('d-none')
                                    }
                                    else if (data.status == "no user found") {
                                        $('.search-row').append(`<h6 class="text-muted mx-2 my-4 w-100 d-flex justify-content-center no-user">No User Found</h6>`)
                                    }
                                    else {
                                        $('.search-row').append(`<h6 class="text-muted mx-2 my-4 w-100 d-flex justify-content-center no-user">Something went wrong</h6...>>`)
                                    }
                                },
                                error: function (errors) {
                                    $('.search-row').append(`<h6 class="text-muted mx-2 my-4 w-100 d-flex justify-content-center no-user">Error occured while searching user</h6>`)
                                }
                            })
                        })

                        function resetAll() {
                            $('.search-row').find('.no-user').remove();
                            if ($(".search-input").val().length < 1) {
                                $('#userHeader').html('')
                                $('#userdetails').html('')
                                $('#user-card').addClass('d-none')
                                _username = ''
                            }
                        }

                        $(".search-input").on("change keyup paste click", function (e) {
                            resetAll()
                        });

                        $('#btn-create-link').on('click', () => {
                            if (_username.trim().length < 1) {
                                $('.search-row').append(`<h6 class="text-danger mx-2 my-4 w-100 d-flex justify-content-center no-user">SEARCH USER...</h6>`)
                            } else {
                                $.ajax({
                                    url: "/su/createPasswordResetLink",
                                    type: "POST",
                                    data:
                                    {
                                        username: _username,
                                    },
                                    success: function (data) {
                                        if (data.status === "success" && data.resetToken !== undefined) {
                                            $("#pass-url").text(window.location.protocol + `//` + window.location.host + "/v1/setPass/" + data.resetToken);
                                            $("#passModal").modal("show");
                                        }
                                        else {
                                            $('.search-row').append(`<h6 class="text-danger mx-2 my-4 w-100 d-flex justify-content-center no-user">Error occured while creating link</h6>`)
                                        }
                                    },
                                    error: function (errors) {
                                        $('.search-row').append(`<h6 class="text-muted mx-2 my-4 w-100 d-flex justify-content-center no-user">Error occured while searching user</h6>`)
                                    }
                                })
                            }
                        })

                        $("#close-modal-btn").on("click", () => {
                            window.location.reload();
                        })

                        $('#copy-url-btn').on('click', () => {
                            CopyToClipboard('pass-url')
                        })

                        function CopyToClipboard(id) {
                            var r = document.createRange();
                            r.selectNode(document.getElementById(id));
                            window.getSelection().removeAllRanges();
                            window.getSelection().addRange(r);
                            document.execCommand('copy');
                            window.getSelection().removeAllRanges();
                        }
                    })
                </script>
                <%- include("../partials/footerEnd") %>