<%- include ('../partials/head') %>

<!-- PAGE LEVEL CSSS START -->
<% if (currentFormStep) { %>
<style>
    .stage:nth-child(-n + <%- currentFormStep-1 %>) {
        background: #3cc58c;
        color: #fff;

    }

    .stage:nth-child(-n + <%- currentFormStep-1 %>)::before {
        border-left: 25px solid #3cc58c;
    }

    .stage:nth-child(<%- currentFormStep %>) {
        background: #ffc800;
        color: #000;

    }

    .stage:nth-child(<%- currentFormStep %>)::before {
        border-left: 25px solid #ffc800;
    }
</style>
<% } %>
<!-- PAGE LEVEL CSSS END -->

<%- include ('../partials/leftSidebar') %>
<%- include ('../partials/header') %>

<!-- MAIN-CONTENT -->
<div class="main-content">
    <% if (currentFormStep) { %>
    <%- include('./stepform.ejs') %>
    <% } else { %>
    <%- include('./dashboard.ejs') %>
    <% } %>


</div>
</main>

<%- include('../partials/notification') %>
<%- include('../partials/footer') %>


<!-- PAGE LEVEL JS START -->


<script src="/js/dashboardscript.js"></script>
<script src="/js/script.js"></script>

<script>
    $(document).ready(function () {

        let userSession = `<%-userSession%>`
        console.log('userSession::::::::::::',userSession)
        localStorage.setItem('devicecheck',userSession)

        let currentFormStep = `<%- currentFormStep %>`;
        console.log('currentFormStep',currentFormStep)
        $('.step-form .step-form-body .active-form').removeClass('active-form').addClass('d-none');
        $(`.step-form .step-form-body .step[data-step=${currentFormStep}]`).removeClass('d-none').addClass(
            'active-form');

        $(".homeCard .border").hover(function () {
            $this = $(this)

            $this.find("img").css({
                "transition": "0.3s",
                "transform": "scale(0.7)"
            })

            setTimeout(function () {
                $this.find("img").css({
                    "transition": "0.2s",
                    "transform": "scale(1)"
                })
            }, 200)

        }, function () {
            $this.find("img").css({
                "transition": "0.2s",
                "transform": "scale(1)"
            })
        })

        $(".homeCard .border").hover(function () {
            $this = $(this)


            $this.find("img").css({
                "transition": "0.3s",
                "transform": "scale(0.7)"
            })

            setTimeout(function () {
                $this.find("img").css({
                    "transition": "0.2s",
                    "transform": "scale(1)"
                })
            }, 200)

        }, function () {
            $this.find("img").css({
                "transition": "0.2s",
                "transform": "scale(1)"
            })
        })


        // let options = {
        //     dataLabels: {
        //         enabled: true
        //     },
        //     legend: {
        //         show: true
        //     },
        //     chart: {
        //         type: 'donut',
        //         height: 200
        //     },
        //     plotOptions: {
        //         pie: {
        //             donut: {
        //                 size: '40%'
        //             }
        //         }
        //     },
        //     series: [44, 55, 11],
        //     labels: ['Room booked', 'Total room', 'Room available for booking']
        // }
        // var chart = new ApexCharts(document.querySelector("#chart1"), options);
        // chart.render();


        function formStepNext() {
            currentFormStep++;
            console.log('clicked!!')
            $(`.step-form .stages .stage:nth-child(-n + ${currentFormStep-1})`).removeClass('pending').addClass(
                'submitted');
            $(`.step-form .stages .stage:nth-child(${currentFormStep})`).removeClass('pending').addClass(
                'active');


            $('.step-form .step-form-body .active-form').removeClass('active-form').addClass('d-none');
            $(`.step-form .step-form-body .step[data-step=${currentFormStep}]`).removeClass('d-none').addClass(
                'active-form');
                console.log(currentFormStep);
        }
        console.log(currentFormStep);
        //Calling Apies

        $("#next-step").on('click', function () {
                console.log('Click::::>>')

                if (currentFormStep == 2) {

                    let orgElems = $('#add-more-org-table tbody tr');
                    let orgCount = orgElems.length;
                    let orgJson = [];
                    orgElems.each(function (index, elem) {

                        let orgId = $(elem).find(`input[name='orgId']`).val()
                        let orgAbbr = $(elem).find(`input[name='orgAbbr']`).val()
                        let orgName = $(elem).find(`input[name='orgName']`).val()
                        let orgCompleteName = $(elem).find(`input[name='orgCompleteName']`).val()
                        let orgType = $(elem).find(`datalist[name='orgType']`).val()
                        let campus_lid = $(elem).find(`datalist[name='orgCampus_lid']`).val()

                        if (index < orgCount - 1) {
                            let obj = {
                                org_id: orgId,
                                org_id_str: orgId,
                                org_abbr: orgAbbr,
                                org_name: orgName,
                                org_complete_name: orgCompleteName,
                                org_type_id: orgType,
                                campus_lid:campus_lid
                            }
                            orgJson.push(obj)
                        } else {
                            let obj = {
                                org_id: orgId,
                                org_id_str: orgId,
                                org_abbr: orgAbbr,
                                org_name: orgName,
                                org_complete_name: orgCompleteName,
                                org_type_id: orgType,
                                campus_lid:campus_lid
                            }
                            orgJson.push(obj)
                        }
                    })


                    console.log('orgJson::::::::::::::::::::>>>', orgJson)

                    let ApiObj = {
                        type: 'POST',
                        url: '/management/organizations',
                        data: {
                            inputJSON: JSON.stringify(orgJson),
                            settingName: 'Organization'
                        },
                        dataType: 'JSON'
                    }

                    ajaxApi(ApiObj).then(result => {
                        console.log('Result:::::::::::', result)
                        //   location.reload()

                        formStepNext()
                        
                    }).catch(error => {
                        console.log('error.responseJSON::::::::::::>>>',error.responseJSON)
                        showError(error.responseJSON)
                    })


                } else if (currentFormStep == 1) {
                    let campusElems = $('#add-more-campus-table tbody tr');
                    let campusCount = campusElems.length;

                    let campusJson = [];

                    campusElems.each(function (index, elem) {
                        let campusId = $(elem).find(`input[name='campusId']`).val()
                        let campusAbbr = $(elem).find(`input[name='campusAbbr']`).val()
                        let campusName = $(elem).find(`input[name='campusName']`).val()
                        let campusDesc = $(elem).find(`input[name='campusDesc']`).val()

                        if (index < campusCount - 1) {
                            let obj = {
                                campus_id: campusId,
                                campus_abbr: campusAbbr,
                                campus_name_40_char: campusName,
                                campus_description: campusDesc
                            }
                            campusJson.push(obj)
                        } else {
                            let obj = {
                                campus_id: campusId,
                                campus_abbr: campusAbbr,
                                campus_name_40_char: campusName,
                                campus_description: campusDesc
                            }
                            campusJson.push(obj)
                        }
                    })

                    console.log('campusJson:::::::>>', campusJson)

                    let ApiObj = {
                        type: 'POST',
                        url: '/management/campuses',
                        data: {
                            inputJSON: JSON.stringify(campusJson),
                            settingName: 'Campus'
                        },
                        dataType: 'JSON'
                    }

                    ajaxApi(ApiObj).then(result => {
                        // location.reload()
                        formStepNext()
                       
                    }).catch(error => {
                        showError(error.responseJSON)
                    })
                } else if (currentFormStep == 3) {
                    let buildingElems = $('#add-more-building-table tbody tr');
                    let buildingCount = buildingElems.length;
                    let buildingJson = [];
                    buildingElems.each(function (index, elem) {
                        let building_name = $(elem).find(`input[name='building_name']`).val()
                        let building_number = $(elem).find(`input[name='building_number']`).val();
                        let total_floors = $(elem).find(`input[name='total_floors']`).val();
                        let owner_id = $(elem).find(`select[name='owner_id']`).val();
                        let start_time_id = $(elem).find(`select[name='start_time_id']`).val();
                        let end_time_id = $(elem).find(`select[name='end_time_id']`).val();
                        let handled_by = $(elem).find(`select[name='handled_by']`).val();
                        let campus_lid = $(elem).find(`select[name='campus_lid']`).val();


                        if (index < buildingCount - 1) {
                            let obj = {
                                building_name: building_name,
                                building_number: building_number,
                                total_floors: total_floors,
                                owner_id: owner_id,
                                start_time_id: start_time_id,
                                end_time_id: end_time_id,
                                handled_by: handled_by,
                                campus_lid: campus_lid
                            }
                            buildingJson.push(obj)
                        } else {
                            let obj = {
                                building_name: building_name,
                                building_number: building_number,
                                total_floors: total_floors,
                                owner_id: owner_id,
                                start_time_id: start_time_id,
                                end_time_id: end_time_id,
                                handled_by: handled_by,
                                campus_lid: campus_lid
                            }
                            buildingJson.push(obj)
                        }
                    })

                    console.log('buildingJson', buildingJson)

                    let ApiObj = {
                        type: 'POST',
                        url: '/management/buildings',
                        data: {
                            inputJSON: JSON.stringify(buildingJson),
                            settingName: 'Building'
                        },
                        dataType: 'JSON'
                    }

                    ajaxApi(ApiObj).then(result => {
                        formStepNext()
                        
                    }).catch(error => {
                        showError(error.responseJSON)
                    })
                } else if (currentFormStep == 4) {

                    let roomElems = $('#add-more-room-table tbody tr');
                    let roomCount = roomElems.length;

                    let roomJson = [];

                    roomElems.each(function (index, elem) {
                        let building_lid = $('#building_lid').val();
                        let handled_by = $("#roomHandled_by").val();
                        let room_number = $(elem).find(`input[name='room_number']`).val()
                        let room_type_id = $(elem).find(`select[name='room_type_id']`).val();
                        let floor_number = $(elem).find(`input[name='floor_number']`).val();
                        let capacity = $(elem).find(`input[name='capacity']`).val();
                        let start_time_id = $(elem).find(`select[name='start_time_id']`).val();
                        let end_time_id = $(elem).find(`select[name='end_time_id']`).val();
                        let is_basement = $(elem).find(`select[name='is_basement']`).val();
                        let is_processed = $(elem).find(`select[name='is_processed']`).val();


                        if (room_number === "" || room_type_id === "" || handled_by === "" ||
                            floor_number ===
                            "" || start_time_id === "" || end_time_id === "" || is_basement === ""
                        ) {
                            $('.error-show').text('Fields cannot be empty!!');
                            return;
                        } else if (room_number.trim() === "" || floor_number.trim() === "" ||
                            capacity
                            .trim() === "") {
                            $('.error-show').text('Fields cannot have empty space!!');
                            return;
                        } else {

                            if (index < roomCount - 1) {
                                let obj = {
                                    building_lid: building_lid,
                                    handled_by: handled_by,
                                    room_number: room_number,
                                    room_type_id: room_type_id,
                                    floor_number: floor_number,
                                    capacity: capacity,
                                    start_time_id: start_time_id,
                                    end_time_id: end_time_id,
                                    is_basement: is_basement,
                                    is_processed: is_processed
                                }
                                console.log('OBJ1::::::::::>>', obj)
                                roomJson.push(obj)
                            } else {
                                let obj = {
                                    building_lid: building_lid,
                                    handled_by: handled_by,
                                    room_number: room_number,
                                    room_type_id: room_type_id,
                                    floor_number: floor_number,
                                    capacity: capacity,
                                    start_time_id: start_time_id,
                                    end_time_id: end_time_id,
                                    is_basement: is_basement,
                                    is_processed: is_processed
                                }
                                roomJson.push(obj)
                            }
                        }
                    })

                    let ApiObj = {
                        type: 'POST',
                        url: '/management/rooms',
                        data: {
                            inputJSON: JSON.stringify(roomJson),
                            settingName: 'Room'
                        },
                        dataType: 'JSON'
                
                    }

                    ajaxApi(ApiObj).then(result => {
                        formStepNext()
                        
                    }).catch(error => {
                        showError(error.responseJSON)
                    })
                } else if (currentFormStep == 5) {
                    let facultyElems = $('#add-more-faculty-table tbody tr');
                    let facultyCount = facultyElems.length;
                    let facultyJson = [];
                    facultyElems.each(function (index, elem) {
                        let faculty_id = $(elem).find(`input[name='faculty_id']`).val()
                        let faculty_name = $(elem).find(`input[name='faculty_name']`).val();
                        let start_time_id = $(elem).find(`select[name='start_time_id']`).val();
                        let end_time_id = $(elem).find(`select[name='end_time_id']`).val();
                        let org_lid = $(elem).find(`select[name='org_lid']`).val();
                        let campus_lid = $(elem).find(`select[name='campus_lid']`).val();

                        if (index < facultyCount - 1) {
                            let obj = {
                                faculty_id: faculty_id,
                                faculty_name: faculty_name,
                                start_time_id: start_time_id,
                                end_time_id: end_time_id,
                                org_lid: org_lid,
                                campus_lid: campus_lid
                            }
                            facultyJson.push(obj)
                        } else {
                            let obj = {
                                faculty_id: faculty_id,
                                faculty_name: faculty_name,
                                start_time_id: start_time_id,
                                end_time_id: end_time_id,
                                org_lid: org_lid,
                                campus_lid: campus_lid
                            }
                            facultyJson.push(obj)
                        }
                    })

                    console.log('facultyJson::::::::::::>>', facultyJson)
                    let ApiObj = {
                        type: 'POST',
                        url: '/management/faculties',
                        data: {
                            inputJSON: JSON.stringify(facultyJson),
                            settingName:'Faculty'
                        },
                        dataType: 'JSON'
                    }

                    ajaxApi(ApiObj).then(result => {
                        formStepNext()
                        
                    }).catch(error => {
                        showError(error.responseJSON)
                    })
                }


        })



    //Getting capus Bulding List
    $(".campus_lid_filter").on('change', function () {
        let campus_lid = $(this).val()
        let ApiObj = {
            url: '/management/rooms/buildinglist',
            type: 'POST',
            data: {
                campus_lid: campus_lid
            },
            dataType: 'JSON'
        }

        ajaxApi(ApiObj).then(result => {
            console.log('Result:::::::::::::::', result.data)
            //building_lid

            let buildingList = ``;

            if (result.data.length > 0) {
                result.data.forEach(element => {
                    buildingList += `<option value="${element.id}">
                                ${element.building_name}
                            </option>`
                });
            } else {
                buildingList += `<option value="">
                                No Building Found!
                            </option>`
            }
            $("#building_lid").html(buildingList)
        }).catch(error => {
            showError(error.responseJSON)
        })
    })
    

    function showError(errors) {
        console.log('errorrrr',errors)
        let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error!</h3>
                    <p>${errors.description}</p>
                    <ul>`
        $(errors.data).each(function (key, value) {
            $.each(this, function (key, value) {
                errorHtml +=
                    `<li>${key} ${value}</li>`
            });
        });
        errorHtml +=
            `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
        $(".errorHtml").html(errorHtml)
    }

    })
</script>
<!-- PAGE LEVEL JS END -->
<%- include('../partials/footerEnd') %>