<%- include("../partials/head") %>
  <%- include("../partials/leftSidebar") %>
    <%- include("../partials/header") %>
      <%- include("../partials/loader") %>

        <div class="col-12 dashboardContent">
          <!--DASHBOARD CONTENT START-->
          <div class="card">
            <div class="card-header bg-danger text-white">
              <h1 class="f-20">Set Program Name</h1>
            </div>
            <div class="card-body">
              <div class="col-12 mb-3">
                <table id="programSettingTable" class="table table-bordered table-striped call-datatable text-center">
                  <thead>
                    <tr>
                      <th scope="col">Sl. No.</th>
                      <th scope="col">Program Id</th>
                      <th scope="col">Program Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% data.forEach(function(el, index) { %>
                      <tr>
                        <td>
                          <%- index + 1 %>
                        </td>
                        <td name="<%- el.programId %>">
                          <%- el.programId %>
                        </td>
                        <td>
                          <%- el.programName %>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
              <div class="col-12 text-center">
                <button id="refreshProgramSetting" class="btn btn-info ml-5">
                  Fetch Program Name
                </button>
              </div>
            </div>
          </div>

          <!--DASHBOARD CONTENT END-->

          <%- include("../partials/footer") %>
            <script src="/js/functions.js"></script>
            <script>
              $(document).ready(function () {
                $("#refreshProgramSetting").click(function () {
                  $(".loaderBody").removeClass("d-none");
                  $.ajax({
                    type: "GET",
                    url: "/settings/getProgramDetailsFromLMS",
                    success: function (data) {
                      console.log("Updated Data", data);
                      $(".loaderBody").addClass("d-none");
                      if(data.cause == "permission denied"){
                        window.location = data.reqUrl
                        return
                      }

                      if (data.status === "200") {
                         window.location.reload();  
                      } else {
                        $(".alertBody")
                          .removeClass("d-none")
                          .find(".alert-text")
                          .html(data.message);
                      }
                    },
                    error: function (err) {
                      $(".loaderBody").addClass("d-none");
                      $(".alertBody")
                        .removeClass("d-none")
                        .find(".alert-text")
                        .html("Alert! Error occoured while updating program names.");
                    },
                  });
                });
              });
            </script>
            <%- include("../partials/footerEnd") %>
        </div>