<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
    <!--DASHBOARD CONTENT START-->
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h1 class="f-20">Semester Allocation Sequence</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Select Program <span class="text-danger">*</span></label>
                    <select id="programForSemSeq" class="form-control">
                        <option selected disabled>--Select Program--</option>
                        <% for(let value of programList) { %>
                        <option value="<%- value.programId%>"><%- value.programName%>/<%- value.programId%></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-12 mb-3">
                    <table id="semSequenceTable" class="table table-bordered table-striped call-datatable text-center">
                        <thead>
                            <tr>
                                <th scope='col'>Acad Session</th>
                                <th scope='col'>Allocation Preference</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 text-center">
                    <button id="saveAllocationSeq" class="btn btn-success">Save Preference</button>
                </div>
            </div>
        </div>
    </div>

    <!--DASHBOARD CONTENT END-->

   <%- include("../partials/footer") %>
    <script>
        $(document).ready(function () {
            $("#programForSemSeq").change(function () {
                let $this = $(this);

                $.ajax({
                    type: "POST",
                    url: "/settings/getAcadSession",
                    dataType: "JSON",
                    data: {
                        programId: $this.val()
                    },
                    success: function (data) {
                        if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
				        }
                        console.log("acadsession data", data)
                        let acadData = data.data;
                        let acadString = "";

                        for (let value of acadData) {
                            acadString += "<tr><td>" + value.acadSession +
                                "</td><td><input type='number' class='text-center' value='" +
                                value.allocationSequence + "' min='0' max='" + acadData
                                .length + "'/></td></tr>"
                        }
                        $("#semSequenceTable tbody").html(acadString);

                    }
                })
            })

            $("#semSequenceTable").on("keyup", "input[type='number']", function (event) {
                $this = $(this);
                let minVal = Number($this.attr('min'));
                let maxVal = Number($this.attr('max'));
                let $thisVal = Number($this.val());
                let $thisStr = $thisVal.toString()

                if ($thisStr.length > 1) {
                    $thisStr.replace(/^0+/, '');
                }
                if (event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 187 || event
                    .keyCode == 107 || event.keyCode == 189 || event.keyCode == 109) {
                    $this.val("").val(0)
                } else if ($thisVal > maxVal) {
                    console.log("Is Greater")
                    $this.val(maxVal)
                } else if ($thisVal < minVal) {
                    console.log("Is Smaller")
                    $this.val(minVal)
                } else {

                    $this.val($thisStr)
                }
            })

            $("#saveAllocationSeq").click(function () {

                let inputArr = [];
                $("#semSequenceTable input[type='number']").each(function () {
                    if ($(this).val() != 0) {
                        inputArr.push($(this).val());
                    }
                })

                console.log(inputArr)

                let sortedInputArr = inputArr.sort();
                let arrLength = inputArr.length;
                let inputIsSame = false;

                if (arrLength > 0) {
                    for (let i = 0; i < arrLength - 1; i++) {
                        console.log(i + 1, " || ", i)
                        if (sortedInputArr[i] == sortedInputArr[i + 1]) {
                            $(".alertBody").removeClass('d-none').find(".alert-text").html(
                                "Opps! You cannot assign same value to two or more input field.")
                            return inputIssame = true;
                        }
                    }
                }

                if (inputIsSame == false) {
                    if ($("#programForSemSeq").val() !== null) {
                        var semSeq = new Map();
                        $("#semSequenceTable tbody tr").each(function () {
                            let semester = $(this).find("td:first-child").html()
                            let allocationSeq = $(this).find("input").val()
                            semSeq.set(semester, allocationSeq)
                        })

                        console.log("MAP", semSeq)
                        $.ajax({
                            type: "POST",
                            url: "/settings/updateAllocationSequence",
                            dataType: "JSON",
                            data: {
                                semSeqMap: JSON.stringify(Array.from(semSeq.entries())),
                                programId: $("#programForSemSeq").val()
                            },
                            success: function (data) {
                                if (data.cause == "permission denied") {
					             	window.location = data.reqUrl
					            	return
					            }
                                console.log("Updated Data", data)
                                if (data.status === '200') {
                                    $(".alertBody").removeClass('d-none').find(
                                            ".alert-text")
                                        .html(data.message)
                                } else {
                                    $(".alertBody").removeClass('d-none').find(
                                            ".alert-text")
                                        .html(
                                            "Error occured! Your preference could not be updated."
                                        )
                                }
                            }
                        })
                    }
                }

            })






        })
    </script>
    <%- include("../partials/footerEnd") %>