<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<%- include("../partials/loader") %>

<div class="col-12 dashboardContent">
    <!--DASHBOARD CONTENT START-->
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h1 class="f-20">Session Slot Preference</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Select Program <span class="text-danger">*</span></label>
                    <select id="sessionSlotProgram" class="form-control">
                        <option selected disabled>--Select Program--</option>
                        <% for (let program of fetchedPrograms) { %>
                        <option value="<%- program.programId %>"><%- program.programName %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Select Acad Session <span class="text-danger">*</span></label>
                    <select id="sessionSlotAcad" class="form-control">
                        <option selected disabled>--Select Acad Session--</option>
                    </select>
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Select Start Time/Slot <span class="text-danger">*</span></label>
                    <select id="sessionSlotName" class="form-control">
                        <option selected disabled>--Select Slot--</option>
                        <% for (let slot of fetchedSlotTime) { %>
                        <option value="<%-slot.slotName%>"><%-slot.starttime%> to <%-slot.endtime%></option>
                        <% } %>
                        <!-- <option></option> -->
                    </select>
                </div>
                <div class="col-12 text-center">
                    <button id="saveSessionSlotPreference" class="btn btn-success">Save Preference</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card sessionSlotTable mt-5">
        <div class="card-header bg-danger text-white">
            <h1 class="f-20 m-0">Saved Preferences</h1>
        </div>
        <div class="card-body">
            <table id="visitingSlotTimeTableSat" class="table table-bordered table-striped call-datatable text-center">
                <thead>
                    <tr>
                        <th scope='col'>Program</th>
                        <th scope='col'>Acad Session</th>
                        <th scope='col'>Start Time/Slot</th>
                        <th scope='col'>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let value of semStartTimeData) { %>
                    <tr>
                        <td><%-value.programName %></td>
                        <td><%-value.acadSession %></td>
                        <td><%-value.starttime %></td>
                        <td>
                            <button
                              class="btn btn-sm btn-danger deleteSemStartPref"
                              data-programId="<%-value.programId %>"
                              data-acadSession="<%-value.acadSession %>"
                            >
                              Delete
                            </button>
                          </td>
                    </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <!--DASHBOARD CONTENT END-->

   <%- include("../partials/footer") %>
    <script>
        $(document).ready(function () {
            let loaderBody = $('.loaderBody')
            let alertTxt = $('.alert-text')
            let alertOk = $('#alertOk')
            let alertConfirm = $('#alertConfirm')
            let alertNo = $('#alertNo')
            let alertBody = $('.alertBody')

            $("#sessionSlotProgram").change(function () {
                let $this = $(this);

                $.ajax({
                    type: "POST",
                    url: "/settings/getAcadSession",
                    dataType: "JSON",
                    data: {
                        programId: $this.val()
                    },
                    success: function (data) {
                        if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
				        }
                        console.log("acadsession data", data)
                        let acadData = data.data;
                        let acadString =
                            "<option selected disabled>--Select Acad Session--</option>";
                        for (let value of acadData) {
                            acadString += "<option value='" + value.acadSession + "'>" +
                                value.acadSession + "</option>"
                        }

                        $("#sessionSlotAcad").html(acadString);

                    }
                })
            })

            $("#saveSessionSlotPreference").click(function () {
                let programId = $("#sessionSlotProgram").val();
                let acadSession = $("#sessionSlotAcad").val();
                let slotName = $("#sessionSlotName").val();

                if (programId !== null && acadSession !== null && slotName !== null) {

                    $.ajax({
                        type: "POST",
                        url: "/settings/saveSessionSlotPreference",
                        dataType: "JSON",
                        data: {
                            programId: programId,
                            acadSession: acadSession,
                            slotName: slotName
                        },
                        success: function (data) {
                            if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
				            }
                            console.log("UPDATED", data)
                            $(".alertBody").removeClass('d-none')
                            $(".alert-text").html(
                                "Your preference has been updated."
                            )
                            $("#alertOk").click(function () {
                                location.reload();
                            })

                        }
                    })

                } else {
                    $(".alertBody").removeClass('d-none')
                    $(".alert-text").html(
                        "Opps! You have to select all the fields before saving your preference.")
                }
            })

            $(".deleteSemStartPref").click(function () {
                $this = $(this);
                alertTxt.html("Are you sure you want to delete?")
                alertConfirm.removeClass('d-none')
                alertOk.addClass('d-none')
                alertNo.removeClass('d-none')
                alertBody.removeClass('d-none')

                alertConfirm.click(function () {
                    alertBody.addClass('d-none')
                    loaderBody.removeClass('d-none')
                    $.ajax({
                        type: 'POST',
                        url: '/settings/deleteSessionPref/',
                        dataType: "json",
                        data: {
                            programId: $this.attr("data-programId"),
                            acadSession: $this.attr("data-acadSession")
                        },
                        success: function (data) {
                            loaderBody.addClass('d-none')
                            if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
				            }
                            if(data.isDeleted > 0) {
                                alertTxt.html(data.message)
                                alertNo.addClass('d-none')
                                location.reload()
                            } else {
                                alertTxt.html(data.message)
                                alertNo.addClass('d-none')
                            }

                        }
                    })
                })

            })
        })
    </script>
    <%- include("../partials/footerEnd") %>