<%- include("../partials/head") %>

<section class="loginOverlay vh-100 bg-light vw-100">
	<div class="container-fluid pt-5">
		<div class="container pt-5 pb-5">
			<div class="col-lg-6 col-md-6 m-auto bg-white">
                <div class="card-header bg-danger">
                    <h1 class="f-20 text-white">Update Campus Data</h1>
                </div>
                <div class="pt-5 pb-5 d-flex justify-content-center">
                <form method="POST" action="/initialsetup/updateCampusData" id="campusDataForm">
                    <div class="col-lg-12 col-md-12 mb-3">
                        <label for="campusId">Campus Id</label>
                        <input type="number" class="form-control" id="campusId" name="campusId" value="<%- campusId %>"> 
                    </div>
                    <div class="col-lg-12 col-md-12 mb-3">
                        <label for="schoolId">School Id</label>
                        <input type="number" class="form-control" id="schoolId" name="schoolId" value="<%- schoolId %>">
                    </div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <button type="submit" id="campusDataSbt" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>



        <!--DASHBOARD CONTENT END-->

        <%- include("../partials/footer") %>
        <script>
        </script>
        <%- include("../partials/footerEnd") %>