<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
                    <!--DASHBOARD CONTENT START-->
                    <div class="card">
                        <div class="card-header">
                            <h1 class="f-20">Acad Session Division List</h1>
                        </div>
                        <div class="card-body">
                            <div class="col-md-6">
                                <label class="font-weight-bold">Select Program</label>
                                <select id="programForAcadSessionDivList" class="form-control">
                                    <option value disabled selected>--Select Program--</option>
                                <% values.forEach((value) => { %>
                                    <option value="<%- value.programId %>"><%- value.programId %></option>
                                <% })  %>
                                </select>
                            </div>
                            <hr/>

                            <div class="col-12 table-responsive mt-3">
                                <table id="programForAcadSessionDivListTable" class="table table-bordered table-striped call-datatable">
                                    <thead>
                                        <tr>
                                            <th>Sl. No</th>
                                            <th>Program ID</th>
                                            <th>Program Name</th>
                                            <th>Acad Session</th>
                                            <th>Division</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--DASHBOARD CONTENT END-->

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>
