<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
  <!--DASHBOARD CONTENT START-->
  <div class="card">
    <div class="card-header">
      <h1 class="f-20">Faculty Workload Status</h1>
    </div>
    <div class="card-body">
      <hr />
      <div class="col-12 table-responsive">
        <table id="facultyWorkloadTable" class="table table-bordered table-striped call-datatable">
          <thead>
            <tr>
              <th scope="col">Sr No</th>
              <th scope="col">Faculty Name</th>
              <th scope="col">Faculty ID</th>
              <th scope="col">Lec Left</th>
              <th scope="col">Module ID</th>
              <th scope="col">Program ID</th>
              <th scope="col">Monday</th>
              <th scope="col">Tuesday</th>
              <th scope="col">Wednesday</th>
              <th scope="col">Thursday</th>
              <th scope="col">Friday</th>
              <th scope="col">Saturday</th>
            </tr>
          </thead>
          <tbody>
            <% 
              let i = 0; let value; for(value of data) { i++ %>
            <tr>
              <td><%- i %></td>
              <td><%- value.facultyName %></td>
              <td><%- value.facultyId %></td>
              <td><%- value.lecPerWeek %></td>
              <td><%- value.moduleId %></td>
              <td><%- value.programId %></td>
              <td class="td-slot text-info"><%- value.monday %></td>
              <td class="td-slot text-info"><%- value.tuesday %></td>
              <td class="td-slot text-info"><%- value.wednesday %></td>
              <td class="td-slot text-info"><%- value.thrusday %></td>
              <td class="td-slot text-info"><%- value.friday %></td>
              <td class="td-slot text-info"><%- value.saturday %></td>
            </tr>

            <% } %>

          </tbody>
        </table>
      </div>


    </div>
  </div>

  <!--DASHBOARD CONTENT END-->

 <%- include("../partials/footer") %>
  <script>
    $(document).ready(function () {
      var tdTooltip;
      let slotTiming = `<%-slotList%>`
	  
	  console.log("Slot timing: ", slotTiming)
	  
      slotTiming = JSON.parse(slotTiming)
      console.log("SlotList=====>>>> ", slotTiming)
      if (slotTiming) {
        $("#facultyWorkloadTable td").css("position", "relative").append(
          "<div class='td-tooltip position-absolute d-none'><p>Time Slot</p></div>")

        $("#facultyWorkloadTable .td-slot").hover(function () {
          var data = this.childNodes[0].nodeValue;
          if (data !== null && data !== "" && data !== undefined) {
            tdTooltip = $(this).find(".td-tooltip")
            var dataArr = data.split(',');
            var timeSlot = "";

            tdTooltip.removeClass("d-none");
            for (let count of dataArr) {

              console.log(count)
              switch (count) {
                case 'slot1':
                  timeSlot += slotTiming[0].starttime + " to " + slotTiming[0].endtime + "<br/>";
                  break;
                case 'slot2':
                  timeSlot += slotTiming[1].starttime + " to " + slotTiming[1].endtime + "<br/>";
                  break;
                case 'slot3':
                  timeSlot += slotTiming[2].starttime + " to " + slotTiming[2].endtime + "<br/>";
                  break;
                case 'slot4':
                  timeSlot += slotTiming[3].starttime + " to " + slotTiming[3].endtime + "<br/>";
                  break;
                case 'slot5':
                  timeSlot += slotTiming[4].starttime + " to " + slotTiming[4].endtime + "<br/>";
                  break;
                case 'slot6':
                  timeSlot += slotTiming[5].starttime + " to " + slotTiming[5].endtime + "<br/>";
                  break;
                case 'slot7':
                  timeSlot += slotTiming[6].starttime + " to " + slotTiming[6].endtime + "<br/>";
                  break;
                case 'slot8':
                  timeSlot += slotTiming[7].starttime + " to " + slotTiming[7].endtime + "<br/>";
                  break;
                case 'slot9':
                  timeSlot += slotTiming[8].starttime + " to " + slotTiming[8].endtime + "<br/>";
                  break;
                default:
                  timeSlot += 'No data';
              }
            }

            console.log(timeSlot);
            tdTooltip.find('p').html(timeSlot)
          }
        }, function () {
          if (tdTooltip) {
            tdTooltip.addClass("d-none")
          }
        })


      } else {
        console.log("Slot Timing could not be found.")
        $("#facultyWorkloadTable td").css("position", "relative").append(
          "<div class='td-tooltip position-absolute d-none'><p>Indexed DB Error. Time slot not found.</p></div>"
        )
      }




    })
  </script>
  <%- include("../partials/footerEnd") %>