<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->
    <!-- <div class="row my-3 gx-3 gy-3 row1-data">
        <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a
                        href="/admin/sessions/types"><img src="/icon_imgs/room-type.PNG" alt="">
                        <p class="fw-normal pt-1">SESSION TYPE</p>
                    </a></div>
            </div>
        </div>
    </div> -->

    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase ">
            <h5>Fetch course workload from sap</h5>
        </div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-6">
                    <label>Select Year</label>
                    <input type="text" class="form-control" id="acadYear" value="<%- acadYear %>">
                </div>
                <div class="col-md-6">
                    <label>Select Program</label>

                    <select class="form-control" id="program_lid" name="program_lid">
                        <option value="">Select program</option>
                        <% for(let program of programList) {%>
                        <option value="<%-program.program_id %>"><%-program.program_name %></option>
                        <%}%>
                    </select>
                   
                </div>
                <div class="col-md-6">
                    <label>Select Session</label>
                    <select class="form-control" id="acad_session_lid" name="acad_session_lid">
                        <option value="">Select Session</option>
                        <% for(let acadsession of AcadSessionList) {%>
                        <option value="<%- acadsession.acadSessionId %>"><%- acadsession.acad_session %></option>
                        <%}%>
                    </select>
                </div>
            </div>
            <button class="btn btn-danger mt-3 fetchFromSAP"><i class="fa fa-download"></i> Fetch From SAP</button>
        </div>
    </div>

    <div class="card table-card mt-3">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>COURSE WORKLOAD</h5>
            </div>
            <div>
                <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal"
                    data-bs-target="#add-holiday-modal">
                    <i class="fas fa-plus"></i></button>
                <button class="btn ms-auto select-delete-holidays add-btn "><i class="fas fa-trash"></i></button>
                <button class="btn ms-auto bulk-delete-holiday add-btn "><img src="/icons/delete.png" alt=""
                        width="26px" height="32px"></button>
            </div>
        </div>

        <div class="card-body table-responsive">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>

            <table class="table custom_row table-bordered" id="holidayTable">
                <thead>
                    <th>Sr No.</th>
                    <th>Module Name</th>
                    <th>Module Code</th>
                    <th>Program Code</th>
                    <th>Electives</th>
                    <th>Intake</th>
                    <th>Student per division</th>
                    <th>Lecture per Week per Division</th>
                    <th>Practical per Week per Division</th>
                    <th>Tutorial per Week per Division</th>
                    <th>Workshop per Week per Division</th>
                    <th>Session Events per Semester</th>
                    <th>Acad Session</th>
                    <th>Continuous</th>
                    <th>Action</th>
                    <th>All <input type="checkbox" class="selectAll-Holiday-Types"></th>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:<%- pageCount %>
                        </p>
                </div>
                <div>
                    <p id="pagination"></p>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>

<script>
    $(document).ready(function () {

        //Fetch form SAP

        $(".fetchFromSAP").on('click', function () {
            let acadYear = $("#acadYear").val()
            let program_lid = $("#program_lid").val()
            let acad_session_lid = $("#acad_session_lid").val()
            console.log('Cllicke', acadYear, program_lid, acad_session_lid)


            let ApiObj = {
                url: '/admin/courseworkload',
                type: 'POST',
                data: {
                    acadYear: acadYear,
                    program_lid: program_lid,
                    acad_session_lid: acad_session_lid
                },
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {
                console.log('Response ::::::::::::::::::::::', result)
            }).catch(error => {
                console.log('Error ::::::::::::::::::::::', error)
               // showError(error.responseJSON)
            })
        })
    })
</script>
<%- include("../partials/footerEnd") %>