<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->
    <!-- <div class="row my-3 gx-3 gy-3 row1-data">
        <div class="col-xl-2 col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a
                        href="/admin/sessions/types"><img src="/icon_imgs/room-type.PNG" alt="">
                        <p class="fw-normal pt-1">SESSION TYPE</p>
                    </a></div>
            </div>
        </div>
    </div> -->

    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase ">
            <h5>Fetch course workload from sap</h5>
        </div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-3">
                    <label>Select Year</label>
                    <input type="text" readonly class="form-control" id="acadYear" value="<%- acadYear %>">
                </div>
                <div class="col-md-3">
                    <label>Select Program</label>

                    <select class="select2" id="programLid" name="programLid">
                        <option value="">Select program</option>
                        <% for(let program of programList) {%>
                        <option value="<%-program.program_id %>"><%-program.program_name %></option>
                        <%}%>
                    </select>
                   
                </div>
                <div class="col-md-3">
                    <label>Select Session</label>
                    <select class="select2" id="acadSessionLid" name="acadSessionLid">
                        <option value="">Select Session</option>
                        <% for(let acadsession of AcadSessionList) {%>
                        <option value="<%- acadsession.acadSessionId %>"><%- acadsession.acad_session %></option>
                        <%}%>
                    </select>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger mt-4 fetchFromSAP"><i class="fa fa-download"></i> Fetch From SAP</button>
                </div>
            </div>
           
        </div>
    </div>

    <div class="card table-card mt-3">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>COURSE WORKLOAD</h5>
            </div>
            <div>
                <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal"
                    data-bs-target="#add-holiday-modal">
                    <i class="fas fa-plus"></i></button>
                <!-- <button class="btn ms-auto select-delete-holidays add-btn "><i class="fas fa-trash"></i></button>
                <button class="btn ms-auto bulk-delete-holiday add-btn "><img src="/icons/delete.png" alt=""
                        width="26px" height="32px"></button> -->
            </div>
        </div>

        <div class="card-body table-responsive">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>

            <table class="table custom_row table-bordered" id="courseWorkloadTable">
                <thead>
                    <th>Sr No.</th>
                    <th>Module Name</th>
                    <th>Module Code</th>
                    <th>Program Code</th>
                    <th>Intake</th>
                    <th>Student per division</th>
                    <th>Lecture per Week per Division</th>
                    <th>Practical per Week per Division</th>
                    <th>Tutorial per Week per Division</th>
                    <th>Workshop per Week per Division</th>
                    <th>Session Events per Semester</th>
                    <th>Acad Session</th>
                    <th>Continuous</th>
                    <th>Action</th>

                </thead>
                <tbody>
                    <%let count = 1%>
                        <% for(let course of courseWorkloadList){%>
                        <tr>
                            <td><%- count++ %></td>
                            <td><%-course.module_name%></td>
                            <td><%-course.module_id%></td>
                            <td><%-course.program_id%></td>
                            <td><%-course.intake%></td>
                            <td><%-course.student_per_division%></td>
                            <td><%-course.lec_per_week_per_division%></td>
                            <td><%-course.practical_per_week_per_division%></td>
                            <td><%-course.tutorial_per_week_per_division%></td>
                            <td><%-course.workshop_per_week_per_division%></td>
                            <td><%-course.session_events_per_semester%></td>
                            <td><%-course.acad_session_lid%></td>
                            <td><%-course.continuous%></td>
                            <td>edit</td>
                        </tr>
                        <%}%>   
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:<%- pageCount %>
                        </p>
                </div>
                <div>
                    <p id="pagination"></p>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>

<script>
    $(document).ready(function () {

        $('.select2').select2();

        //Fetch form SAP
        $(".fetchFromSAP").on('click', function () {
            let acadYear = $("#acadYear").val()
            let programLid = $("#programLid").val()
            let acadSessionLid = $("#acadSessionLid").val()
            console.log('Cllicke', acadYear, programLid, acadSessionLid)
            let ApiObj = {
                url: '/admin/courseworkload',
                type: 'POST',
                data: {
                    acadYear: acadYear,
                    programLid: programLid,
                    acadSessionLid: acadSessionLid
                },
                dataType: 'JSON'
            }

            ajaxApi(ApiObj).then(result => {
                console.log('Response ::::::::::::::::::::::', result.data)
            }).catch(error => {
                console.log('Error ::::::::::::::::::::::', error)
                // showError(error.responseJSON)
            })
        })


        //Create 
        $('#courseWorkloadTable').on('change', '.changeStatus', function () {
            if ($(this).is(':checked')) {
                //console.log('Yes')
                chnageStatus($(this).attr('data-id'), 1)
            } else {
                //console.log('No')
                chnageStatus($(this).attr('data-id'), 0)
            }
        })

        function chnageStatus(id, status) {
            console.log(id, status)
            let ApiObj = {
                url: '/admin/courseworkload/changestatus',
                type: 'POST',
                data: {
                    id: id,
                    status: status
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                loadAll()
            }).catch(error => {
            })
        }

                // SEARCH PROGRAM TYPE
                $('#searchkeyword').on('input', delay(function (e) {
            let keyword = $("#searchkeyword").val()
            $.ajax({
                type: "GET",
                url: "/admin/courseworkload/search",
                data: {
                    keyword: keyword
                },
                success: function (data) {
                    console.log(data)
                    AjaxtTable(data.data)
                }
            })
        }, 500));




        //Pagination Here
        let pageCount = `<%- pageCount %>`
       // console.log("Page Count=====>>>", pageCount)
        // let pageNos = Math.ceil(Number(pageCount) / 10)

        // console.log("Page Numbers", pageNos)
        // $('#pagination').bootpag({
        //     total: pageNos,
        //     page: 1,
        //     maxVisible: 10,
        //     leaps: true,
        //     firstLastUse: true,
        //     first: '←',
        //     last: '→',
        //     wrapClass: 'pagination',
        //     activeClass: 'active',
        //     disabledClass: 'disabled',
        //     nextClass: 'next',
        //     prevClass: 'prev',
        //     lastClass: 'last',
        //     firstClass: 'first'
        // }).on("page", function (event, num) {
        //     $.ajax({
        //         type: "POST",
        //         url: "/admin/courseworkload/pagination",
        //         data: {
        //             pageNo: num
        //         },
        //         success: function (data) {
        //             AjaxtTable(data.data)
        //         }
        //     })
        // });


        function loadAll() {
            let ApiObj = {
                url: '/admin/courseworkload/getAll',
                type: 'GET',
                data: {},
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                AjaxTable(result.result)
            }).catch(error => {

            })
        }

        function AjaxtTable(workloadList) {
            let AjaxTable = `<table class="table custom_row table-bordered" id="courseWorkloadTable">
                <thead>
                    <th>Sr No.</th>
                    <th>Module Name</th>
                    <th>Module Id</th>
                    <th>Program Id</th>
                    <th>Electives</th>
                    <th>Intake</th>
                    <th>Student per division</th>
                    <th>Lecture per Week per Division</th>
                    <th>Practical per Week per Division</th>
                    <th>Tutorial per Week per Division</th>
                    <th>Workshop per Week per Division</th>
                    <th>Session Events per Semester</th>
                    <th>Acad Session</th>
                    <th>Continuous</th>
                    <th>Action</th>
                </thead>`;
            if (workloadList.length > 0) {
                let count = 1;
                for (let course of workloadList) {
                    AjaxTable +=
                        `<tr>
                            <td>${count++}</td>
                            <td>${course.module_name}</td>
                            <td>${course.module_id}</td>
                            <td>${course.program_id}</td>
                            <td>${course.electives}</td>
                            <td>${course.intake}</td>
                            <td>${course.student_per_division}</td>
                            <td>${course.lec_per_week_per_division}</td>
                            <td>${course.practical_per_week_per_division}</td>
                            <td>${course.tutorial_per_week_per_division}</td>
                            <td>${course.workshop_per_week_per_division}</td>
                            <td>${course.session_events_per_semester}</td>
                            <td>${course.acad_session_lid}</td>
                            <td>${course.continuous}</td>
                            <td><label class="switch">
                                    <input type="checkbox" class="changeStatus" data-id="${course.id}"
                                        data-status="${course.status}"
                                        ${course.status == 'Yes' ? 'Checked' :  '' }>
                                    <span class="switch-slider round"></span>
                                </label></td>
                        </tr>`
                }
            } else {
                AjaxTable +=
                    ` <tr><td colspan="15">No Data Found</td></tr>`;
            }
            AjaxTable += `<tbody></table>`
            $("#courseWorkloadTable").html(AjaxTable);
        }

    })
</script>
<%- include("../partials/footerEnd") %>