<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    
    <div class="breadcrumbs-container">
        <ul class="breadcrumb">
            <% if(breadcrumbs){%> <% for (let crumbs of breadcrumbs){%>
                <li><a href="<%- crumbs.url%>"><%- crumbs.name%></a></li>
                <%} }%>
        </ul>
    </div>

    <div class="card table-card mt-3">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>COURSE DAY ROOM PREFERENCE</h5>
            </div>
            <div>
                <!-- <button type="button" class="btn add-btn ms-auto" data-bs-toggle="modal"
                    data-bs-target="#add-courseDayPreference-modal">
                    <i class="fas fa-plus"></i></button> -->
                <button class="btn btn-danger ms-auto refresh_course_day_room_preferences"><i class="fa-solid fa-rotate"></i> Refresh</button>
            </div>
        </div>
        
        <div class="card-body table-responsive">
           <div class="row">
               <div class="col-md-3">
                <label class="form-label">Select Program</label>
                <select class="form-select" >
                    <%for(let program of programList){%>
                        <option value="<%-program.id%>"><%-program.program_name%></option>    
                    <%}%> 
                  </select>
               </div>

               <div class="col-md-3">
                <label class="form-label">Select Academic Session</label>
                <select class="form-select" >
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
               </div>

               <div class="col-md-3">
                <label class="form-label">Select Module</label>
                <select class="form-select" >
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
               </div>

               <div class="col-md-3">
                <label class="form-label">Select Division</label>
                <select class="form-select mb-3">
              
                </select>
               </div>
           </div>
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>

                    <div class="table-responsive" >
                        <table class="table table-bordered table-bordered" id="add-more-courseDayRoomPreference-table">
                            <thead>
                                <th>Sr No.</th>
                                <th>Program Name</th>
                                <th>Acad Session</th>
                                <th>Module Name</th>
                                <th>Division</th>
                                <th>Batch</th>
                                <th>Day Select All <input type="checkbox" id="dayCheck"></th>
                                <th>Room No Select All <input type="checkbox" id="roomCheck"></th>
                            </thead>
                            <tbody>
                                <%let _count = 1;%>
                               <%for(let list of icwList){%>
                                <tr>
                                    <td><%- _count++%></td>
                                    <td><%- list.program_name %></td>
                                    <td><%- list.acad_session %></td>
                                    <td><%- list.module_name %></td>
                                    <td>
                                        <%- list.division %>
                                    </td>
                                    <td>
                                        <%- list.batch %> ( <%- list.batch_event %>)
                                    </td>
                                    <td>
                                    <select class="select2 dayName" name="dayName"  multiple>
                                        <%for(let day of dayList){%>
                                        <option value="<%-day.id%>"><%-day.day_name %></option>
                                        <%}%>
                                    </select>
                                    </td>
                                    <td>
                                        <select class="select2 roomNumber" name="roomNumber"  multiple>
                                            <%for(let room of roomLists){%>
                                            <option value="<%-room.room_number%>"><%-room.room_number%> (<%-room.room_type%>)</option>
                                            <%}%>
                                        </select>
                                    </td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
            <div class="d-flex justify-content-between">
                <div>
                    <div class=""><div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="set-preferences" class="set-preferences"  value="0">
                        <label class="form-check-label" for="inlineRadio1">Any Preferences</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="set-preferences"  class="set-preferences" value="1">
                        <label class="form-check-label" for="inlineRadio2">Set Preferences</label>
                      </div></div>
                </div>
                <div>
                    <button type="button" class="btn createCoursePreference modal-inputform-btn" disabled>CREATE PREFERENCE</button>
                </div>
            </div>
        </div>


    </div>
</div>

<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>

<script>

    $(document).ready(function () {
        $('.select2').select2();
        $("#add-more-courseDayRoomPreference-table").on('change','.divisonNames',function(){
            let division_ids = $(this).val()
            console.log('division_id:::::::::::>>>',division_ids)
    if(division_ids != null){
        let ApiObj = {
                type: 'POST',
                url: '/admin/courseworkload/preference/batch-by-divisionid',
                data: {
                    array: JSON.stringify(division_ids),
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                let divisionName = ``;
                if (result.result.length > 0) {
                    result.result.forEach(element => {
                        divisionName +=`<option value="${element.id}">${element.batch} (${element.event_type})</option>`;
                    });
                } else {
                    divisionName += `<option disabled>No Batch Found!</option>`;
                }
                //"#division_batch"
                $($(this).parent().next().find('select')).html(divisionName).trigger('change')
            }).catch(error => {
                showError(error.responseJSON)
            })
    }else{
        console.log('Not Call Api if contain null value')
    }
 })




   //Day  Check
   $("#add-more-courseDayRoomPreference-table").on('change','#dayCheck',function(){
    if($(this).is(":checked")){
        $(".dayName").prop('disabled','disabled')
        console.log('True')
    }else
    {
        $(".dayName").removeAttr('disabled')
        console.log('False')
    }
 })

//Day  Check
    $("#add-more-courseDayRoomPreference-table").on('change','#roomCheck',function(){
    if($(this).is(":checked")){
        $(".roomNumber").prop('disabled','disabled')
        console.log('True')
    }else
    {
        $(".roomNumber").removeAttr('disabled')
        console.log('False')
    }
 })


        //CREATING JSON FOR COURSE DAY ROOM PREFERENCE
        $(".createCoursePreference").on('click',function(){
            let courseDayList = $('#add-more-courseDayRoomPreference-table tbody tr');
            let courseDayCount = courseDayList.length;
            let courseDayJson = [];
            courseDayList.each(function (index, elem) {
                let program_lid = $(elem).find('td[data-program-lid]').attr("data-program-lid")
                let acad_session_lid = $(elem).find('td[data-acad-session-lid]').attr("data-acad-session-lid")
                let course_lid = $(elem).find('td[data-course-name-lid]').attr("data-course-name-lid")
                let division_lid = $(elem).find('td[data-division-lid]').attr("data-division-lid")
                let day_name_lid = $(elem).find('td[data-day-name-lid]').attr("data-day-name-lid")
                let room_number_lid = $(elem).find('td[data-room-number-lid]').attr("data-room-number-lid")
                let batch_lid = $(elem).find('td[data-batch-lid]').attr("data-batch-lid")
                if (index < courseDayCount - 1) {
                    let obj = {
                        program_lid: program_lid,
                        acad_session_lid: acad_session_lid,
                        course_lid: course_lid,
                        division_lid: division_lid, 
                        day_name_lid: day_name_lid,
                        room_number_lid: room_number_lid,
                        batch_lid:batch_lid
                    }
                    courseDayJson.push(obj)
                } else {
                    let obj = {
                        program_lid: program_lid,
                        acad_session_lid: acad_session_lid,
                        course_lid: course_lid,
                        division_lid: division_lid, 
                        day_name_lid: day_name_lid,
                        room_number_lid: room_number_lid,
                        batch_lid:batch_lid
                    }
                    courseDayJson.push(obj)
                }
            })
            console.log('Hell:::::::::::::::::::::>>>>',courseDayJson)

            let apiObj = {
                type:"POST",
                url:"/admin/courseworkload/preference/create",
                data: {
                    inputJSON: courseDayJson
                },
                dataType:"JSON"
            }
            ajaxApi(apiObj).then(result => {
                console.log('result ::::::::::::::::::::::', result)
                showSuccess(result)
            }).catch(error => {
                console.log('Error ::::::::::::::::::::::', error)
                showError(error.responseJSON)
            })
        })

     

    




//Set Preference
$("input[name='set-preferences']").on('click',function(){
    let value = $(this).val()
    //createCoursePreference
    if(value){
        $(".createCoursePreference").removeAttr('disabled')
    }else{
        $(".createCoursePreference").prop('disabled','disabled')
    }

    if(value == 0){
        $("#add-more-courseDayRoomPreference-table").css('visibility','hidden')
    }else{
        $("#add-more-courseDayRoomPreference-table").css('visibility','visible')
    }
})

      



        $(".refresh_course_day_room_preferences").on('click',function(){
            let apiObj = {
                type:"POST",
                url:"/admin/courseworkload/preference/refresh",
                data: {},
                dataType:"JSON"
            }
            ajaxApi(apiObj).then(result => {
                console.log('result ::::::::::::::::::::::', result)
                showSuccess(result)
            }).catch(error => {
                console.log('Error ::::::::::::::::::::::', error)
                showError(error.responseJSON)
            })
        })



        function showError(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: "",
                type: 'alert-success',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
        }


        function showSuccess(errors) {
            console.log(errors);
            let simpleAlert = new SimpleAlert();
            let obj = {
                title : errors.description,
                message: "",
                type: 'alert-success',
                buttons: {
                    positive:{
                        text: "Okay",
                        action: function(){
                            document.querySelector('.simple-alert').remove();
                        }
                    },
                    negative: {
                        text: "Cancel",
                        action: function () {
                        alert('Negative')
                        }
                    }
                }
            }
            simpleAlert.alert(obj);
        }

    })
</script>
<%- include("../partials/footerEnd") %>