<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
                    <!--DASHBOARD CONTENT START-->
                    <div class="card">
                        <div class="card-header">
                            <h1 class="f-20">Uploaded Course Work-load</h1>
                        </div>
                        <div class="card-body">

                            <hr />

                            <div class="table-responsive">
                            <table id="seeUploadedCourse" class="table table-bordered time-table-daywise call-datatable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Sr No</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">Course Name</th>
                                        <th scope="col">No of Divisions</th>
                                        <th scope="col">Lec/Week/Divisions</th>
                                        <th scope="col">Practical/Week/Divisions</th>
                                        <th scope="col">Weekly Session</th>
                                        <th scope="col">Semester Sessions</th>
                                        <th scope="col">Program Id</th>
                                        <th scope="col">Module Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% 
                                        let course;
                                        let slNo = 0;
                                        for(course of courseList) {
                                            slNo++
                                    %>
                                        <tr>
                                            <td><%- slNo %></td>
                                            <td><%- course.acadSession %></td>
                                            <td><%- course.CourseName %></td>
                                            <td><%- course.NoofDivisions %></td>
                                            <td><%- course.LecturesperWeekperdivision %></td>
                                            <td><%- course.practicalPerWeekPerDivision %></td>
                                            <td><%- course.TotalSessionsperWeek %></td>
                                            <td><%- course.SessionsperSemester %></td>
                                            <td><%- course.programId %></td>
                                            <td><%- course.moduleId %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>


                        </div>
                    </div>

                    <!--DASHBOARD CONTENT END-->

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>
