<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
                    <!--DASHBOARD CONTENT START-->
                    <div class="card">
                        <div class="card-header">
                            <h1 class="f-20">Allocate Rooms</h1>
                        </div>
                        <div class="card-body">

                            <hr />

                            <div class="row">
                                <div class="col-4">
                                    <!-- <input class="search-room mb-3" type="search" placeholder="Search Room"> -->
                                    <select class="campusPicker form-control mb-3" id="roomlistCampusPicker" data-style="btn-info" name="campusPicker">
                                        <option selected disabled>Select Campus Id</option>
                                        <% for (var x in values) { %>
                                        <option><%- values[x].campusId; %></option>
                                        <% } %>
                                    </select>
                                   
                                </div>

                                <br>

                                <div class="col-8 fullscreen mb-3">
                                  <!-- <a href="/roomdata/downloadroomtimesheet" class="btn btn-info" role="button">Download Sheet</a>
                                    <button class="btn btn-sm btn-outline-dark btn-fullscreen" data-toggle="modal" data-target="#full-screen-modal"><i class="fas fa-compress"></i></button>
                                    <button class="btn btn-sm btn-outline-dark" type="button" href="/roomdata/downloadroomtimesheet"><i class="fas fa-download"></i></button>
 -->
                                  <!-- <a class="btn btn-primary" href="#" role="button">Start Allotment Process</a>
                                  <a href="/courseworkload/deleteCourseWorkloadForProgramWise/" id="deleteCourseWorkloadForProgramWise" class="btn btn-info" role="button">Delete All Workloads</a> -->

                                </div>
                            </div>
     

                            <table id="seeRoomListCampusWise" class="table table-responsive table-bordered time-table-seeRoomListCampusWise scroll">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Room No</th>
                                        <th scope="col">Room Type</th>
                                        <th scope="col">Active</th>
                                        <th scope="col">Alloted</th>
                                        <th scope="col">Allotment</th>
                                        <th scope="col">Alloted By</th>
                                        <th scope="col">Floor</th>
                                        <th scope="col">Capacity</th>
                                        <th scope="col">Building Name</th>
                                        <th scope="col">owned_by</th>

                                    </tr>
                                </thead>
                                <tbody>


                                </tbody>
                            </table>


                        </div>
                    </div>

                    <!--DASHBOARD CONTENT END-->

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>