<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
                    <!--DASHBOARD CONTENT START-->
                    <div class="card">
                        <div class="card-header">
                            <h1 class="f-20">Room Data</h1>
                        </div>
                        <div class="card-body">
                          
                            <hr />

                            <div class="row">
                                <div class="col-sm-4 mb-3">
                                    <input class="search-room form-control" type="search" placeholder="Search Room">
                                </div>

                            </div>

                            <div class="table-responsive">
                            <table id="allotedTimeSlotData" class="table table-bordered time-table-daywise scroll">
                                <thead class="thead-dark">
                                    <tr>
                                      <th scope="col">Room No</th>
                                      <th scope="col">Room Type</th>
                                      <th scope="col">Active</th>
                                      <th scope="col">Alloted</th>
                                      <th scope="col">Floor</th>
                                      <th scope="col">Capacity</th>
                                      <th scope="col">Owned By</th>
                                      <th scope="col">Handled By</th>
                                      <th scope="col">Designation</th>
                                      <th scope="col">Teaching or Non-Teaching</th>
                                      <th scope="col">Building Name</th>
                                      <th scope="col">Number</th>
                                      <th scope="col">Description</th>
                                      <th scope="col">Status</th>
                                      <th scope="col">Allotment</th>
                                      <th scope="col">Alloted By</th>
                                      <th scope="col">School Id</th>
                                      <th scope="col">Campus Id</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>                     

                                  <% values.forEach((value) => { %>

                                    <tr>
                                        <td class="room-no" room-no="" scope="row"><%- value.roomno %></td>
                                        <td><%- value.roomtype %></td>
                                        <td><%- value.active %></td>
                                        <td><%- value.alloted %></td>
                                        <td><%- value.floor %></td>
                                        <td><%- value.capacity %></td>
                                        <td><%- value.owned_by %></td>
                                        <td><%- value.handled_by %></td>
                                        <td><%- value.designation %></td>
                                        <td><%- value.t_or_nont %></td>
                                        <td><%- value.building_name %></td>
                                        <td><%- value.number %></td>
                                        <td><%- value.descpt %></td>
                                        <td><%- value.floor %></td>
                                        <td><%- value.capacity %></td>
                                        <td><%- value.status %></td>
                                        <td><%- value.allotment %></td>
                                        <td><%- value.allotedBy %></td>
                                        <td><%- value.schoolId %></td>
                                        <td><%- value.campusId %></td>

                                    </tr>

                                <% })  %>



                                <tr>
                                    <td class="noResult text-center d-none" colspan="10">
                                    <i class="fas fa-exclamation-circle text-danger fa-4x"></i>
                                    <h5>No Data Found</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>


                        </div>
                    </div>

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>