<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
                <!--Notificaion icon-->
                <!--HEADER END-->
                <div class="col-12 dashboardContent">
                                    <!--DASHBOARD CONTENT START-->

                                    <div class="card">
                                        <div class="card-header text-uppercase">
                                            <h5>Room Data Upload Failed As your Excel Sheet contained below errors.</h5>

                                        </div>
                                        <div class="card-body">

                                            <ul>
                                                <% values.forEach(function(value){ %>
                                                  <h2><%- value %></h2>
                                                <% }); %>
                                                </ul>

                                        </div>
                                    </div>
                                    <!--DASHBOARD CONTENT END-->
                                </div>
                        </div>
                    </div>
                    <!--DASHBOARD CONTENT END-->
                </div>
                <!--RIGHT SIDE BAR FOR MOBILE START-->
                <!--RIGHT SIDE BAR FOR MOBILE END-->
            </div>
        </div>
    </div>

<%- include("../partials/footer") %>
<%- include("../partials/footerEnd") %>