<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="col-12 dashboardContent">
    <!--DASHBOARD CONTENT START-->
    <div class="card">
        <div class="card-header">
            <h1 class="f-20">Course List Status For Module</h1>
        </div>
        <div class="card-body">
            <hr/>
            <div class="row">
                <div class="col-sm-6 mt-3">
                    <select class="programPicker form-control" id="courseListStatusProgramPicker">
                        <option disabled selected>Select Semester</option>
                        <% data.forEach((value) =>{ %>
                            <option value="<=% value.programId %>"><%- value.programName %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-sm-6 mt-3">
                    <select class="sessionPicker form-control" id="courseListStatusSessionPicker">
                        <option disabled selected>--Select Semester/Division--</option>
                    </select>
                </div>

            </div>
            <hr />
            <table class="table table-responsive table-bordered time-table-daywise">
                <thead class="thead-dark">
                </thead>
                <tbody>

                </tbody>
            </table>


        </div>
    </div>


    <!--DASHBOARD CONTENT END-->

   <%- include("../partials/footer") %>
        <script>
            $("#courseListStatusProgramPicker").change(function(){
                $.ajax({
                    
                })
            })
        </script>
    <%- include("../partials/footerEnd") %>