<%- include("../partials/head") %>
    <%- include("../partials/leftSidebar") %>
        <%- include("../partials/header") %>

            <div class="col-12 dashboardContent">
                <!--DASHBOARD CONTENT START-->
                <div class="card">
                    <div class="card-header">
                        <h1 class="f-20">Course Work-load Status</h1>
                    </div>
                    <div class="card-body">

                        <hr />

                        <div class="row">
                            <div class="col-md-4">
                                <select class="programPicker form-control mb-3" id="moduleListProgramPicker"
                                    name="programPicker">
                                    <option selected disabled>--Select Program--</option>
                                    <% for (let program of programList) { %>
                                        <option value="<%- program.programId %>">
                                            <%- program.programName %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control mb-3" id="semesterDivPicker">
                                </select>
                            </div>

                            <br>

                            <div class="col-8 fullscreen mb-3">
                                <!-- <a href="/roomdata/downloadroomtimesheet" class="btn btn-info" role="button">Download Sheet</a>
                                    <button class="btn btn-sm btn-outline-dark btn-fullscreen" data-toggle="modal" data-target="#full-screen-modal"><i class="fas fa-compress"></i></button>
                                    <button class="btn btn-sm btn-outline-dark" type="button" href="/roomdata/downloadroomtimesheet"><i class="fas fa-download"></i></button>
 -->
                                <!-- <a class="btn btn-primary" href="#" role="button">Start Allotment Process</a>
                                  <a href="/courseworkload/deleteCourseWorkloadForProgramWise/" id="deleteCourseWorkloadForProgramWise" class="btn btn-info" role="button">Delete All Workloads</a> -->

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="seeModuleList"
                                class="table table-bordered table-striped time-table-daywise call-datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Module Id</th>
                                        <th scope="col">Module Name</th>
                                        <th scope="col">Divisions</th>
                                        <th scope="col">Acad Session</th>
                                        <th scope="col">Available Lec/Week/Divisions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>

                <!--DASHBOARD CONTENT END-->

                <%- include("../partials/footer") %>
                    <script>
                        $(document).ready(function () {

                            //DATATABLE FUNCTION
                            function callDatatable() {
                                if ($('.call-datatable').length > 0) {
                                    //CALL DATATABLE
                                    $('.call-datatable').DataTable({
                                        autoFill: false,
                                        //scrollY: 400,
                                        scrollX: '100%',
                                        deferRender: true,
                                        scrollY: true,
                                        scrollX: true,
                                        paging: false,
                                        initComplete: function () {
                                            this.api().columns().every(function () {
                                                var column = this;
                                                var select = $(
                                                    '<select><option value="">-Select-</option></select>'
                                                )
                                                    .appendTo($(column.footer()).empty())
                                                    .on('change', function () {
                                                        var val = $.fn.dataTable.util.escapeRegex(
                                                            $(this).val()
                                                        );

                                                        column
                                                            .search(val ? '^' + val + '$' : '',
                                                                true, false)
                                                            .draw();
                                                    });

                                                column.data().unique().sort().each(function (d, j) {
                                                    select.append('<option value="' + d +
                                                        '">' + d + '</option>')
                                                });
                                            });
                                        }
                                    })

                                    $('.call-datatable tbody tr').click(function () {
                                        if ($('.call-datatable tbody tr').hasClass('tr-selected')) {
                                            $('.call-datatable tbody tr').removeClass('tr-selected')
                                        } else {
                                            $(this).addClass('tr-selected')
                                        }
                                    })

                                    //CALL DATATABLE END
                                }
                            }
                            //DATATABLE FUNCTION ENDS HERE



                            $("#moduleListProgramPicker").change(function () {
                                //$('#seeUploadedCourse tbody').removeClass('d-none');
                                console.log("HIT")
                                $.ajax({
                                    type: 'POST',
                                    url: '/modulelist/semesterDiv/',
                                    dataType: "json",
                                    data: {
                                        programId: $(this).val()
                                    },
                                    success: function (data) {
                                        if (data.cause == "permission denied") {
                                            window.location = data.reqUrl
                                            return
                                        }
                                        let result = data.data
                                        console.log("Fetched Data------------------->", result)
                                        let ajaxOption = "<option>--Select Semester/Division--</option>"

                                        for (value of result) {
                                            ajaxOption += "<option value='" + value.acadSession + "/" +
                                                value.division + "'>" + value.acadSession + "/" + value
                                                    .division + "</option>"
                                        }

                                        $("#semesterDivPicker").html(ajaxOption)
                                    }

                                })
                            })

                            $("#semesterDivPicker").change(function () {
                                $('.call-datatable').DataTable().destroy()
                                let pArr = $(this).val().split('/')
                                $.ajax({
                                    type: 'POST',
                                    url: '/modulelist/getModuleListProgramWise/',
                                    dataType: 'json',
                                    data: {
                                        programId: $("#moduleListProgramPicker").val(),
                                        acadSession: pArr[0],
                                        division: pArr[1]
                                    },
                                    success: function (result) {
                                        if (result.cause == "permission denied") {
                                            window.location = result.reqUrl
                                            return
                                        }
                                        (async function () {

                                            let promise = new Promise((resolve, reject) => {
                                                let data = result.data
                                                var ajaxData = "";
                                                for (let singleResult of data) {
                                                    ajaxData +=
                                                        "<tr><td class='room-no' room-no='' scope='row'>" + singleResult.moduleId + "</td><td>" + singleResult.moduleName + "</td><td>" + singleResult.divison + "</td><td>" + singleResult.acadSession + "</td><td>" + singleResult.lecPerWeek + "</td></tr>";
                                                }

                                                $('#seeModuleList tbody').html(ajaxData)

                                                resolve("Successfull")
                                            });
                                            let outVal = await promise;
                                            callDatatable()
                                        })()

                                    }
                                })
                            })

                        })
                    </script>
                    <%- include("../partials/footerEnd") %>