<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>
<!--Notificaion icon-->
<!--HEADER END-->

<div class="main-content">
    <!--DASHBOARD CONTENT START-->
    <div class="card table-card">
        <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
            <div>
                <h5>Organizations</h5>
            </div>
            <div>
                <button class="btn ms-auto add-btn" data-bs-toggle="modal" data-bs-target="#add-org-modal"><i
                        class="fas fa-plus"></i></button>
                <button class="btn ms-auto delete-organizations add-btn "><i class="fas fa-trash"></i></button>
                <button class="btn ms-auto bulk-delete-organizations add-btn "><img src="/icons/delete.png" alt="" width="26px" height="32px"></button>
            </div>
        </div>
        <div class="card-body table-responsive">
            <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i> </button><input
                    type="search" id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
            <table class="table custom_row organizationTable" id="organizationTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Abbr</th>
                        <th>Name</th>
                        <th>Complete Name</th>
                        <th>Type</th>
                        <th>Action</th>
                        <th>Check All <input type="checkbox" class="selectAll-org"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let org of orgList) { %>
                    <tr>
                        <td>
                            <%- org.org_id %>
                        </td>
                        <td>
                            <%- org.org_abbr %>
                        </td>
                        <td>
                            <%- org.org_name %>
                        </td>
                        <td>
                            <%- org.org_complete_name %>
                        </td>
                        <td>
                            <%- org.org_type %>
                        </td>
                        <td>
                            <i class="fas fa-edit text-dark cursor-pointer edit-org" data-org-id="<%- org.id %>"></i>
<<<<<<< HEAD
=======

>>>>>>> 7f4b3ca51cdaa9f75b64d4959981823a7f7afe5e
                        </td>
                        <td>
                            <input type="checkbox" data-org-id="<%- org.id %>" data-orgid="<%- org.org_id %>"
                                class="delete-org">
<<<<<<< HEAD
=======

>>>>>>> 7f4b3ca51cdaa9f75b64d4959981823a7f7afe5e
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>


            <div class="d-flex justify-content-between">
                <div>
                    <p>Total entries:<%- pageCount %>
                    </p>
                </div>
                <div>
                    <p id="pagination"></p>
                </div>
            </div>
        </div>
    </div>
    <!--DASHBOARD CONTENT END-->
</div>



<!-- ADD NEW ORG MODAL -->
<div class="modal fade" id="add-org-modal" aria-labelledby="add-building-modal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content modal-inputform">
            <div class="modal-header modal-inputform-header">
                <h5 class="modal-title" id="add-org-modal-title">Add New
                    Organization</h5>
                <button type="button" class="btn fs-4 text-dark" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div id="errorHtml"></div>
                <input type="hidden" id="roomId" name="roomId">
                <div class="table-responsive">
                    <table class="table table-bordered organizationTable" id="add-more-org-table">
                        <thead>
                            <th>Organization Id</th>
                            <th>Organization Abbr</th>
                            <th>Organization Name</th>
                            <th>Organization Complete Name</th>
                            <th>Organization Type</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input name="orgLid" id="orgLid" type="hidden">
                                    <input name="orgId" id="orgId" type="number" class="form-control"
                                        placeholder="Organization Id" required>
                                </td>
                                <td>
                                    <input name="orgAbbr" id="orgAbbr" type="text" class="form-control"
                                        placeholder="Organization Abbr" required>
                                </td>
                                <td>
                                    <input name="orgName" id="orgName" type="text" class="form-control"
                                        placeholder="Organization Name" required>
                                </td>
                                <td>
                                    <input name="orgCompleteName" id="orgCompleteName" type="text" class="form-control"
                                        placeholder="Organization Complete Name" required>
                                </td>
                                <td>
                                    <select class="form-control modalSelect2" name="orgType" id="orgType" required>
                                        <option disabled selected value>--Organization Type--</option>
                                        <% for(let orgType of orgtypeList) { %>
                                        <option value="<%- orgType.id %>">
                                            <%- orgType.name %>
                                        </option>
                                        <% } %>
                                    </select>
                                </td>

                                <td>

                                    <i class="far fa-edit d-none"></i>
                                    <i class="fas fa-trash-alt text-danger cursor-pointer remove"></i>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button> -->
                <button type="button" class="btn btn-success  btn-sm" id="add-more-orgnization"><i
                        class="fas fa-plus"></i> Add
                    More Organization</button>
                <button type="submit" class="btn  createOrg modal-inputform-btn">Create
                    Organization</button>
                <button type="submit" class="btn  updateOrg modal-inputform-btn d-none">Update
                    Organization</button>
            </div>

        </div>
    </div>
</div>
<%- include('../partials/notification') %>
<%- include('../partials/alert') %>

<%- include("../partials/footer") %>
<script src="https://cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>
<script>
    $('#add-more-orgnization').on('click', function () {
        console.log("Organization Added::::")

        let lastTr = $('#add-more-org-table tbody tr:last-child')
        let orgId = lastTr.find(`select[name='orgId']`).val();
        let orgAbbr = lastTr.find(`select[name='orgAbbr']`).val();
        let orgName = lastTr.find(`select[name='orgName']`).val();
        let orgCompleteName = lastTr.find(`select[name='orgCompleteName']`).val();
        let orgType = lastTr.find(`select[name='orgType']`).val();

        let clonedTr = lastTr.clone();
        clonedTr.find(`input[name='orgId']`).val('')
        clonedTr.find(`input[name='orgAbbr']`).val('')
        clonedTr.find(`select[name='orgName']`).val('')
        clonedTr.find(`select[name='orgCompleteName']`).val('')
        clonedTr.find(`select[name='orgType']`).val(orgType).trigger('change');

        $('#add-more-org-table tbody').append(clonedTr)
    })

    $('#add-org-modal').on('click', '.remove', function () {
        let trLength = $('#add-org-modal tbody tr').length;

        if (trLength > 1) {
            $(this).closest('tr').remove()
        } else {
            alert('Cannot delete this room.')
        }
    })

       //Select All Organizations
       $(".selectAll-org").on('click', function () {
        console.log('checked!!')
        if (this.checked) {
            // Iterate each checkbox
            $('.delete-org:checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $('.delete-org:checkbox').each(function () {
                this.checked = false;
            });
        }
    })

    //Create 
    $(".createOrg").on('click', function () {
        let orgElems = $('#add-more-org-table tbody tr');
        let orgCount = orgElems.length;
        let orgJson = [];
        orgElems.each(function (index, elem) {
            let orgId = $(elem).find(`input[name='orgId']`).val()
            let orgAbbr = $(elem).find(`input[name='orgAbbr']`).val()
            let orgName = $(elem).find(`input[name='orgName']`).val()
            let orgCompleteName = $(elem).find(`input[name='orgCompleteName']`).val()
            let orgType = $(elem).find(`select[name='orgType']`).val()

            if (index < orgCount - 1) {
                let obj = {
                    org_id: orgId,
                    org_id_str: orgId,
                    org_abbr: orgAbbr,
                    org_name: orgName,
                    org_complete_name: orgCompleteName,
                    org_type_id: orgType
                }
                orgJson.push(obj)
            } else {
                let obj = {
                    org_id: orgId,
                    org_id_str: orgId,
                    org_abbr: orgAbbr,
                    org_name: orgName,
                    org_complete_name: orgCompleteName,
                    org_type_id: orgType
                }
                orgJson.push(obj)
            }
        })


        console.log('orgJson::::::::::::::::::::>>>', orgJson)

        let ApiObj = {
            type: 'POST',
            url: '/management/organizations',
            data: {
                inputJSON: JSON.stringify(orgJson)
            },
            dataType: 'JSON'
        }

        ajaxApi(ApiObj).then(result => {
            console.log('Result:::::::::::', result)
        //   location.reload()
        notify();
        }).catch(error => {

            let errors = JSON.parse(error.responseJSON)
            console.log('Error:::::::::::', errors)
            let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <p>${errors.description}</p>
                    <ul>`
            errors.data.map(er => {
                console.log('Errr:::::::::::>>', er)
                errorHtml +=
                    `<li>${er.org_id} ${er.org_abbr}</li>`
            })
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
            $("#errorHtml").html(errorHtml)
        })

    })

    $('#organizationTable').on('click', '.edit-org', function () {
        $(".createOrg").addClass('d-none')
        $(".updateOrg").removeClass('d-none')
        $("#add-more-orgnization").addClass('d-none')
        $("#add-org-modal-title").html("Update Organization")

        let ApiObj = {
            type: 'POST',
            url: '/management/organization/single',
            data: {
                Id: $(this).attr('data-org-id')
            },
            dataType: 'JSON'
        }

        ajaxApi(ApiObj).then(result => {
            let org = result.orgData;
            $('#orgLid').val(org.id)
            $('#orgId').val(org.org_id)
            $('#orgAbbr').val(org.org_abbr)
            $('#orgName').val(org.org_name)
            $('#orgCompleteName').val(org.org_complete_name)
            $('#orgType').val(org.org_type_id).trigger('change')
            $("#add-org-modal").modal('show')
        }).catch(error => {

let errors = error.responseJSON.message
            console.log('Error:::::::::::', errors)
            let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
            errors.map(er => {
                console.log('Errr:::::::::::>>', er)
                errorHtml +=
                    `<li>${er}</li>`
            })
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
            $("#errorHtml").html(errorHtml)     
        })
    })

    $(".updateOrg").on('click', function () {
        $.ajax({
            url: '/management/organization',
            method: 'PUT',
            type: 'JSON',
            data: {
                id: $('#orgLid').val(),
                org_id: $('#orgId').val(),
                org_abbr: $('#orgAbbr').val(),
                org_name: $('#orgName').val(),
                org_complete_name: $('#orgCompleteName').val(),
                org_type_id: $('#orgType').val()
            },
            success: data => {

                console.log('errorHtml::::::::>>', data)
                if (data.status == 200) {
                    location.reload()
                } else {
                    let errorHtml =
                        `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul><li>${data.message}</li></ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                    console.log('errorHtml::::::::>>', errorHtml)
                    $("#errorHtml").html(errorHtml)
                }

            },
            error: err => {
                let error = err.responseJSON.errors
                let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Errorss</h3>
                    <ul>`
                error.map(er => {
                    errorHtml +=
                        `<li>${er.msg}</li>`
                })
                errorHtml +=
                    `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                $("#errorHtml").html(errorHtml)
            }
        })
    })

<<<<<<< HEAD

  
=======
>>>>>>> 7f4b3ca51cdaa9f75b64d4959981823a7f7afe5e


    //Delete Single and mutiple Delete
    $('.delete-organizations').on('click', function () {
        let deleteids = []
        $('.delete-org:checked').each(function () {
            let obj = {
                id: $(this).attr("data-org-id"),
                org_id: $(this).attr("data-orgid")
            }
            deleteids.push(obj)
        })

        if (deleteids.length > 0) {

            console.log('deleteids::::::::::::::',deleteids)
            let ApiObj = {
                url: '/management/organizations',
                type: 'DELETE',
                data: {
                    Ids: JSON.stringify(deleteids)
                },
                dataType: 'JSON'
            }
            ajaxApi(ApiObj).then(result => {
                notify();
                

            }).catch(error => {
                let errors = error.responseJSON.message
                console.log('Error:::::::::::', errors)
                let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
                errors.map(er => {
                    errorHtml +=
                        `<li>${er}</li>`
                })
                errorHtml +=
                    `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
                $("#errorHtml").html(errorHtml)
            })

        } else {
          return
        }
    })
<<<<<<< HEAD
=======

>>>>>>> 7f4b3ca51cdaa9f75b64d4959981823a7f7afe5e

    //Bulk Delete
    $(".bulk-delete-organizations").on('click', function () {
        console.log('bulk-delete-organizations')
        let ApiObj = {
            url: '/management/organizations',
            type: 'PATCH',
            data: {

            },
            dataType: 'JSON'
        }
<<<<<<< HEAD
=======

>>>>>>> 7f4b3ca51cdaa9f75b64d4959981823a7f7afe5e
        alertMsg()

        $('.continue').on('click', () => {
            console.log('it worked!!!!!')
<<<<<<< HEAD
=======

>>>>>>> 7f4b3ca51cdaa9f75b64d4959981823a7f7afe5e
        ajaxApi(ApiObj).then(result => {
            
            location.reload()
        }).catch(error => {
            let errors = error.responseJSON.message
            console.log('Error:::::::::::', errors)
            let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
            errors.map(er => {
                errorHtml +=
                    `<li>${er}</li>`
            })
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
            $("#errorHtml").html(errorHtml)
        })
<<<<<<< HEAD
        })
       
        $('.cancel').on('click', () => {$('#alertModal').css('display','none');})
=======

        })
       
        $('.cancel').on('click', () => {$('#alertModal').css('display','none');})

>>>>>>> 7f4b3ca51cdaa9f75b64d4959981823a7f7afe5e
    })


    // validation demo:
    //Pagination Here
    let pageCount = `<%- pageCount %>`
    console.log("Page Count=====>>>", pageCount)
    let pageNos = Math.ceil(Number(pageCount) / 10)
    console.log("Page Numbers", pageNos)
    $('#pagination').bootpag({
        total: pageNos,
        page: 1,
        maxVisible: 10,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {

        $.ajax({
            type: "POST",
            url: "/management/organization/pagination",
            data: {
                pageNo: num
            },
            success: function (data) {
                let orgList = data.data;
                console.log('orgList:::::::>>', orgList)
                let orgAjax = `<table class="table custom_row organizationTable" id="organizationTable">
                    <thead>
                        <th>Id</th>
                        <th>Abbr</th>
                        <th>Name</th>
                        <th>Complete Name</th>
                        <th>Type</th>
                        <th>Action</th>
                        <th>All <input type="checkbox" class="selectAll-org"></th>
                    </thead>
                    <tbody>`;
                for (org of orgList) {
                    orgAjax +=
                        `     <tr>
                            <td>${org.org_id}</td>
                            <td>${org.org_abbr}</td>
                            <td>${org.org_name}</td>
                            <td>${org.org_complete_name}</td>
                            <td>${org.org_type}</td>
                            <td>
                                <i class="fas fa-edit text-dark cursor-pointer edit-org" data-org-id="${org.id}"
                                    ></i>
                               
                            </td>
                            <td>
                               
                                <input type="checkbox" data-org-id="${org.id}" 
                                class="delete-org">
                            </td>
                        </tr>`
                }
                orgAjax += `<tbody></table>`
                $("#organizationTable").html(orgAjax);
            }
        })
    });


    //search feature delay function is writter in script.js file which is located in public/js/script.js
    $('#searchkeyword').on('input', delay(function (e) {
        let keyword = $("#searchkeyword").val()



        let ApiObj = {
            url: "/management/organization/search",
            type: "POST",
            data: {
                keyword: keyword
            },
            dataType: 'JSON'
        }

        ajaxApi(ApiObj).then(result => {
            console.log('campusList::::::', result)
            let orgList = result.data;

            let AjaxTable = `<table class="table table-bordered" id="organizationTable">
                    <thead>
                        <th>Id</th>
                        <th>Abbr</th>
                        <th>Name</th>
                        <th>Complete Name</th>
                        <th>Type</th>
                        <th>Action</th>
                        <th>All <input type="checkbox" class="selectAll-org"></th>
                    </thead>
                    <tbody>`;

            if (orgList.length > 0) {
                for (org of orgList) {
                    AjaxTable +=
                        `     <tr>
                            <td>${org.org_id}</td>
                            <td>${org.org_abbr}</td>
                            <td>${org.org_name}</td>
                            <td>${org.org_complete_name}</td>
                            <td>${org.org_type}</td>
                            <td>
                                <i class="fas fa-edit text-dark cursor-pointer edit-org" data-org-id="${org.id}"
                                    ></i>
                            </td>
                            <td>
                                <input type="checkbox" data-org-id="${org.id}" data-orgid="${org.org_id}"
                                class="delete-org">
                                </td>
                        </tr>`
                }
            } else {
                AjaxTable +=
                    ` <tr>
                                <td colspan="6">No Data Found</td>
                            </tr>`;
            }
            AjaxTable += `<tbody></table>`
            $("#organizationTable").html(AjaxTable);
        }).catch(error => {

            let errors = error.responseJSON.message
            console.log('Error:::::::::::', errors)
            let errorHtml = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h3>Error</h3>
                    <ul>`
            errors.map(er => {
                errorHtml +=
                    `<li>${er}</li>`
            })
            errorHtml +=
                `</ul> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>`
            $("#errorHtml").html(errorHtml)
        })
    }, 500));



    //Select Checkbox

    // $(document).ready(function(){
    //     $(".organizationTable").on('click',function(){

    //     })
    // })
</script>
<%- include("../partials/footerEnd") %>