<%- include ('../partials/head') %>
<%- include ('../partials/leftSidebar') %>
<%- include ('../partials/header') %>

<div class="col-12 dashboardContent">
    <!--DASHBOARD CONTENT START-->
    <div class="container-fluid pt-5">
        <div class="container pt-5 pb-5">
            <div class="col-lg-6 col-md-6 m-auto pt-5 pb-5 bg-white">
                <div class="pt-5 pb-5 bg-white text-center failure-status-div">
                    <img src="/img/error-alert.gif">
                    <div class="col-12 mt-3">
                        <h3 class="text-danger"><%- msg %></h3>
                        <p class="">Please report the error to help us
                            improve the application.</p>
                            <a class="btn btn-danger font-weight-bold" href="mailto:portal_app_team@svkm.ac.in">Report Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>

    <%- include('../partials/footerEnd') %>