<%- include("../partials/head") %>


<section class="loginOverlay vh-100 bg-light vw-100">
	<div class="container-fluid pt-5">
		<div class="container pt-5 pb-5">
			<div class="col-lg-6 col-md-6 m-auto pt-5 pb-5 bg-white">
				<% if(isSuccess) { %>
				<div class="pt-5 pb-5 bg-white text-center success-status-div">
					<img src="/img/success.jpg">
					<div class="col-12 mt-3">
						<h3 class="text-success"><%- msg %></h3>
						<p class="text-danger">Redirecting in <span id="countDown">5</span> seconds</p>
					</div>
				</div>
				<% } else { %>
					<div class="pt-5 pb-5 bg-white text-center failure-status-div">
						<img src="/img/failure.jpg">
						<div class="col-12 mt-3">
							<h3 class="text-danger"><%- msg %></h3>
							<p class="text-danger">Redirecting in <span id="countDown">5</span> seconds</p>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</section>


<%- include("../partials/footer") %>
<script>
	$(document).ready(function () {

		let countDown = 5;

		console.log(countDown)

		if (countDown > 0) {

			setInterval(() => {
				if (countDown > 0)
					countDown--
				$("#countDown").html(countDown)
			}, 1000)


		}

		setTimeout(() => {
			window.location.replace('<%- redirectUrl %>');
		}, 5000)

	})
</script>
<%- include("../partials/footerEnd") %>